
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.eziiii-a61 {
  width: 100%;
  height: 103.1rem;
  position: relative;
  background-color: #efefef;

  .frame-14-hRX {
    left: 33.2rem;
    display: flex;
    flex-direction: column;
    width: 108.8rem;
    height: 85.6rem;
    overflow: hidden;
    row-gap: 1.7rem;
    align-items: center;
    position: absolute;
    top: 12.9rem;

    .personaldocument-B5o {
      flex-direction: column;
      border-radius: 1.7rem;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .fetched-and-verified-documents-VsB {
        margin: 0rem 0rem 2.4rem 2.3rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.6025;
        color: #000000;
        font-family: Jomolhari, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .frame-13-NRB {
        border-radius: 1.7rem;
        flex-shrink: 0;
        width: 100%;
        height: 24.8rem;
        position: relative;
        overflow: hidden;

        .rectangle-16-XYy {
          top: 0;
          background-color: #d9d9d9;
          width: 150.5rem;
          height: 24.8rem;
          position: absolute;
          left: 0;
        }
        .group-12-H2M {
          height: 21.2rem;
          position: absolute;
          left: 2.9rem;
          top: 2.1rem;
          display: flex;
          align-items: flex-start;
          width: 141.8rem;

          .meraaddhar-DAu {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 6.3rem;
            width: 31.8rem;
            align-items: center;
            display: flex;

            .auto-group-gwnd-kgd {
              align-items: center;
              flex-direction: column;
              background-color: #ffffff;
              border-radius: 2.8rem;
              width: 100%;
              display: flex;
              border: solid 0 #000000;
              box-sizing: border-box;
              flex-shrink: 0;

              .auto-group-7jrv-6Vb {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0rem 1.4rem 0.8rem 1.6rem;
                width: 100%;
                align-items: center;

                .rectangle-82-R25 {
                  position: relative;
                  background-size: 158.642% 612.204%;
                  background-position: -7.5722rem -4.4584rem;
                  background-image: url('REPLACE_IMAGE:dbdf72e4461bbe34bd7048c39afc409d1db54bb6');
                  flex-shrink: 0;
                  margin: 0rem 0rem 0.9rem 0.1rem;
                  width: 26.1rem;
                  height: 4rem;
                }
                .auto-group-vrpp-W3X {
                  align-items: flex-end;
                  flex-shrink: 0;
                  width: 100%;
                  display: flex;

                  .img-aadhar-3ZF {
                    object-fit: cover;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 2.6rem 1rem 0rem;
                    width: 8rem;
                    height: 8.5rem;
                  }
                  .auto-group-rnsx-9MP {
                    margin-right: 2.8rem;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .aadhar-detail-hdo {
                      row-gap: 0.2rem;
                      display: flex;
                      flex-direction: column;
                      flex-shrink: 0;
                      margin-bottom: 2.8rem;

                      .name-raman-yadav-qED {
                        font-size: 0.9rem;
                        color: #000000;
                        font-family: Open Sans, 'Source Sans Pro';
                        display: flex;
                        align-items: baseline;
                        flex-shrink: 0;
                        font-weight: 700;
                        line-height: 1.3625;
                        white-space: nowrap;

                        .name-raman-yadav-qED-sub-0 {
                        }
                        .name-raman-yadav-qED-sub-1 {
                          line-height: 1.3625;
                          color: rgba(0, 0, 0, 0.75);
                          font-family: Open Sans, 'Source Sans Pro';
                          font-size: 0.8rem;
                          font-weight: 700;
                        }
                      }
                      .dob-15-05-2002-Kx1 {
                        display: flex;
                        align-items: baseline;
                        flex-shrink: 0;
                        font-size: 0.9rem;
                        line-height: 1.3625;
                        color: #000000;
                        font-family: Open Sans, 'Source Sans Pro';
                        white-space: nowrap;
                        font-weight: 700;

                        .dob-15-05-2002-Kx1-sub-0 {
                        }
                        .dob-15-05-2002-Kx1-sub-1 {
                          font-family: Open Sans, 'Source Sans Pro';
                          font-size: 0.9rem;
                          font-weight: 700;
                          line-height: 1.3625;
                          color: rgba(0, 0, 0, 0.75);
                        }
                      }
                      .gender-male-Vk1 {
                        font-family: Open Sans, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        font-size: 0.9rem;
                        color: #000000;
                        align-items: baseline;
                        flex-shrink: 0;
                        font-weight: 700;
                        line-height: 1.3625;

                        .gender-male-Vk1-sub-0 {
                        }
                        .gender-male-Vk1-sub-1 {
                          font-size: 0.9rem;
                          font-weight: 700;
                          line-height: 1.3625;
                          color: rgba(0, 0, 0, 0.75);
                          font-family: Open Sans, 'Source Sans Pro';
                        }
                      }
                    }
                    .aadharnumber-Urq {
                      font-family: Open Sans, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-left: 0.4rem;
                      font-size: 1.4rem;
                      font-weight: 700;
                      line-height: 1.3625;
                      color: #000000;
                    }
                  }
                  .rectangle-85-yYh {
                    background-image: url('REPLACE_IMAGE:dbdf72e4461bbe34bd7048c39afc409d1db54bb6');
                    flex-shrink: 0;
                    margin-bottom: 0.5rem;
                    width: 4.6rem;
                    height: 4.4rem;
                    position: relative;
                    background-size: 691.97% 461.538%;
                    background-position: -19.9845rem -9.4769rem;
                  }
                }
              }
              .auto-group-u19o-fwK {
                box-sizing: border-box;
                padding: 0rem 3.7rem 0rem 4.5rem;
                width: 100%;
                border-top: solid 0.1rem #ff4b4b;
                flex-shrink: 0;

                .rectangle-84-DT3 {
                  position: relative;
                  background-size: 170.732% 1037.543%;
                  background-position: -8.922rem -16.979rem;
                  background-image: url('REPLACE_IMAGE:dbdf72e4461bbe34bd7048c39afc409d1db54bb6');
                  width: 23.6rem;
                  height: 2.3rem;
                }
              }
            }
            .aadhar-EN9 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.6rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
            }
          }
          .pancard-B2V {
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.4rem 6.3rem 1rem 0rem;
            width: 26.7rem;
            height: calc(100% - 1.4rem);
            align-items: center;
            display: flex;

            .auto-group-5diu-Jcu {
              box-sizing: border-box;
              padding: 4.4rem 2.6rem 1.2rem 1.6rem;
              display: flex;
              flex-direction: column;
              border: solid 0 #000000;
              background-size: 112.36% 120.654%;
              background-position: -1.7rem -1.3333rem;
              margin-bottom: 1.2rem;
              flex-shrink: 0;
              background-image: url('REPLACE_IMAGE:2e5bceafc716240ee449d2d94e51848fbd66415a');
              border-radius: 0.9rem;
              width: 100%;

              .raman-yadav-RSd {
                line-height: 1.6025;
                color: #000000;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 0rem 0.2rem 0.9rem;
                font-size: 0.8rem;
                font-weight: 400;
              }
              .s-o-chaman-yadav-Hjj {
                font-weight: 400;
                line-height: 1.6025;
                color: #000000;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 0rem 1.5rem 0.2rem;
                font-size: 0.7rem;
              }
              .item-01-02-2023-zPF {
                font-size: 0.6rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #000000;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.4rem;
              }
              .auto-group-jnrb-iq3 {
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .bopg109434-V57 {
                  line-height: 1.6025;
                  color: #000000;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 13.1rem 0.4rem 0rem;
                  font-size: 0.8rem;
                  font-weight: 400;
                }
                .img-aadhar-1p9 {
                  width: 4.3rem;
                  height: 4.1rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .auto-group-5diu-Jcu-bg {
                height: 16.3rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:2e5bceafc716240ee449d2d94e51848fbd66415a');
                width: 26.7rem;
              }
            }
            .pan-card-SeZ {
              font-weight: 400;
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 1.5rem;
              font-size: 1.4rem;
            }
          }
          .driving-license-N2R {
            align-items: center;
            display: flex;
            flex-direction: column;
            border-radius: 2.8rem;
            flex-shrink: 0;
            margin: 0.1rem 7.1rem 0rem 0rem;

            .rectangle-18-uY9 {
              vertical-align: top;
              border-radius: 2.8rem;
              flex-shrink: 0;
              width: 31.8rem;
              height: 17.5rem;
              object-fit: cover;
            }
            .driving-license-rCV {
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 1rem;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
          .voterid-9xH {
            margin-top: 1.4rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            border-radius: 2.8rem;
            flex-shrink: 0;

            .rectangle-19-hU1 {
              width: 31.8rem;
              height: 17.5rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.8rem;
              flex-shrink: 0;
            }
            .voter-id-oG9 {
              margin-right: 3.5rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .educational-document--i8D {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .educational-documents-UNH {
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.6025;
        color: #000000;
        font-family: Jomolhari, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 2.4rem 2.3rem;
      }
      .frame-13-QFw {
        flex-shrink: 0;
        width: 100%;
        height: 24.8rem;
        position: relative;
        overflow: hidden;

        .rectangle-16-xYM {
          height: 24.8rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #d9d9d9;
          border-radius: 1.7rem;
          width: 173.7rem;
        }
        .group-12-6uT {
          height: 20.8rem;
          position: absolute;
          left: 2.8rem;
          top: 2rem;
          display: flex;
          align-items: center;
          width: 163.1rem;

          .x-marksheet-nnH {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.5rem 3.598rem 0.5rem 0rem;
            width: 32.0018rem;
            height: calc(100% - 1rem);
            align-items: center;

            .auto-group-jtuy-heM {
              padding: 0rem 1.2rem 1.4rem 1.2rem;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              width: 100%;
              display: flex;
              flex-direction: column;
              background-color: #ffffff;
              border-radius: 2.8rem;

              .auto-group-ua3o-EuB {
                height: 13rem;
                position: relative;
                flex-shrink: 0;
                margin: 0rem 1.802rem 0.7rem 0rem;
                width: 27.8rem;

                .rectangle-86-MD7 {
                  width: 12.7rem;
                  height: 11.2rem;
                  position: absolute;
                  left: 0;
                  top: 1.8rem;
                  object-fit: cover;
                  vertical-align: top;
                }
                .class-xii-marksheet-Gay {
                  font-weight: 400;
                  width: 13rem;
                  position: absolute;
                  left: 14.8rem;
                  top: 4.7rem;
                  font-size: 1.4rem;
                  height: 2.3rem;
                  line-height: 1.6025;
                  color: #000000;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .cgpa-xCu {
                  width: 6.6rem;
                  line-height: 1.6025;
                  color: #000000;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  font-weight: 400;
                  height: 2.3rem;
                  position: absolute;
                  left: 17.1rem;
                  top: 7.9rem;
                  font-size: 1.4rem;
                }
                .board-of-education-Qqb {
                  width: 12.7rem;
                  height: 2.3rem;
                  top: 0;
                  line-height: 1.6025;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  position: absolute;
                  left: 9.5rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  color: #000000;
                }
              }
              .auto-group-nwcm-7ED {
                margin: 0rem 1.602rem 0rem 2.3rem;
                width: calc(100% - 3.9018rem);
                height: 2.4rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .upload-original-qR7 {
                  font-size: 1.4rem;
                  line-height: 1.6025;
                  color: #ffffff;
                  flex-shrink: 0;
                  white-space: nowrap;
                  background-color: #3353f9;
                  margin-right: 0.7rem;
                  box-sizing: border-box;
                  padding: 0rem 1.3rem 0rem 0.9rem;
                  height: 100%;
                  font-weight: 400;
                  font-family: Jomolhari, 'Source Sans Pro';
                }
                .upload-original-JpV {
                  line-height: 1.6025;
                  white-space: nowrap;
                  box-sizing: border-box;
                  padding: 0 0.3rem;
                  font-weight: 400;
                  color: #ffffff;
                  font-family: Jomolhari, 'Source Sans Pro';
                  background-color: #3353f9;
                  flex-shrink: 0;
                  height: 100%;
                  font-size: 1.4rem;
                }
              }
            }
            .xii-marksheet-Q6q {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.0584rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
            }
          }
          .xii-marksheet-7X3 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.6rem 3.598rem 0.4rem 0rem;
            width: 32.0018rem;
            height: calc(100% - 1rem);
            align-items: center;

            .auto-group-cald-ErZ {
              border-radius: 2.8rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0rem 1.2rem 1.4rem 1.2rem;
              width: 100%;
              flex-direction: column;
              background-color: #ffffff;
              align-items: center;
              display: flex;

              .auto-group-gvtb-Nhs {
                margin: 0rem 1.802rem 0.7rem 0rem;
                width: 27.8rem;
                height: 13rem;
                position: relative;
                flex-shrink: 0;

                .rectangle-86-HZw {
                  height: 11.2rem;
                  position: absolute;
                  left: 0;
                  top: 1.8rem;
                  object-fit: cover;
                  vertical-align: top;
                  width: 12.7rem;
                }
                .class-xii-marksheet-Rw3 {
                  left: 14.8rem;
                  line-height: 1.6025;
                  white-space: nowrap;
                  height: 2.3rem;
                  position: absolute;
                  font-size: 1.4rem;
                  font-weight: 400;
                  color: #000000;
                  font-family: Jomolhari, 'Source Sans Pro';
                  width: 13rem;
                  top: 4.7rem;
                }
                .cgpa-Whb {
                  font-weight: 400;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  height: 2.3rem;
                  left: 17.1rem;
                  font-size: 1.4rem;
                  line-height: 1.6025;
                  color: #000000;
                  width: 6.6rem;
                  position: absolute;
                  top: 7.9rem;
                }
                .board-of-education-ckd {
                  line-height: 1.6025;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 12.7rem;
                  height: 2.3rem;
                  position: absolute;
                  top: 0;
                  left: 9.5rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  color: #000000;
                }
              }
              .auto-group-ueah-X6u {
                margin: 0rem 1.602rem 0rem 2.3rem;
                width: calc(100% - 3.9018rem);
                height: 2.4rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .upload-original-rQ5 {
                  margin-right: 0.7rem;
                  padding: 0rem 1.3rem 0rem 0.9rem;
                  flex-shrink: 0;
                  font-weight: 400;
                  line-height: 1.6025;
                  color: #ffffff;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  box-sizing: border-box;
                  height: 100%;
                  font-size: 1.4rem;
                  background-color: #3353f9;
                }
                .upload-original-PYR {
                  font-size: 1.4rem;
                  font-weight: 400;
                  color: #ffffff;
                  box-sizing: border-box;
                  height: 100%;
                  line-height: 1.6025;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  background-color: #3353f9;
                  flex-shrink: 0;
                  padding: 0 0.3rem;
                }
              }
            }
            .xii-marksheet-HNu {
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.0584rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.6025;
            }
          }
          .migration-certificate-Pwj {
            margin: 0rem 7.096rem 1rem 0rem;
            width: 32.0018rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-ewd7-jVo {
              align-items: center;
              display: flex;
              flex-direction: column;
              background-color: #ffffff;
              border-radius: 2.8rem;
              box-sizing: border-box;
              padding: 1.5rem 0.8rem 1.4rem 0.8rem;
              width: 100%;
              flex-shrink: 0;

              .auto-group-s5ad-sc1 {
                flex-shrink: 0;
                margin: 0rem 2.002rem 1rem 0rem;
                width: calc(100% - 2.0018rem);
                display: flex;
                align-items: flex-start;

                .rectangle-86-DQy {
                  margin-right: 2.4rem;
                  width: 12.7rem;
                  height: 11.2rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .migration-certificate-Mn5 {
                  margin-top: 1.6rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.6025;
                  color: #000000;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .auto-group-a2km-skR {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 2.002rem 0rem 2.7rem;
                width: calc(100% - 4.7018rem);
                height: 2.4rem;

                .upload-original-xG5 {
                  font-family: Jomolhari, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-right: 0.7rem;
                  box-sizing: border-box;
                  height: 100%;
                  font-size: 1.4rem;
                  color: #ffffff;
                  padding: 0rem 1.3rem 0rem 0.9rem;
                  font-weight: 400;
                  line-height: 1.6025;
                  white-space: nowrap;
                  background-color: #3353f9;
                }
                .upload-original-44D {
                  flex-shrink: 0;
                  box-sizing: border-box;
                  height: 100%;
                  font-size: 1.4rem;
                  font-weight: 400;
                  color: #ffffff;
                  white-space: nowrap;
                  background-color: #3353f9;
                  padding: 0 0.3rem;
                  line-height: 1.6025;
                  font-family: Jomolhari, 'Source Sans Pro';
                }
              }
            }
            .migration-certificate-w81 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.1018rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
            }
          }
          .voterid-eHK {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 1rem 4.9rem 0rem 0rem;
            width: 32.0018rem;

            .auto-group-mcdt-PEu {
              box-sizing: border-box;
              padding: 3.533rem 8.961rem 1.5rem 6.541rem;
              width: 100%;
              flex-shrink: 0;
              align-items: center;
              display: flex;
              flex-direction: column;
              background-color: #ffffff;
              border-radius: 2.8rem;

              .plus-thick-XM7 {
                margin: 0rem 0rem 2.633rem 2.218rem;
                width: 5.5014rem;
                height: 4.9333rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .upload-now-EFX {
                font-size: 3rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #000000;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .college-marksheet-Y1K {
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 2.6416rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
            }
          }
          .view-more-5X3 {
            text-decoration-line: underline;
            font-family: Jomolhari, 'Source Sans Pro';
            flex-shrink: 0;
            margin-top: 0.6rem;
            font-size: 3.1rem;
            font-weight: 400;
            line-height: 1.6025;
            color: #1d57ee;
            white-space: nowrap;
          }
        }
      }
    }
    .scholarship-document--ohw {
      flex-shrink: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 1.7rem;

      .scholarship-documents-Zx1 {
        margin: 0rem 0rem 2.4rem 2.3rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.6025;
        color: #000000;
        font-family: Jomolhari, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .frame-13-gFw {
        border-radius: 1.7rem;
        flex-shrink: 0;
        width: 100%;
        height: 24.8rem;
        position: relative;
        overflow: hidden;

        .rectangle-16-oLZ {
          background-color: #d9d9d9;
          width: 150.5rem;
          height: 24.8rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .frame-26-kWh {
          left: 2.1rem;
          top: 2.5rem;
          display: flex;
          column-gap: 5.1rem;
          align-items: center;
          width: 142.6rem;
          height: 19.8rem;
          position: absolute;

          .domicile-5Yy {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 31.8rem;
            height: 100%;
            align-items: center;

            .auto-group-4ssh-SPX {
              box-sizing: border-box;
              padding: 1.8rem 1.6rem 1.4rem 1.2rem;
              display: flex;
              background-color: #ffffff;
              border-radius: 2.8rem;
              width: 100%;
              align-items: center;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-oyxr-otH {
                margin: 0rem 0.1rem 0.7rem 0rem;
                width: 28.9rem;
                height: 11.2rem;
                position: relative;
                flex-shrink: 0;

                .rectangle-86-XJV {
                  width: 12.7rem;
                  height: 11.2rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  object-fit: cover;
                  vertical-align: top;
                }
                .domicile-certificate-SwF {
                  height: 3.3rem;
                  top: 0.8rem;
                  font-size: 2rem;
                  line-height: 1.6025;
                  font-family: Jomolhari, 'Source Sans Pro';
                  width: 17.9rem;
                  position: absolute;
                  left: 11rem;
                  font-weight: 400;
                  color: #000000;
                  white-space: nowrap;
                }
              }
              .auto-group-d96d-kww {
                flex-shrink: 0;
                margin-left: 2.3rem;
                width: calc(100% - 2.3rem);
                height: 2.4rem;
                display: flex;
                align-items: center;

                .upload-original-WAR {
                  font-weight: 400;
                  color: #ffffff;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  background-color: #1443e7;
                  margin-right: 1.7rem;
                  box-sizing: border-box;
                  padding: 0rem 1.3rem 0rem 0.9rem;
                  height: 100%;
                  font-size: 1.4rem;
                  line-height: 1.6025;
                  flex-shrink: 0;
                }
                .upload-original-cDT {
                  font-weight: 400;
                  color: #ffffff;
                  background-color: #1443e7;
                  box-sizing: border-box;
                  padding: 0 0.9rem;
                  width: 12.5rem;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  height: 100%;
                  font-size: 1.4rem;
                  line-height: 1.6025;
                }
              }
            }
            .domicile-certificate-sfB {
              flex-shrink: 0;
              margin-left: 3.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #ffffff;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .domicile-CSZ {
            flex-shrink: 0;
            width: 31.8rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-hehb-kys {
              flex-shrink: 0;
              display: flex;
              flex-direction: column;
              background-color: #ffffff;
              border-radius: 2.8rem;
              box-sizing: border-box;
              padding: 1.8rem 0.6rem 1.4rem 1.2rem;
              width: 100%;
              align-items: center;

              .auto-group-gnop-sob {
                flex-shrink: 0;
                margin-bottom: 0.7rem;
                width: 100%;
                height: 11.2rem;
                position: relative;

                .rectangle-86-S61 {
                  vertical-align: top;
                  width: 12.7rem;
                  height: 11.2rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  object-fit: cover;
                }
                .domicile-certificate-ZRX {
                  line-height: 1.6025;
                  color: #000000;
                  font-family: Jomolhari, 'Source Sans Pro';
                  width: 17.9rem;
                  height: 3.3rem;
                  top: 0.9rem;
                  font-weight: 400;
                  position: absolute;
                  left: 12.1rem;
                  font-size: 2rem;
                  white-space: nowrap;
                }
              }
              .auto-group-kyxf-TG1 {
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 1rem 0rem 2.3rem;
                width: calc(100% - 3.3rem);
                height: 2.4rem;
                display: flex;

                .upload-original-PQZ {
                  height: 100%;
                  font-size: 1.4rem;
                  font-weight: 400;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  background-color: #1443e7;
                  margin-right: 1.7rem;
                  padding: 0rem 1.3rem 0rem 0.9rem;
                  line-height: 1.6025;
                  color: #ffffff;
                  flex-shrink: 0;
                  box-sizing: border-box;
                }
                .upload-original-EAH {
                  flex-shrink: 0;
                  box-sizing: border-box;
                  font-weight: 400;
                  line-height: 1.6025;
                  color: #ffffff;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  background-color: #1443e7;
                  padding: 0 0.9rem;
                  width: 12.5rem;
                  height: 100%;
                  font-size: 1.4rem;
                }
              }
            }
            .domicile-certificate-hpZ {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #ffffff;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 3.7rem;
            }
          }
          .domicile-Sn9 {
            flex-direction: column;
            flex-shrink: 0;
            width: 31.8rem;
            height: 100%;
            align-items: center;
            display: flex;

            .auto-group-nujq-yXB {
              border-radius: 2.8rem;
              flex-shrink: 0;
              align-items: center;
              flex-direction: column;
              background-color: #ffffff;
              display: flex;
              box-sizing: border-box;
              padding: 1.8rem 1.6rem 1.4rem 1.2rem;
              width: 100%;

              .auto-group-nmnd-ufj {
                margin-bottom: 0.7rem;
                width: 100%;
                height: 11.2rem;
                position: relative;
                flex-shrink: 0;

                .rectangle-86-3G9 {
                  vertical-align: top;
                  width: 12.7rem;
                  height: 11.2rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  object-fit: cover;
                }
                .domicile-certificate-PL1 {
                  width: 17.9rem;
                  left: 11.1rem;
                  font-size: 2rem;
                  line-height: 1.6025;
                  color: #000000;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  height: 3.3rem;
                  position: absolute;
                  top: 0.9rem;
                  font-weight: 400;
                }
              }
              .auto-group-9uf3-Vtq {
                align-items: center;
                flex-shrink: 0;
                margin-left: 2.3rem;
                width: calc(100% - 2.3rem);
                height: 2.4rem;
                display: flex;

                .upload-original-Dpq {
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  background-color: #1443e7;
                  flex-shrink: 0;
                  height: 100%;
                  font-weight: 400;
                  line-height: 1.6025;
                  color: #ffffff;
                  margin-right: 1.7rem;
                  box-sizing: border-box;
                  padding: 0rem 1.3rem 0rem 0.9rem;
                  font-size: 1.4rem;
                }
                .upload-original-vUM {
                  box-sizing: border-box;
                  line-height: 1.6025;
                  background-color: #1443e7;
                  color: #ffffff;
                  font-family: Jomolhari, 'Source Sans Pro';
                  white-space: nowrap;
                  padding: 0 0.9rem;
                  width: 12.5rem;
                  height: 100%;
                  font-size: 1.4rem;
                  font-weight: 400;
                  flex-shrink: 0;
                }
              }
            }
            .domicile-certificate-d7s {
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 3.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #ffffff;
              font-family: Jomolhari, 'Source Sans Pro';
            }
          }
          .domicile-ZXK {
            width: 31.9rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-lfg9-hNd {
              width: 100%;
              height: 17.5rem;
              position: relative;
              flex-shrink: 0;

              .rectangle-5-rFX {
                width: 31.8rem;
                height: 17.5rem;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #ffffff;
                border-radius: 2.8rem;
              }
              .upload-original-xJZ {
                line-height: 1.6025;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                padding: 0rem 1.3rem 0rem 0.9rem;
                width: 12.5rem;
                position: absolute;
                left: 3.5rem;
                font-size: 1.4rem;
                font-weight: 400;
                box-sizing: border-box;
                height: 2.4rem;
                top: 13.7rem;
                color: #ffffff;
                background-color: #1443e7;
              }
              .upload-original-opy {
                left: 17.7rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #ffffff;
                top: 13.7rem;
                background-color: #1443e7;
                font-size: 1.4rem;
                font-family: Jomolhari, 'Source Sans Pro';
                position: absolute;
                white-space: nowrap;
                box-sizing: border-box;
                padding: 0 0.9rem;
                width: 12.5rem;
                height: 2.4rem;
              }
              .rectangle-86-51o {
                top: 1.8rem;
                object-fit: cover;
                vertical-align: top;
                width: 12.7rem;
                height: 11.2rem;
                position: absolute;
                left: 1.2rem;
              }
              .domicile-certificate-nwo {
                height: 3.3rem;
                position: absolute;
                color: #000000;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                line-height: 1.6025;
                width: 17.9rem;
                left: 14rem;
                top: 2.7rem;
                font-size: 2rem;
                font-weight: 400;
              }
            }
            .domicile-certificate-7DP {
              margin-left: 3.6rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #ffffff;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .scholarship-document--o6D {
      flex-shrink: 0;
      width: 100%;
      display: flex;
      flex-direction: column;

      .certificates-uploaded-document-kXF {
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.6025;
        color: #000000;
        font-family: Jomolhari, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 2.4rem 2.3rem;
      }
      .frame-13-TRf {
        position: relative;
        overflow: hidden;
        flex-shrink: 0;
        width: 100%;
        height: 24.8rem;

        .rectangle-16-R7b {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #d9d9d9;
          border-radius: 1.7rem;
          width: 150.5rem;
          height: 24.8rem;
        }
        .group-12-xtD {
          width: 141.8rem;
          height: 20.7rem;
          position: absolute;
          left: 2.4rem;
          top: 2.1rem;
          display: flex;
          align-items: center;
          border-radius: 2.8rem;

          .aadhar-fGq {
            margin: 0rem 4.4rem 0.9rem 0rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            border-radius: 2.8rem;
            flex-shrink: 0;

            .rectangle-5-otq {
              width: 31.8rem;
              height: 17.5rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.8rem;
              flex-shrink: 0;
            }
            .domicile-certificate-Z7K {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 3.7rem;
            }
          }
          .pancard-rs7 {
            margin: 0rem 4.4rem 0.9rem 0rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            border-radius: 2.8rem;
            flex-shrink: 0;

            .rectangle-17-N4m {
              width: 31.8rem;
              height: 17.5rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.8rem;
              flex-shrink: 0;
            }
            .xii-marksheet-uaV {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
            }
          }
          .driving-license-eHB {
            border-radius: 2.8rem;
            flex-shrink: 0;
            margin: 0.5rem 5.8rem 0rem 0rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .rectangle-18-YtM {
              vertical-align: top;
              border-radius: 2.8rem;
              flex-shrink: 0;
              width: 31.8rem;
              height: 17.5rem;
              object-fit: cover;
            }
            .migration-certificate-uD7 {
              flex-shrink: 0;
              margin-left: 4.1rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .voterid-1mw {
            flex-direction: column;
            border-radius: 2.8rem;
            flex-shrink: 0;
            margin-top: 0.9rem;
            align-items: center;
            display: flex;

            .rectangle-19-xBP {
              width: 31.8rem;
              height: 17.5rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.8rem;
              flex-shrink: 0;
            }
            .college-marksheet-6oP {
              flex-shrink: 0;
              margin-left: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .menu-Qp5 {
    padding: 6.3rem 0.7rem 6.3rem 2.23rem;
    width: 32.5rem;
    height: 94.1rem;
    border: solid 0 rgba(0, 0, 0, 0.0900000036);
    box-shadow: 0.1rem -0.1rem 0.78rem rgba(0, 0, 0, 0.349999994);
    background-color: rgba(255, 255, 255, 0.6600000262);
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 9rem;

    .frame-2-7iV {
      flex-direction: column;
      width: 100%;
      height: 46.6rem;
      row-gap: 4.4rem;
      align-items: center;
      display: flex;

      .group-7-rg5 {
        width: 100%;
        height: 5.8rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-21-bdf {
          width: 29.5696rem;
          height: 5.4rem;
          position: absolute;
          left: 0;
          top: 0.4rem;
          background-color: rgba(23, 173, 50, 0.4600000083);
          border-radius: 1.1rem;
        }
        .documents-ueM {
          left: 6.3589rem;
          top: 0;
          display: flex;
          line-height: 1.6025;
          font-weight: 400;
          color: #000000;
          font-family: Jomolhari, 'Source Sans Pro';
          white-space: nowrap;
          width: 18.3rem;
          height: 5.8rem;
          position: absolute;
          font-size: 3.6rem;
        }
        .file-document-ERj {
          width: 2.7071rem;
          height: 3.3333rem;
          position: absolute;
          left: 1.5174rem;
          top: 1.7333rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .group-8-kQ5 {
        width: 100%;
        height: 5.8rem;
        cursor: pointer;
        position: relative;
        flex-shrink: 0;

        .rectangle-21-WPF {
          width: 29.5696rem;
          height: 5.4rem;
          position: absolute;
          left: 0;
          top: 0.4rem;
          background-color: #fafafa;
          border-radius: 2.2rem;
        }
        .oppurtunities-eVT {
          font-weight: 400;
          line-height: 1.6025;
          color: #000000;
          font-family: Jomolhari, 'Source Sans Pro';
          white-space: nowrap;
          width: 22.1rem;
          height: 5.8rem;
          top: 0;
          font-size: 3.6rem;
          position: absolute;
          left: 5.4664rem;
        }
        .lightbulb-on-10-a8D {
          object-fit: contain;
          vertical-align: top;
          width: 3.7222rem;
          height: 3.6667rem;
          position: absolute;
          left: 0.742rem;
          top: 1.1667rem;
        }
      }
      .group-9-HHX {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 5.8rem;
        cursor: pointer;

        .rectangle-20-3Gh {
          width: 29.5696rem;
          height: 5.4rem;
          position: absolute;
          left: 0;
          top: 0.4rem;
          background-color: #fafafa;
          border-radius: 2.2rem;
        }
        .issued-xuT {
          left: 5.4304rem;
          top: 0;
          color: #000000;
          white-space: nowrap;
          width: 10.3rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.6025;
          font-family: Jomolhari, 'Source Sans Pro';
          height: 5.8rem;
          font-size: 3.6rem;
        }
        .file-document-check-to7 {
          height: 3.3333rem;
          position: absolute;
          left: 1.2804rem;
          top: 1.3333rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.1688rem;
        }
      }
      .group-10-Ro3 {
        height: 5.8rem;
        cursor: pointer;
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .rectangle-21-68V {
          border-radius: 2.2rem;
          width: 29.5696rem;
          height: 5.4rem;
          position: absolute;
          left: 0;
          top: 0.4rem;
          background-color: #fafafa;
        }
        .scholarships-q65 {
          position: absolute;
          left: 5.4696rem;
          line-height: 1.6025;
          white-space: nowrap;
          width: 20.6rem;
          height: 5.8rem;
          top: 0;
          font-size: 3.6rem;
          font-weight: 400;
          color: #000000;
          font-family: Jomolhari, 'Source Sans Pro';
        }
        .cash-multiple-xgV {
          width: 3.575rem;
          height: 2.6667rem;
          position: absolute;
          left: 0.7929rem;
          top: 1.8rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .group-11-u5w {
        flex-shrink: 0;
        width: 100%;
        height: 5.8rem;
        position: relative;

        .rectangle-22-f57 {
          left: 0;
          top: 0.2rem;
          background-color: #fafafa;
          border-radius: 2.2rem;
          width: 29.5696rem;
          height: 5.4rem;
          position: absolute;
        }
        .faqs-B3T {
          font-size: 3.6rem;
          font-weight: 400;
          font-family: Jomolhari, 'Source Sans Pro';
          white-space: nowrap;
          width: 10.4rem;
          height: 5.8rem;
          position: absolute;
          left: 7.0696rem;
          top: 0;
          line-height: 1.6025;
          color: #000000;
        }
        .progress-question-ehj {
          vertical-align: top;
          width: 3.2419rem;
          height: 3.3167rem;
          position: absolute;
          left: 1.1027rem;
          top: 1.2417rem;
          object-fit: contain;
        }
      }
    }
  }
  .header-7LR {
    height: 10.7rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 144rem;

    .rectangle-2-4Ff {
      position: absolute;
      left: 0;
      top: 0.6rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4399999976);
      background-color: #ffffff;
      width: 144rem;
      height: 9.6rem;
    }
    .bcd3b4b5d471dae27a60bd4b5f07-1-9nu {
      width: 9.1rem;
      height: 9.6rem;
      position: absolute;
      left: 0;
      top: 0.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .account-circle-tEh {
      width: 4.9167rem;
      height: 5rem;
      position: absolute;
      left: 134.3917rem;
      top: 2.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .yourparagraphtext1-removebg-preview-1-BUh {
      top: 0;
      background-size: 257.143% 284.211%;
      background-position: -8.8381rem -9.8553rem;
      background-image: url('REPLACE_IMAGE:3ebe9113078386c7076ec8718af0fdd9049eac5c');
      width: 11.6rem;
      height: 10.7rem;
      position: relative;
      left: 8.4rem;
    }
    .ezfill-GW9 {
      height: 4.5rem;
      font-size: 3.5rem;
      font-family: jsMath-cmbx10, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 700;
      line-height: 1.2575;
      color: #15ab30;
      width: 7.7rem;
      position: absolute;
      left: 18.9rem;
      top: 4.5rem;
    }
    .bell-ArR {
      left: 126.3rem;
      top: 2.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.2rem;
      height: 4.9rem;
      position: absolute;
    }
  }
}
