
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.eziiii-api-32V {
  width: 100%;
  height: 103.1rem;
  position: relative;
  background-color: #efefef;

  .body-nVs {
    left: 35.8rem;
    top: 13.3rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: 104rem;
    height: 87.8rem;
    position: absolute;

    .database-api-VfB {
      flex-shrink: 0;
      margin-bottom: 2.8rem;
      width: 102.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-ddv7-F8Z {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 4.7rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .centralised-data-for-institute-api-bCR {
          font-family: JejuGothic, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3.3rem;
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
        }
        .auto-group-rn8u-thK {
          align-items: flex-end;
          flex-shrink: 0;
          margin-bottom: 4.9rem;
          display: flex;
          column-gap: 4.5rem;

          .state-ctD {

            &::placeholder {
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 1.32;
              color: #000000;
              font-family: JetBrains Mono, 'Source Sans Pro';

            }
            display: flex;
            align-items: center;
            font-size: 3.6rem;
            line-height: 1.32;
            flex-shrink: 0;
            margin-top: 0.2rem;
            box-sizing: border-box;
            color: black;
            font-family: JetBrains Mono, 'Source Sans Pro';
            background-color: #ffffff;
            border-radius: 2rem;
            padding: 1.1rem 1.4rem 0.2rem 2.4rem;
            font-weight: 700;

            .expand-arrow-EPo {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.8rem;
              width: 5.5rem;
              height: 4.7rem;
            }
          }
          .type-Xdo {
            align-items: center;
            font-size: 3.6rem;
            font-weight: 700;
            color: black;
            background-color: #ffffff;
            margin-bottom: 0.2rem;
            box-sizing: border-box;
            padding: 1.4rem 1.2rem 0.6rem 3rem;
            flex-shrink: 0;
            border-radius: 2rem;
            display: flex;
            line-height: 1.32;
            font-family: JetBrains Mono, 'Source Sans Pro';

            &::placeholder {
              line-height: 1.32;
              color: #000000;
              font-family: JetBrains Mono, 'Source Sans Pro';
              font-size: 3.6rem;
              font-weight: 700;

            }

            .expand-arrow-QSh {
              height: 4.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.1rem;
              width: 5.5rem;
            }
          }
          .scll-cllg-ueM {
            padding: 1rem 1.5rem 0.4rem 2.4rem;
            align-items: center;
            font-size: 3.6rem;
            line-height: 1.32;
            font-family: JetBrains Mono, 'Source Sans Pro';
            margin-top: 0.2rem;
            box-sizing: border-box;
            display: flex;
            font-weight: 700;
            color: black;
            background-color: #ffffff;
            border-radius: 2rem;
            flex-shrink: 0;

            &::placeholder {
              line-height: 1.32;
              color: #000000;
              font-family: JetBrains Mono, 'Source Sans Pro';
              font-size: 3.6rem;
              font-weight: 700;

            }

            .expand-arrow-bXB {
              flex-shrink: 0;
              margin-top: 0.7rem;
              width: 5.5rem;
              height: 4.7rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .generate-apui-uGy {
          width: 22.5rem;
          font-family: Open Sans, 'Source Sans Pro';
          justify-content: center;
          font-weight: 700;
          font-size: 2.5rem;
          line-height: 1.3625;
          color: #ffffff;
          display: flex;
          align-items: center;
          background-color: #4f33fa;
          border-radius: 2rem;
          height: 5rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .code-ae1 {
        display: flex;
        align-items: flex-end;
        background-color: #fffefe;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem 2rem 0.9rem 2.7rem;
        width: 100%;

        .fetchhttps-fakestoreapicom-products-1-thenresresjson-thenjsonconsolelogjson-uRP {
          max-width: 73.1rem;
          font-size: 3.3rem;
          font-weight: 700;
          line-height: 1.3625;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 7.1rem;
        }
        .auto-group-dh2u-MHP {
          display: flex;
          flex-shrink: 0;
          font-weight: 700;
          line-height: 1.3625;
          align-items: center;
          border-radius: 2rem;
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          background-color: #4f33fa;
          width: 25rem;
          height: 7.9rem;
          font-size: 3.3rem;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
    }
    .iframe-1sj {
      flex-shrink: 0;
      width: 100%;
      display: flex;
      flex-direction: column;

      .iframe-for-one-click-form-fill-kqK {
        font-size: 4.2rem;
        font-weight: 400;
        line-height: 1.3625;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.2rem;
      }
      .auto-group-7xvz-tRj {
        display: flex;
        align-items: flex-end;
        background-color: #fffefe;
        flex-shrink: 0;
        margin-left: 1.2rem;
        box-sizing: border-box;
        padding: 2rem 2rem 0.9rem 2.7rem;
        width: calc(100% - 1.2rem);

        .fetchhttps-fakestoreapicom-products-1-thenresresjson-thenjsonconsolelogjson-zzZ {
          max-width: 73.1rem;
          font-size: 3.3rem;
          font-weight: 700;
          line-height: 1.3625;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 7.1rem;
        }
        .auto-group-3vmb-h8H {
          color: #ffffff;
          display: flex;
          font-size: 3.3rem;
          height: 7.9rem;
          font-family: Open Sans, 'Source Sans Pro';
          width: 25rem;
          white-space: nowrap;
          align-items: center;
          background-color: #4f33fa;
          line-height: 1.3625;
          justify-content: center;
          border-radius: 2rem;
          flex-shrink: 0;
          font-weight: 700;
        }
      }
    }
  }
  .menu-FJD {
    top: 9rem;
    background-color: rgba(255, 255, 255, 0.6600000262);
    box-sizing: border-box;
    padding: 6.3rem 0.37rem 6.3rem 2.23rem;
    position: absolute;
    left: 0;
    width: 32.5rem;
    height: 94.1rem;
    border: solid 0 rgba(0, 0, 0, 0.0900000036);
    box-shadow: 0.1rem -0.1rem 0.78rem rgba(0, 0, 0, 0.349999994);

    .frame-2-ZZo {
      width: 100%;
      height: 46.6rem;
      display: flex;
      flex-direction: column;

      .auto-group-in4m-Wzq {
        row-gap: 4.4rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 4.4rem;
        width: 100%;

        .group-7-Tv5 {
          flex-shrink: 0;
          width: 29.6rem;
          height: 5.8rem;
          position: relative;

          .rectangle-21-2CV {
            left: 0.0304rem;
            top: 0.4rem;
            background-color: rgba(23, 173, 50, 0.4600000083);
            border-radius: 1.1rem;
            width: 29.5696rem;
            height: 5.4rem;
            position: absolute;
          }
          .get-api-X9F {
            width: 13.3rem;
            height: 5.8rem;
            top: 0;
            font-family: Jomolhari, 'Source Sans Pro';
            font-weight: 400;
            line-height: 1.6025;
            color: #000000;
            white-space: nowrap;
            position: absolute;
            left: 6.3894rem;
            display: flex;
            font-size: 3.6rem;
          }
          .bookmark-CWH {
            object-fit: contain;
            vertical-align: top;
            width: 6.2rem;
            height: 5.1rem;
            position: absolute;
            left: 0;
            top: 0.4rem;
          }
        }
        .group-8-hT3 {
          height: 5.8rem;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;
          width: 29.5696rem;

          .rectangle-21-d5o {
            position: absolute;
            left: 0;
            top: 0.4rem;
            background-color: #fafafa;
            border-radius: 2.2rem;
            width: 29.5696rem;
            height: 5.4rem;
          }
          .hackathons-N3P {
            top: 0;
            font-size: 3.6rem;
            white-space: nowrap;
            width: 19rem;
            position: absolute;
            left: 5.4664rem;
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
            height: 5.8rem;
            font-weight: 400;
            line-height: 1.6025;
          }
          .book-reading-Fcy {
            vertical-align: top;
            width: 4.1rem;
            height: 4rem;
            position: absolute;
            left: 0.9696rem;
            top: 0.9rem;
            object-fit: contain;
          }
        }
        .group-9-AV3 {
          height: 5.8rem;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;
          width: 29.8rem;

          .rectangle-20-vDK {
            border-radius: 2.2rem;
            width: 29.5696rem;
            height: 5.4rem;
            position: absolute;
            left: 0.2304rem;
            top: 0.4rem;
            background-color: #fafafa;
          }
          .scholarships-Rvm {
            height: 5.8rem;
            font-weight: 400;
            white-space: nowrap;
            font-size: 3.6rem;
            line-height: 1.6025;
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
            width: 20.6rem;
            position: absolute;
            left: 5.6609rem;
            top: 0;
          }
          .ebook-ZGH {
            height: 4.3rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 6.3rem;
          }
        }
      }
      .group-14-u5F {
        margin-bottom: 4.4rem;
        width: 100%;
        height: 5.8rem;
        cursor: pointer;
        position: relative;
        flex-shrink: 0;

        .rectangle-20-EtD {
          left: 0.3304rem;
          top: 0.2rem;
          background-color: #fafafa;
          border-radius: 2.2rem;
          width: 29.5696rem;
          height: 5.4rem;
          position: absolute;
        }
        .intern-jobs-BHf {
          font-family: Jomolhari, 'Source Sans Pro';
          width: 17.9rem;
          font-size: 3.6rem;
          font-weight: 400;
          color: #000000;
          line-height: 1.6025;
          white-space: nowrap;
          height: 5.8rem;
          position: absolute;
          left: 3rem;
          top: 0;
        }
        .internship-JdB {
          top: 1rem;
          background-size: 100% 100%;
          background-position: center;
          background-image: url('REPLACE_IMAGE:c05e8d9772c3a444731a149f142f1360a44fa156');
          left: 0;
          height: 4.8rem;
          position: absolute;
          background-repeat: no-repeat;
          width: 6.1rem;
        }
        .internship-noF {
          position: absolute;
          background-position: center;
          background-image: url('REPLACE_IMAGE:c05e8d9772c3a444731a149f142f1360a44fa156');
          background-size: 100% 100%;
          background-repeat: no-repeat;
          width: 6.1rem;
          height: 4.8rem;
          left: 0;
          top: 1rem;
        }
      }
      .group-11-Hzu {
        flex-shrink: 0;
        width: 29.5696rem;
        height: 5.8rem;
        position: relative;

        .rectangle-22-EQM {
          top: 0.2rem;
          background-color: #fafafa;
          border-radius: 2.2rem;
          width: 29.5696rem;
          height: 5.4rem;
          position: absolute;
          left: 0;
        }
        .faqs-Yfw {
          font-weight: 400;
          color: #000000;
          position: absolute;
          height: 5.8rem;
          left: 7.0696rem;
          top: 0;
          font-size: 3.6rem;
          line-height: 1.6025;
          font-family: Jomolhari, 'Source Sans Pro';
          white-space: nowrap;
          width: 10.4rem;
        }
        .progress-question-4PP {
          width: 3.2419rem;
          height: 3.3167rem;
          position: absolute;
          left: 1.1027rem;
          top: 1.2416rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
  .header-XXs {
    width: 144rem;
    height: 10.7rem;
    position: absolute;
    left: 0;
    top: 0;

    .rectangle-2-fty {
      position: absolute;
      left: 0;
      top: 0.6rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4399999976);
      background-color: #ffffff;
      width: 144rem;
      height: 9.6rem;
    }
    .bcd3b4b5d471dae27a60bd4b5f07-1-x7P {
      height: 9.6rem;
      position: absolute;
      left: 0;
      top: 0.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 9.1rem;
    }
    .account-circle-5ho {
      top: 2.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.9167rem;
      height: 5rem;
      position: absolute;
      left: 134.3917rem;
    }
    .yourparagraphtext1-removebg-preview-1-RWm {
      position: relative;
      left: 8.4rem;
      top: 0;
      background-size: 257.143% 284.211%;
      background-position: -8.8381rem -9.8553rem;
      background-image: url('REPLACE_IMAGE:3ebe9113078386c7076ec8718af0fdd9049eac5c');
      width: 11.6rem;
      height: 10.7rem;
    }
    .ezapi-VmX {
      font-weight: 700;
      width: 8.7rem;
      left: 18.9rem;
      top: 4.5rem;
      font-size: 3.5rem;
      font-family: jsMath-cmbx10, 'Source Sans Pro';
      white-space: nowrap;
      height: 4.5rem;
      position: absolute;
      line-height: 1.2575;
      color: #15ab30;
    }
    .bell-Acm {
      object-fit: contain;
      vertical-align: top;
      width: 4.2rem;
      height: 4.9rem;
      position: absolute;
      left: 126.3rem;
      top: 2.7rem;
    }
  }
}
