
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 45.8rem;
}.frame-21-6ZB {
  flex-direction: column;
  background-color: #efefef;
  box-sizing: border-box;
  padding-bottom: 2.5rem;
  width: 100%;
  align-items: center;
  display: flex;

  .auto-group-gydb-QJy {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.8rem 8.2rem 1.6rem 10.2rem;
    width: 100%;
    align-items: center;

    .ellipse-46-To3 {
      margin: 0rem 9.5rem 0.5rem 7.4rem;
      width: calc(100% - 16.9rem);
      height: 10.5rem;
      background-color: #d9d9d9;
      border-radius: 5.25rem;
      flex-shrink: 0;
    }
    .auto-group-msgm-ymP {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 5.7rem 2.4rem 4rem;
      width: calc(100% - 9.7rem);
      height: 6.2rem;

      .raman-yadav-76u {
        height: 3.9rem;
        position: absolute;
        left: 0;
        font-weight: 400;
        line-height: 1.3625;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        width: 17.7rem;
        top: 0;
        font-size: 2.8rem;
        white-space: nowrap;
      }
      .ramanya-CPF {
        position: absolute;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5699999928);
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        width: 10.6rem;
        height: 2.9rem;
        left: 3.3rem;
        top: 3.3rem;
        font-size: 2.1rem;
        line-height: 1.3625;
      }
    }
    .auto-group-xbzf-6zR {
      width: 100%;
      font-weight: 400;
      justify-content: center;
      background-color: #ffffff;
      font-size: 1.3rem;
      line-height: 1.3625;
      display: flex;
      align-items: center;
      border-radius: 3.7rem;
      flex-shrink: 0;
      height: 3.1rem;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      box-sizing: border-box;
      white-space: nowrap;
      border: solid 0.1rem #000000;
    }
  }
  .yourfrofile-kp5 {
    margin-bottom: 0.6rem;
    width: 100%;
    display: flex;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 1.1rem 20.6rem 0.867rem 2.483rem;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;

    .account-fg9 {
      width: 3.1333rem;
      height: 3.0667rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.067rem 8.083rem 0rem 0rem;
    }
    .your-profile-mjB {
      line-height: 1.3625;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.2334rem;
      font-size: 2.1rem;
      font-weight: 400;
    }
  }
  .activities-SqK {
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.033rem 23.4rem 0.567rem 2.2rem;

    .bell-badge-PEm {
      width: 3rem;
      height: 3.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 8.5rem;
    }
    .activities-w1P {
      flex-shrink: 0;
      margin-bottom: 0.4666rem;
      font-size: 2.1rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
