
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.issueddocuments-Ebf {
  width: 100%;
  height: 103.1rem;
  position: relative;
  background-color: #efefef;

  .body-xXf {
    left: 33.3rem;
    top: 11.8rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: 108.8rem;
    height: 87.8rem;
    position: absolute;

    .create-pdf-4Ko {
      margin-bottom: 2.9rem;
      height: 6.4rem;
      font-size: 3.6rem;
      font-weight: 400;
      font-family: Jomolhari, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      background-color: #3e68fe;
      width: 33.2rem;
      cursor: pointer;
      line-height: 1.6025;
      color: #ffffff;
      white-space: nowrap;
      align-items: center;
      flex-shrink: 0;
    }
    .issueddocuments-t3w {
      display: flex;
      flex-direction: column;
      width: 107.8rem;
      height: 78.5rem;
      position: relative;
      align-items: center;
      flex-shrink: 0;
      margin-right: 1rem;
      overflow: hidden;
      row-gap: 1.8rem;

      .personal-documement-bDF {
        flex-direction: column;
        border: solid 0.1rem rgba(0, 0, 0, 0.3400000036);
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        width: 100%;
        display: flex;
        border-radius: 2.4rem;
        flex-shrink: 0;
        padding: 0rem 0.1rem 0.8rem 0.1rem;
        align-items: center;
        background-color: #ffffff;

        .auto-group-8ieh-tTF {
          width: calc(100% - 4.1916rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 1.692rem 1rem 2.5rem;

          .rectangle-34-Bx9 {
            margin: 0.3rem 3rem 0rem 0rem;
            width: 2.8rem;
            height: 2.7rem;
            border: solid 0.2rem #92d79e;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
          }
          .personal-document-uNM {
            margin-right: 60.9917rem;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.6025;
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .arrow-down-drop-circle-PoK {
            width: 4.9167rem;
            height: 5.1667rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.6rem;
          }
        }
        .line-1-JfP {
          margin-bottom: 0.4rem;
          width: 100%;
          height: 0.5rem;
          background-color: rgba(0, 0, 0, 0.3799999952);
          flex-shrink: 0;
        }
        .auto-group-acaz-rB7 {
          flex-shrink: 0;
          margin: 0rem 1.2rem 0rem 0.4rem;
          width: calc(100% - 1.6rem);
          height: 29.5rem;
          position: relative;

          .aadhar-mos {
            position: absolute;
            left: 0;
            top: 0;
            width: 106rem;
            height: 4.9rem;

            .rectangle-38-7cq {
              left: 0;
              top: 0.1rem;
              background-color: #fffcfc;
              width: 106rem;
              height: 4.7rem;
              position: absolute;
            }
            .aadhar-card-qoj {
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              height: 4.9rem;
              position: absolute;
              top: 0;
              font-size: 3rem;
              color: #000000;
              width: 17.3rem;
              left: 10.3rem;
              font-weight: 400;
              line-height: 1.6025;
            }
            .rectangle-35-mBb {
              width: 2.8rem;
              height: 2.7rem;
              position: absolute;
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
              background-color: #ffffff;
            }
            .pencil-4gV {
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
              top: 1.6998rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.8002rem;
            }
            .delete-cCD {
              position: absolute;
              left: 102.9rem;
              top: 1.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.8rem;
            }
          }
          .pancard-M9o {
            width: 106rem;
            height: 5.5rem;
            position: absolute;
            left: 0;
            top: 4.8rem;

            .rectangle-38-4pu {
              background-color: #fffcfc;
              width: 106rem;
              height: 4.7rem;
              position: absolute;
              left: 0;
              top: 0;
            }
            .pan-card-yws {
              width: 12.5rem;
              position: absolute;
              top: 0.6rem;
              font-size: 3rem;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              height: 4.9rem;
              left: 10.3rem;
              font-weight: 400;
              line-height: 1.6025;
            }
            .rectangle-35-phb {
              width: 2.8rem;
              height: 2.7rem;
              position: absolute;
              left: 4.9rem;
              top: 1.8rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
              background-color: #ffffff;
            }
            .pencil-9js {
              position: absolute;
              left: 98.7rem;
              top: 2.2998rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.8002rem;
              height: 1.8003rem;
            }
            .delete-txM {
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
              top: 2.3rem;
            }
          }
          .voterid-heu {
            top: 10.2rem;
            width: 106rem;
            height: 4.9rem;
            position: absolute;
            left: 0;

            .rectangle-38-DdF {
              width: 106rem;
              height: 4.7rem;
              position: absolute;
              left: 0;
              top: 0.1rem;
              background-color: #fffcfc;
            }
            .voter-id-Zh7 {
              left: 10.3rem;
              top: 0;
              line-height: 1.6025;
              font-family: Jomolhari, 'Source Sans Pro';
              width: 12.1rem;
              height: 4.9rem;
              position: absolute;
              white-space: nowrap;
              font-size: 3rem;
              font-weight: 400;
              color: #000000;
            }
            .rectangle-35-g13 {
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
              background-color: #ffffff;
              width: 2.8rem;
              height: 2.7rem;
              position: absolute;
              left: 4.9rem;
              top: 1.2rem;
            }
            .pencil-obT {
              width: 1.8002rem;
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
              top: 1.6998rem;
              object-fit: contain;
              vertical-align: top;
            }
            .delete-Yow {
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
              top: 1.7rem;
            }
          }
          .voterid-Tg1 {
            width: 106rem;
            height: 4.9rem;
            position: absolute;
            left: 0;
            top: 19.8rem;

            .rectangle-38-c37 {
              position: absolute;
              left: 0;
              top: 0.1rem;
              background-color: #fffcfc;
              width: 106rem;
              height: 4.7rem;
            }
            .abc-card-kv1 {
              font-weight: 400;
              line-height: 1.6025;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              height: 4.9rem;
              position: absolute;
              left: 10.3rem;
              color: #000000;
              width: 14.3rem;
              top: 0;
              font-size: 3rem;
            }
            .rectangle-35-Hf3 {
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
              background-color: #ffffff;
              width: 2.8rem;
              height: 2.7rem;
              position: absolute;
            }
            .pencil-kYd {
              left: 98.7rem;
              top: 1.6998rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.8002rem;
              height: 1.8003rem;
              position: absolute;
            }
            .delete-gBP {
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
              top: 1.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
            }
          }
          .voterid-1zM {
            width: 106rem;
            height: 4.9rem;
            position: absolute;
            left: 0;
            top: 15rem;

            .rectangle-38-mTj {
              width: 106rem;
              height: 4.7rem;
              position: absolute;
              left: 0;
              top: 0.1rem;
              background-color: #fffcfc;
            }
            .health-card-ids {
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              height: 4.9rem;
              position: absolute;
              font-size: 3rem;
              line-height: 1.6025;
              color: #000000;
              width: 16.4rem;
              left: 10.3rem;
              top: 0;
              font-weight: 400;
            }
            .rectangle-35-rVB {
              box-sizing: border-box;
              background-color: #ffffff;
              width: 2.8rem;
              height: 2.7rem;
              position: absolute;
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
            }
            .pencil-ZeV {
              vertical-align: top;
              width: 1.8002rem;
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
              top: 1.6998rem;
              object-fit: contain;
            }
            .delete-UFf {
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
              top: 1.7rem;
            }
          }
          .voterid-CBf {
            width: 106rem;
            height: 4.9rem;
            position: absolute;
            left: 0;
            top: 24.6rem;

            .rectangle-38-K1P {
              background-color: #fffcfc;
              width: 106rem;
              height: 4.7rem;
              position: absolute;
              left: 0;
              top: 0.1rem;
            }
            .driving-license-s2u {
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
              width: 21.7rem;
              height: 4.9rem;
              position: absolute;
              top: 0;
              font-size: 3rem;
              white-space: nowrap;
              left: 10.3rem;
              font-weight: 400;
            }
            .rectangle-35-AXo {
              height: 2.7rem;
              position: absolute;
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
              background-color: #ffffff;
              width: 2.8rem;
            }
            .pencil-hXj {
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
              top: 1.6998rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.8002rem;
            }
            .delete-T17 {
              position: absolute;
              left: 102.9rem;
              top: 1.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.8rem;
            }
          }
        }
      }
      .educationaldocument-iSq {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 2.4rem;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        padding: 0.2rem 0.1rem 1.9rem 0.1rem;
        align-items: center;

        .auto-group-u5pb-e5b {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 1.692rem 0.8rem 2.5rem;
          width: calc(100% - 4.1916rem);
          display: flex;

          .rectangle-35-MEu {
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            margin: 0.9rem 3rem 0rem 0rem;
            width: 2.8rem;
            height: 2.7rem;
            border: solid 0.2rem #92d79e;
          }
          .educational-document-UaR {
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 55.6917rem;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.6025;
          }
          .arrow-down-drop-circle-Qiy {
            margin-top: 0.6rem;
            width: 4.9167rem;
            height: 5.1667rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .line-1-uvd {
          background-color: rgba(0, 0, 0, 0.3799999952);
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 100%;
          height: 0.5rem;
        }
        .auto-group-7p9p-rqs {
          margin: 0rem 1.2rem 0rem 0.4rem;
          width: calc(100% - 1.6rem);
          height: 33.1rem;
          position: relative;
          flex-shrink: 0;

          .xclassmarksheet-aWy {
            position: absolute;
            left: 0;
            top: 0;
            width: 106rem;
            height: 4.9rem;

            .rectangle-38-hbb {
              width: 106rem;
              height: 4.7rem;
              position: absolute;
              left: 0;
              top: 0.1rem;
              background-color: #fffcfc;
            }
            .x-class-marksheet-qC1 {
              top: 0;
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
              position: absolute;
              left: 10.3rem;
              font-size: 3rem;
              font-weight: 400;
              white-space: nowrap;
              width: 25.6rem;
              height: 4.9rem;
            }
            .rectangle-35-XKj {
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
              background-color: #ffffff;
              width: 2.8rem;
              height: 2.7rem;
              position: absolute;
            }
            .pencil-44m {
              top: 1.6998rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.8002rem;
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
            }
            .delete-bqP {
              top: 1.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
            }
          }
          .migration-certificate-L2H {
            width: 106rem;
            height: 4.9rem;
            position: absolute;
            left: 0;
            top: 9.6rem;

            .rectangle-38-sH7 {
              left: 0;
              top: 0.1rem;
              background-color: #fffcfc;
              width: 106rem;
              height: 4.7rem;
              position: absolute;
            }
            .migration-certificate-An1 {
              height: 4.9rem;
              position: absolute;
              top: 0;
              font-weight: 400;
              line-height: 1.6025;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              width: 28.5rem;
              font-size: 3rem;
              color: #000000;
              left: 10.3rem;
            }
            .rectangle-35-H5w {
              position: absolute;
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
              background-color: #ffffff;
              width: 2.8rem;
              height: 2.7rem;
            }
            .pencil-nYV {
              width: 1.8002rem;
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
              top: 1.6998rem;
              object-fit: contain;
              vertical-align: top;
            }
            .delete-D81 {
              top: 1.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
            }
          }
          .migration-certificate-MV7 {
            position: absolute;
            left: 0;
            top: 19.2rem;
            width: 106rem;
            height: 4.9rem;

            .rectangle-38-6Sh {
              height: 4.7rem;
              position: absolute;
              left: 0;
              top: 0.1rem;
              background-color: #fffcfc;
              width: 106rem;
            }
            .last-sem-marksheet-3cq {
              top: 0;
              font-size: 3rem;
              line-height: 1.6025;
              color: #000000;
              position: absolute;
              height: 4.9rem;
              left: 10.3rem;
              font-weight: 400;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              width: 27.6rem;
            }
            .rectangle-35-AxM {
              background-color: #ffffff;
              width: 2.8rem;
              height: 2.7rem;
              position: absolute;
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
            }
            .pencil-Sey {
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
              top: 1.6997rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.8002rem;
            }
            .delete-niq {
              vertical-align: top;
              width: 1.4rem;
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
              top: 1.7rem;
              object-fit: contain;
            }
          }
          .xiiclassmarksheet-w5w {
            width: 106rem;
            height: 4.9rem;
            position: absolute;
            left: 0;
            top: 4.8rem;

            .rectangle-38-GP7 {
              width: 106rem;
              height: 4.7rem;
              position: absolute;
              left: 0;
              top: 0.1rem;
              background-color: #fffcfc;
            }
            .xii-class-marksheet-RG1 {
              color: #000000;
              white-space: nowrap;
              position: absolute;
              font-weight: 400;
              left: 10.3rem;
              top: 0;
              font-size: 3rem;
              line-height: 1.6025;
              font-family: Jomolhari, 'Source Sans Pro';
              width: 27.8rem;
              height: 4.9rem;
            }
            .rectangle-35-Vmf {
              width: 2.8rem;
              height: 2.7rem;
              position: absolute;
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
              background-color: #ffffff;
            }
            .pencil-1k1 {
              object-fit: contain;
              vertical-align: top;
              width: 1.8002rem;
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
              top: 1.6998rem;
            }
            .delete-AN1 {
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
              top: 1.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
            }
          }
          .tc-uKb {
            left: 0;
            top: 14.4rem;
            width: 106rem;
            height: 4.9rem;
            position: absolute;

            .rectangle-38-3wb {
              background-color: #fffcfc;
              width: 106rem;
              height: 4.7rem;
              position: absolute;
              left: 0;
              top: 0.1rem;
            }
            .tc-z69 {
              top: 0;
              font-size: 3rem;
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
              font-family: Jomolhari, 'Source Sans Pro';
              width: 4.3rem;
              height: 4.9rem;
              position: absolute;
              left: 10.3rem;
              line-height: 1.6025;
            }
            .rectangle-35-zkM {
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
              background-color: #ffffff;
              width: 2.8rem;
              height: 2.7rem;
              position: absolute;
            }
            .pencil-Vx1 {
              object-fit: contain;
              vertical-align: top;
              width: 1.8002rem;
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
              top: 1.6997rem;
            }
            .delete-dYR {
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
              top: 1.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
            }
          }
          .gapcertifcate-MUR {
            width: 106rem;
            height: 4.9rem;
            position: absolute;
            left: 0;
            top: 24rem;

            .rectangle-38-gFo {
              width: 106rem;
              height: 4.7rem;
              position: absolute;
              left: 0;
              top: 0.1rem;
              background-color: #fffcfc;
            }
            .gap-certificate-Czq {
              white-space: nowrap;
              width: 20.6rem;
              height: 4.9rem;
              position: absolute;
              top: 0;
              font-size: 3rem;
              font-weight: 400;
              left: 10.3rem;
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
            }
            .rectangle-35-WVj {
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
              background-color: #ffffff;
              width: 2.8rem;
              height: 2.7rem;
              position: absolute;
            }
            .pencil-3Vf {
              top: 1.6997rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.8002rem;
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
            }
            .delete-zQu {
              width: 1.4rem;
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
              top: 1.7rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .gapcertifcate-g2q {
            width: 106rem;
            height: 4.9rem;
            position: absolute;
            left: 0;
            top: 28.2rem;

            .rectangle-38-DHf {
              background-color: #fffcfc;
              width: 106rem;
              height: 4.7rem;
              position: absolute;
              left: 0;
              top: 0.1rem;
            }
            .admission-slip-NAZ {
              top: 0;
              font-size: 3rem;
              font-weight: 400;
              line-height: 1.6025;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              width: 20.8rem;
              height: 4.9rem;
              position: absolute;
              left: 10.3rem;
              color: #000000;
            }
            .rectangle-35-hCq {
              background-color: #ffffff;
              width: 2.8rem;
              height: 2.7rem;
              position: absolute;
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
            }
            .pencil-ETf {
              top: 1.6997rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.8002rem;
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
            }
            .delete-wcy {
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
              top: 1.7rem;
            }
          }
        }
      }
      .familyscholarship-document-3AD {
        box-sizing: border-box;
        padding: 0rem 0.1rem 9.9rem 0.1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 2.4rem;
        flex-shrink: 0;

        .auto-group-ppfw-ZeM {
          flex-shrink: 0;
          margin: 0rem 1.692rem 0.817rem 2.5rem;
          width: calc(100% - 4.1916rem);
          display: flex;
          align-items: center;

          .rectangle-36-fxH {
            margin: 0.117rem 3rem 0rem 0rem;
            width: 2.8rem;
            height: 2.7rem;
            border: solid 0.2rem #92d79e;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
          }
          .family-scholarships-document-zjf {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.6025;
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 37.692rem 0.183rem 0rem;
          }
          .arrow-down-drop-circle-uLq {
            margin-top: 0.8167rem;
            width: 4.9167rem;
            height: 5.1667rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .line-1-oSD {
          margin-bottom: 1.5rem;
          width: 100%;
          height: 0.5rem;
          background-color: rgba(0, 0, 0, 0.3799999952);
          flex-shrink: 0;
        }
        .auto-group-nxqf-9ky {
          flex-shrink: 0;
          margin: 0rem 1.2rem 0rem 0.4rem;
          width: calc(100% - 1.6rem);
          height: 24.1rem;
          position: relative;

          .domicile-certificate-4d3 {
            left: 0;
            top: 0;
            width: 106rem;
            height: 4.9rem;
            position: absolute;

            .rectangle-38-ZZo {
              position: absolute;
              left: 0;
              top: 0.1rem;
              background-color: #fffcfc;
              width: 106rem;
              height: 4.7rem;
            }
            .domicile-certificate-WV3 {
              white-space: nowrap;
              width: 27.5rem;
              height: 4.9rem;
              top: 0;
              font-family: Jomolhari, 'Source Sans Pro';
              line-height: 1.6025;
              color: #000000;
              position: absolute;
              left: 10.3rem;
              font-size: 3rem;
              font-weight: 400;
            }
            .rectangle-35-cHB {
              height: 2.7rem;
              position: absolute;
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
              background-color: #ffffff;
              width: 2.8rem;
            }
            .pencil-6i9 {
              position: absolute;
              left: 98.7rem;
              top: 1.6997rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.8002rem;
              height: 1.8003rem;
            }
            .delete-Sn1 {
              top: 1.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
            }
          }
          .castecertificate-PSM {
            left: 0;
            top: 9.6rem;
            width: 106rem;
            height: 4.9rem;
            position: absolute;

            .rectangle-38-hxq {
              left: 0;
              top: 0.1rem;
              background-color: #fffcfc;
              width: 106rem;
              height: 4.7rem;
              position: absolute;
            }
            .caste-certificate-TSD {
              line-height: 1.6025;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              left: 10.3rem;
              top: 0;
              font-size: 3rem;
              font-weight: 400;
              width: 22.5rem;
              height: 4.9rem;
              color: #000000;
            }
            .rectangle-35-mC1 {
              height: 2.7rem;
              position: absolute;
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
              background-color: #ffffff;
              width: 2.8rem;
            }
            .pencil-Vdo {
              width: 1.8002rem;
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
              top: 1.6997rem;
              object-fit: contain;
              vertical-align: top;
            }
            .delete-F7B {
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
              top: 1.7rem;
            }
          }
          .castecertificate-nso {
            width: 106rem;
            height: 4.9rem;
            position: absolute;
            left: 0;
            top: 14.4rem;

            .rectangle-38-Y6H {
              width: 106rem;
              height: 4.7rem;
              position: absolute;
              left: 0;
              top: 0.1rem;
              background-color: #fffcfc;
            }
            .smagra-id-GHB {
              width: 14.7rem;
              height: 4.9rem;
              left: 10.3rem;
              line-height: 1.6025;
              color: #000000;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              top: 0;
              font-size: 3rem;
              font-weight: 400;
            }
            .rectangle-35-wu7 {
              background-color: #ffffff;
              width: 2.8rem;
              height: 2.7rem;
              position: absolute;
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
            }
            .pencil-gbo {
              object-fit: contain;
              vertical-align: top;
              width: 1.8002rem;
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
              top: 1.6997rem;
            }
            .delete-QXo {
              width: 1.4rem;
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
              top: 1.7rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .castecertificate-Kem {
            left: 0;
            top: 19.2rem;
            width: 106rem;
            height: 4.9rem;
            position: absolute;

            .rectangle-38-F2d {
              top: 0.1rem;
              background-color: #fffcfc;
              width: 106rem;
              height: 4.7rem;
              position: absolute;
              left: 0;
            }
            .bank-passbook-bMP {
              height: 4.9rem;
              position: absolute;
              font-size: 3rem;
              line-height: 1.6025;
              font-family: Jomolhari, 'Source Sans Pro';
              width: 20.6rem;
              left: 10.3rem;
              top: 0;
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
            }
            .rectangle-35-KoB {
              height: 2.7rem;
              position: absolute;
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
              background-color: #ffffff;
              width: 2.8rem;
            }
            .pencil-GCd {
              top: 1.6997rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.8002rem;
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
            }
            .delete-cGV {
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
              top: 1.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
            }
          }
          .incomecertificate-8kd {
            width: 106rem;
            height: 4.9rem;
            position: absolute;
            left: 0;
            top: 4.8rem;

            .rectangle-38-eU5 {
              background-color: #fffcfc;
              width: 106rem;
              height: 4.7rem;
              position: absolute;
              left: 0;
              top: 0.1rem;
            }
            .income-certificate-CVb {
              height: 4.9rem;
              left: 10.3rem;
              font-size: 3rem;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              color: #000000;
              width: 25.1rem;
              position: absolute;
              top: 0;
              font-weight: 400;
              line-height: 1.6025;
            }
            .rectangle-35-Kq7 {
              left: 4.9rem;
              top: 1.2rem;
              border: solid 0.2rem #92d79e;
              box-sizing: border-box;
              background-color: #ffffff;
              width: 2.8rem;
              height: 2.7rem;
              position: absolute;
            }
            .pencil-e6h {
              vertical-align: top;
              width: 1.8002rem;
              height: 1.8003rem;
              position: absolute;
              left: 98.7rem;
              top: 1.6997rem;
              object-fit: contain;
            }
            .delete-jP3 {
              height: 1.8rem;
              position: absolute;
              left: 102.9rem;
              top: 1.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
            }
          }
        }
      }
      .other-document-oth {
        width: 100%;
        height: 36.7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-33-jnM {
          top: 0.1rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 2.4rem;
          width: 107.8rem;
          height: 36.6rem;
          position: absolute;
          left: 0;
        }
        .other-documents-certificate-43w {
          left: 8.4rem;
          font-weight: 400;
          line-height: 1.6025;
          color: #000000;
          font-family: Jomolhari, 'Source Sans Pro';
          white-space: nowrap;
          width: 50.7rem;
          position: absolute;
          top: 0;
          font-size: 3.6rem;
          height: 5.8rem;
        }
        .arrow-down-drop-circle-mj3 {
          vertical-align: top;
          width: 4.9167rem;
          height: 5.1667rem;
          position: absolute;
          left: 101.0917rem;
          top: 0.8167rem;
          object-fit: contain;
        }
        .rectangle-37-tHs {
          width: 2.8rem;
          height: 2.7rem;
          position: absolute;
          left: 2.6rem;
          top: 2.2rem;
          border: solid 0.2rem #92d79e;
          box-sizing: border-box;
          background-color: #ffffff;
        }
        .domicile-certificate-29B {
          top: 8.8rem;
          width: 106rem;
          height: 4.9rem;
          position: absolute;
          left: 0.5rem;

          .rectangle-38-kqs {
            top: 0.1rem;
            background-color: #fffcfc;
            width: 106rem;
            height: 4.7rem;
            position: absolute;
            left: 0;
          }
          .electricity-bill-Hqo {
            height: 4.9rem;
            position: absolute;
            font-size: 3rem;
            line-height: 1.6025;
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
            width: 19.9rem;
            top: 0;
            font-weight: 400;
            white-space: nowrap;
            left: 10.3rem;
          }
          .rectangle-35-CSy {
            top: 1.2rem;
            border: solid 0.2rem #92d79e;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 2.8rem;
            height: 2.7rem;
            position: absolute;
            left: 4.9rem;
          }
          .pencil-vtm {
            vertical-align: top;
            width: 1.8002rem;
            height: 1.8003rem;
            position: absolute;
            left: 98.7rem;
            top: 1.6997rem;
            object-fit: contain;
          }
          .delete-fLZ {
            position: absolute;
            left: 102.9rem;
            top: 1.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.4rem;
            height: 1.8rem;
          }
        }
        .castecertificate-ng5 {
          width: 106rem;
          height: 4.9rem;
          position: absolute;
          left: 0.5rem;
          top: 18.4rem;

          .rectangle-38-Kg1 {
            position: absolute;
            left: 0;
            top: 0.1rem;
            background-color: #fffcfc;
            width: 106rem;
            height: 4.7rem;
          }
          .prarup-1-UJ1 {
            position: absolute;
            top: 0;
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.6025;
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
            width: 11.5rem;
            height: 4.9rem;
            left: 10.3rem;
          }
          .rectangle-35-kFX {
            box-sizing: border-box;
            background-color: #ffffff;
            width: 2.8rem;
            height: 2.7rem;
            position: absolute;
            left: 4.9rem;
            top: 1.2rem;
            border: solid 0.2rem #92d79e;
          }
          .pencil-t6q {
            width: 1.8002rem;
            height: 1.8003rem;
            position: absolute;
            left: 98.7rem;
            top: 1.6997rem;
            object-fit: contain;
            vertical-align: top;
          }
          .delete-ojb {
            left: 102.9rem;
            top: 1.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.4rem;
            height: 1.8rem;
            position: absolute;
          }
        }
        .incomecertificate-9oT {
          height: 4.9rem;
          position: absolute;
          left: 0.5rem;
          top: 13.6rem;
          width: 106rem;

          .rectangle-38-g2h {
            width: 106rem;
            height: 4.7rem;
            position: absolute;
            left: 0;
            top: 0.1rem;
            background-color: #fffcfc;
          }
          .rent-slip-pub {
            top: 0;
            font-size: 3rem;
            color: #000000;
            width: 12.6rem;
            height: 4.9rem;
            left: 10.3rem;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            font-weight: 400;
            line-height: 1.6025;
          }
          .rectangle-35-Z6V {
            box-sizing: border-box;
            background-color: #ffffff;
            width: 2.8rem;
            height: 2.7rem;
            position: absolute;
            left: 4.9rem;
            top: 1.2rem;
            border: solid 0.2rem #92d79e;
          }
          .pencil-54q {
            vertical-align: top;
            width: 1.8002rem;
            height: 1.8003rem;
            position: absolute;
            left: 98.7rem;
            top: 1.6997rem;
            object-fit: contain;
          }
          .delete-oFj {
            top: 1.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.4rem;
            height: 1.8rem;
            position: absolute;
            left: 102.9rem;
          }
        }
        .line-1-XBj {
          width: 107.6rem;
          height: 0.5rem;
          position: absolute;
          left: 0.1rem;
          top: 6.8rem;
          background-color: rgba(0, 0, 0, 0.3799999952);
        }
      }
    }
  }
  .menu-eGM {
    height: 94.1rem;
    top: 9rem;
    border: solid 0 rgba(0, 0, 0, 0.0900000036);
    padding: 6.3rem 0.27rem 6.3rem 2.23rem;
    width: 32.5rem;
    left: 0;
    box-shadow: 0.1rem -0.1rem 0.78rem rgba(0, 0, 0, 0.349999994);
    background-color: rgba(255, 255, 255, 0.6600000262);
    box-sizing: border-box;
    position: absolute;

    .frame-2-ZeD {
      width: 100%;
      height: 46.9rem;
      display: flex;
      flex-direction: column;

      .group-7-HKK {
        margin-bottom: 4.4rem;
        width: 29.5696rem;
        height: 6.1rem;
        cursor: pointer;
        position: relative;
        flex-shrink: 0;

        .rectangle-21-2Gu {
          position: absolute;
          left: 0;
          top: 0.7rem;
          background-color: #fafafa;
          border-radius: 2.2rem;
          width: 29.5696rem;
          height: 5.4rem;
        }
        .documents-wuf {
          font-family: Jomolhari, 'Source Sans Pro';
          height: 5.8rem;
          position: absolute;
          left: 6.3589rem;
          line-height: 1.6025;
          color: #000000;
          white-space: nowrap;
          width: 18.3rem;
          top: 0;
          font-size: 3.6rem;
          font-weight: 400;
        }
        .file-document-Ueh {
          height: 3.3333rem;
          position: absolute;
          left: 1.5174rem;
          top: 1.7333rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.7071rem;
        }
      }
      .group-8-1uX {
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 2.373rem 0rem 0.803rem;
        width: 100%;
        cursor: pointer;
        align-items: center;
        background-color: #fafafa;
        border-radius: 2.2rem;

        .lightbulb-on-10-xJy {
          margin: 0.2rem 1.002rem 0rem 0rem;
          width: 3.7222rem;
          height: 3.6667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .oppurtunities-UHK {
          font-weight: 400;
          line-height: 1.6025;
          color: #000000;
          font-family: Jomolhari, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.6rem;
        }
      }
      .auto-group-wkgz-CDK {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 4.4rem;
        width: 100%;
        row-gap: 4.4rem;
        display: flex;
        flex-direction: column;

        .group-9-6pV {
          position: relative;
          flex-shrink: 0;
          width: 29.5696rem;
          height: 5.8rem;

          .rectangle-20-TQ9 {
            left: 0;
            top: 0.4rem;
            background-color: #92d79e;
            border-radius: 2.2rem;
            width: 29.5696rem;
            height: 5.4rem;
            position: absolute;
          }
          .issued-Q4V {
            width: 10.3rem;
            height: 5.8rem;
            position: absolute;
            left: 5.4304rem;
            color: #000000;
            white-space: nowrap;
            top: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.6025;
            font-family: Jomolhari, 'Source Sans Pro';
          }
          .file-document-check-Xeu {
            position: absolute;
            left: 1.2804rem;
            top: 1.3333rem;
            object-fit: contain;
            vertical-align: top;
            width: 3.1688rem;
            height: 3.3333rem;
          }
        }
        .group-10-qvV {
          flex-shrink: 0;
          width: 29.5696rem;
          height: 5.8rem;
          cursor: pointer;
          position: relative;

          .rectangle-21-CFF {
            border-radius: 2.2rem;
            width: 29.5696rem;
            height: 5.4rem;
            position: absolute;
            left: 0;
            top: 0.4rem;
            background-color: #fafafa;
          }
          .scholarships-LcM {
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
            left: 5.4696rem;
            top: 0;
            font-size: 3.6rem;
            line-height: 1.6025;
            width: 20.6rem;
            height: 5.8rem;
            position: absolute;
            font-weight: 400;
          }
          .cash-multiple-Tws {
            object-fit: contain;
            vertical-align: top;
            width: 3.575rem;
            height: 2.6667rem;
            position: absolute;
            left: 0.7929rem;
            top: 1.8rem;
          }
        }
        .group-11-Now {
          width: 29.5696rem;
          height: 5.8rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-22-uYy {
            top: 0.2rem;
            background-color: #fafafa;
            border-radius: 2.2rem;
            width: 29.5696rem;
            height: 5.4rem;
            position: absolute;
            left: 0;
          }
          .faqs-RGR {
            top: 0;
            font-weight: 400;
            width: 10.4rem;
            left: 7.0696rem;
            font-size: 3.6rem;
            line-height: 1.6025;
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
            height: 5.8rem;
            position: absolute;
          }
          .progress-question-su7 {
            width: 3.2419rem;
            height: 3.3167rem;
            position: absolute;
            left: 1.1027rem;
            top: 1.2417rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
  }
  .header-uL1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 144rem;
    height: 10.7rem;

    .rectangle-2-phs {
      left: 0;
      top: 0.6rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4399999976);
      background-color: #ffffff;
      width: 144rem;
      height: 9.6rem;
      position: absolute;
    }
    .bcd3b4b5d471dae27a60bd4b5f07-1-7BB {
      top: 0.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 9.1rem;
      height: 9.6rem;
      position: absolute;
      left: 0;
    }
    .account-circle-cNq {
      width: 4.9167rem;
      height: 5rem;
      position: absolute;
      left: 134.3917rem;
      top: 2.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .yourparagraphtext1-removebg-preview-1-MLR {
      height: 10.7rem;
      position: relative;
      left: 8.4rem;
      top: 0;
      background-size: 257.143% 284.211%;
      background-position: -8.8381rem -9.8553rem;
      background-image: url('REPLACE_IMAGE:3ebe9113078386c7076ec8718af0fdd9049eac5c');
      width: 11.6rem;
    }
    .ezfill-SMs {
      position: absolute;
      left: 18.9rem;
      top: 4.5rem;
      font-weight: 700;
      line-height: 1.2575;
      font-family: jsMath-cmbx10, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.7rem;
      font-size: 3.5rem;
      color: #15ab30;
      height: 4.5rem;
    }
    .bell-xb7 {
      left: 125.2rem;
      top: 2.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.2rem;
      height: 4.9rem;
      position: absolute;
    }
  }
}
