
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.scholarshipform-Qnq {
  width: 100%;
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding-top: 0.6rem;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;

  .header-Kuo {
    padding-right: 84rem;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4399999976);
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;

    .bcd3b4b5d471dae27a60bd4b5f07-1-pLm {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.9rem;
      width: 9.1rem;
      height: 9.6rem;
    }
    .national-scholarship-portal-LK7 {
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.3625;
      color: #15ab30;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.4rem;
    }
  }
  .auto-group-1vbw-h3B {
    width: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 6.8rem 1.4rem 10.3rem;

    .auto-group-enkd-D1X {
      margin: 0rem 32.9rem 3.6rem 31.6rem;
      width: calc(100% - 64.5rem);
      height: 8.1rem;
      position: relative;
      flex-shrink: 0;

      .following-certificate-must-be-uploaded-in-image-form-8eH {
        width: 62.4rem;
        position: absolute;
        font-weight: 400;
        line-height: 2.01;
        color: #1915f1;
        font-family: Kadwa, 'Source Sans Pro';
        white-space: nowrap;
        height: 4.9rem;
        left: 0;
        top: 0;
        font-size: 2.4rem;
      }
      .required-fields-RtH {
        height: 4.1rem;
        left: 20.7rem;
        line-height: 2.01;
        font-family: Kadwa, 'Source Sans Pro';
        width: 16.2rem;
        position: absolute;
        top: 4rem;
        font-size: 2rem;
        font-weight: 400;
        color: #ff0000;
        white-space: nowrap;
      }
    }
    .frame-25-tms {
      margin: 0rem 1.3rem 2.3rem 0rem;
      box-sizing: border-box;
      padding-top: 13.1rem;
      width: 125.6rem;
      height: 68.1rem;
      flex-shrink: 0;

      .auto-group-2xbj-R17 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .caste-certificate-number-9ho {
          margin: 0rem 23.7rem 3.3rem 0rem;
          width: calc(100% - 23.7rem);
          display: flex;
          align-items: flex-start;
          border-radius: 0.4rem;
          flex-shrink: 0;

          .caste-certificate-no-H3K {
            font-weight: 400;
            line-height: 1.0850000381;
            font-family: JejuGothic, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.5rem 20.1rem 0rem 0rem;
            font-size: 2rem;
            align-items: baseline;
            color: #000000;
            display: flex;

            .caste-certificate-no-H3K-sub-0 {
              font-size: 2rem;
              font-weight: 400;
              line-height: 2.01;
              color: #ff0000;
              font-family: Kadwa, 'Source Sans Pro';
            }
            .caste-certificate-no-H3K-sub-1 {
              font-weight: 400;
              line-height: 2.01;
              color: #000000;
              font-family: Kadwa, 'Source Sans Pro';
              font-size: 2rem;
            }
          }
          .rectangle-55-Y7f {
            background-color: rgba(217, 217, 217, 0.4399999976);
            border-radius: 0.4rem;
            flex-shrink: 0;
            width: 61.3rem;
            height: 3.7rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
        }
        .caste-certificate-Q9s {
          margin-bottom: 3.4rem;
          width: 100%;
          height: 5.2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-21-K1w {
            display: flex;
            align-items: flex-start;
            border-radius: 0.4rem;
            flex-shrink: 0;
            margin: 0.4rem 6rem 0.3rem 0rem;
            height: calc(100% - 0.7rem);

            .caste-certificate-oxh {
              font-weight: 400;
              line-height: 1.0850000381;
              color: #000000;
              white-space: nowrap;
              display: flex;
              align-items: baseline;
              flex-shrink: 0;
              margin: 0.4rem 23.4rem 0rem 0rem;
              font-family: JejuGothic, 'Source Sans Pro';
              font-size: 2rem;

              .caste-certificate-oxh-sub-0 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 2.01;
                color: #ff0000;
                font-family: Kadwa, 'Source Sans Pro';
              }
              .caste-certificate-oxh-sub-1 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 2.01;
                color: #000000;
                font-family: Kadwa, 'Source Sans Pro';
              }
            }
            .rectangle-55-Fy7 {
              box-sizing: border-box;
              background-color: rgba(217, 217, 217, 0.4399999976);
              border-radius: 0.4rem;
              flex-shrink: 0;
              width: 61.3rem;
              height: 3.7rem;
              border: solid 0.1rem #000000;
            }
          }
          .group-23-ibo {
            width: 17.7rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;
          }
        }
        .domicile-certificate-R8q {
          align-items: flex-start;
          border-radius: 0.4rem;
          flex-shrink: 0;
          margin: 0rem 23.7rem 3.3rem 0rem;
          width: calc(100% - 23.7rem);
          display: flex;

          .domicile-certificate-no-YjF {
            color: #ff0000;
            font-family: JejuGothic, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.3rem 16.8rem 0rem 0rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.0850000381;
            display: flex;
            align-items: baseline;

            .domicile-certificate-no-YjF-sub-0 {
              color: #ff0000;
              font-family: Kadwa, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 400;
              line-height: 2.01;
            }
            .domicile-certificate-no-YjF-sub-1 {
              font-size: 2rem;
              font-weight: 400;
              line-height: 2.01;
              color: #000000;
              font-family: Kadwa, 'Source Sans Pro';
            }
          }
          .rectangle-56-qrm {
            height: 3.7rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: rgba(217, 217, 217, 0.4399999976);
            border-radius: 0.4rem;
            flex-shrink: 0;
            width: 61.3rem;
          }
        }
        .domicile-certificate-jSM {
          width: calc(100% - 0.1rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 0.1rem 3.3rem 0rem;

          .group-22-3hw {
            margin-right: 6rem;
            display: flex;
            align-items: flex-start;
            border-radius: 0.4rem;
            flex-shrink: 0;

            .domicile-certificate-CKw {
              font-family: JejuGothic, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              align-items: baseline;
              margin: 0.2rem 20rem 0rem 0rem;
              font-size: 2rem;
              line-height: 1.0850000381;
              font-weight: 400;
              color: #ff0000;
              flex-shrink: 0;

              .domicile-certificate-CKw-sub-0 {
                line-height: 2.01;
                color: #ff0000;
                font-family: Kadwa, 'Source Sans Pro';
                font-size: 2rem;
                font-weight: 400;
              }
              .domicile-certificate-CKw-sub-1 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 2.01;
                color: #000000;
                font-family: Kadwa, 'Source Sans Pro';
              }
            }
            .rectangle-56-JXP {
              box-sizing: border-box;
              background-color: rgba(217, 217, 217, 0.4399999976);
              border-radius: 0.4rem;
              flex-shrink: 0;
              width: 61.3rem;
              height: 3.7rem;
              border: solid 0.1rem #000000;
            }
          }
          .group-24-d3s {
            margin-bottom: 0.3rem;
            width: 17.6rem;
            height: 4.8rem;
            position: relative;
            flex-shrink: 0;
          }
        }
        .voter-id-number-WG5 {
          align-items: flex-start;
          border-radius: 0.4rem;
          flex-shrink: 0;
          margin: 0rem 23.7rem 3.3rem 0rem;
          width: calc(100% - 23.7rem);
          display: flex;

          .voter-id-no-ESy {
            font-weight: 400;
            line-height: 2.01;
            color: #000000;
            font-family: Kadwa, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 28.9rem;
            font-size: 2rem;
          }
          .rectangle-57-aFw {
            background-color: rgba(217, 217, 217, 0.4399999976);
            border-radius: 0.4rem;
            flex-shrink: 0;
            width: 61.3rem;
            height: 3.7rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
        }
        .pan-card-number-5yP {
          margin: 0rem 23.7rem 3.3rem 0rem;
          width: calc(100% - 23.7rem);
          display: flex;
          align-items: flex-start;
          border-radius: 0.4rem;
          flex-shrink: 0;

          .pan-card-no-o8h {
            font-family: Kadwa, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 1.1rem 27.6rem 0rem 0rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.01;
            color: #000000;
          }
          .rectangle-58-XKb {
            border-radius: 0.4rem;
            flex-shrink: 0;
            width: 61.3rem;
            height: 3.7rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: rgba(217, 217, 217, 0.4399999976);
          }
        }
        .sssmid-number-bqF {
          display: flex;
          align-items: center;
          border-radius: 0.4rem;
          flex-shrink: 0;
          margin: 0rem 23.7rem 3.3rem 0rem;
          width: calc(100% - 23.7rem);

          .ssmid-no-weD {
            color: #ff0000;
            font-family: JejuGothic, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 29.7rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.0850000381;
            display: flex;
            align-items: baseline;
            flex-shrink: 0;

            .ssmid-no-weD-sub-0 {
              font-size: 2rem;
              font-weight: 400;
              line-height: 2.01;
              color: #ff0000;
              font-family: Kadwa, 'Source Sans Pro';
            }
            .ssmid-no-weD-sub-1 {
              font-size: 2rem;
              font-weight: 400;
              line-height: 2.01;
              color: #000000;
              font-family: Kadwa, 'Source Sans Pro';
            }
          }
          .rectangle-60-3qf {
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: rgba(217, 217, 217, 0.4399999976);
            border-radius: 0.4rem;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            width: 61.3rem;
            height: 3.7rem;
          }
        }
        .income-certificate-number-Z3K {
          margin: 0rem 23.7rem 3.3rem 0rem;
          width: calc(100% - 23.7rem);
          display: flex;
          align-items: center;
          border-radius: 0.4rem;
          flex-shrink: 0;

          .income-certificate-no-tbP {
            font-family: JejuGothic, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-weight: 400;
            color: #ff0000;
            line-height: 1.0850000381;
            align-items: baseline;
            flex-shrink: 0;
            margin-right: 18.1rem;
            font-size: 2rem;

            .income-certificate-no-tbP-sub-0 {
              font-size: 2rem;
              font-weight: 400;
              line-height: 2.01;
              color: #ff0000;
              font-family: Kadwa, 'Source Sans Pro';
            }
            .income-certificate-no-tbP-sub-1 {
              font-size: 2rem;
              font-weight: 400;
              line-height: 2.01;
              color: #000000;
              font-family: Kadwa, 'Source Sans Pro';
            }
          }
          .rectangle-59-PwT {
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: rgba(217, 217, 217, 0.4399999976);
            border-radius: 0.4rem;
            flex-shrink: 0;
            width: 61.3rem;
            height: 3.7rem;
          }
        }
        .income-certificate-vAh {
          margin-right: 0.4rem;
          width: calc(100% - 0.4rem);
          height: 4.8rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .group-20-okH {
            margin: 0rem 5.6rem 0.5rem 0rem;
            display: flex;
            align-items: center;
            border-radius: 0.4rem;
            flex-shrink: 0;

            .income-certificate-XRP {
              flex-shrink: 0;
              margin-right: 21.4rem;
              font-size: 2rem;
              font-weight: 400;
              color: #ff0000;
              font-family: JejuGothic, 'Source Sans Pro';
              display: flex;
              line-height: 1.0850000381;
              white-space: nowrap;
              align-items: baseline;

              .income-certificate-XRP-sub-0 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 2.01;
                color: #ff0000;
                font-family: Kadwa, 'Source Sans Pro';
              }
              .income-certificate-XRP-sub-1 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 2.01;
                color: #000000;
                font-family: Kadwa, 'Source Sans Pro';
              }
              .income-certificate-XRP-sub-2 {
                line-height: 2.01;
                color: #000000;
                font-family: Kadwa, 'Source Sans Pro';
                font-size: 2rem;
                font-weight: 400;
              }
            }
            .rectangle-61-Nyj {
              background-color: rgba(217, 217, 217, 0.4399999976);
              border-radius: 0.4rem;
              flex-shrink: 0;
              margin-top: 0.2rem;
              width: 61.3rem;
              height: 3.7rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
            }
          }
          .group-25-gjX {
            flex-shrink: 0;
            width: 17.7rem;
            height: 100%;
            position: relative;
          }
        }
      }
    }
    .button-ys3 {
      width: 25rem;
      height: 7.3rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-68-LSh {
        width: 25rem;
        height: 6rem;
        position: absolute;
        left: 0;
        top: 0.6rem;
        background-color: #25a83a;
      }
      .next-Uoo {
        font-weight: 400;
        line-height: 2.01;
        color: #000000;
        font-family: Kadwa, 'Source Sans Pro';
        width: 8.3rem;
        position: absolute;
        left: 8.3rem;
        top: 0;
        height: 7.3rem;
        font-size: 3.6rem;
        white-space: nowrap;
      }
    }
  }
}
