
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 45.8rem;
}.frame-21-6ZB {
  box-sizing: border-box;
  padding-bottom: 2.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}
.frame-21-6ZB .auto-group-gydb-QJy {
  box-sizing: border-box;
  padding: 0.8rem 8.2rem 1.6rem 10.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-21-6ZB .auto-group-gydb-QJy .ellipse-46-To3 {
  margin: 0rem 9.5rem 0.5rem 7.4rem;
  width: calc(100% - 16.9rem);
  height: 10.5rem;
  background-color: #d9d9d9;
  border-radius: 5.25rem;
  flex-shrink: 0;
}
.frame-21-6ZB .auto-group-gydb-QJy .auto-group-msgm-ymP {
  margin: 0rem 5.7rem 2.4rem 4rem;
  width: calc(100% - 9.7rem);
  height: 6.2rem;
  position: relative;
  flex-shrink: 0;
}
.frame-21-6ZB .auto-group-gydb-QJy .auto-group-msgm-ymP .raman-yadav-76u {
  width: 17.7rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-6ZB .auto-group-gydb-QJy .auto-group-msgm-ymP .ramanya-CPF {
  width: 10.6rem;
  height: 2.9rem;
  position: absolute;
  left: 3.3rem;
  top: 3.3rem;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.3625;
  color: rgba(0, 0, 0, 0.5699999928);
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-6ZB .auto-group-gydb-QJy .auto-group-xbzf-6zR {
  width: 100%;
  height: 3.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3.7rem;
  flex-shrink: 0;
}
.frame-21-6ZB .yourfrofile-kp5 {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 1.1rem 20.6rem 0.867rem 2.483rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-21-6ZB .yourfrofile-kp5 .account-fg9 {
  margin: 0.067rem 8.083rem 0rem 0rem;
  width: 3.1333rem;
  height: 3.0667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-21-6ZB .yourfrofile-kp5 .your-profile-mjB {
  margin-bottom: 0.2334rem;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-6ZB .activities-SqK {
  box-sizing: border-box;
  padding: 1.033rem 23.4rem 0.567rem 2.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-21-6ZB .activities-SqK .bell-badge-PEm {
  margin-right: 8.5rem;
  width: 3rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-21-6ZB .activities-SqK .activities-w1P {
  margin-bottom: 0.4666rem;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
