
html {
	font-size:62.5%;
  width: 100vw;
  height: 100vh;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100vw;
  height: 100vh;
}
.login-api-wD7 {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 11.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}
.header-GmB {
  margin-bottom: 10.2rem;
  width: 100vw;
  height: 6rem;
  position: relative;
  flex-shrink: 0;
}
.header-boT {
  box-sizing: border-box;
  width: 100vw;
  height: 6rem;
  position: absolute;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4399999976);
  background-color: #ffffff;
}
.bcd3b4b5d471dae27a60bd4b5f07-1-iNH {
  margin-right: 117.2rem;
  width: 5.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.bcd3b4b5d471dae27a60bd4b5f07-1-iNH1 {
  margin-left: -122rem;
  width: 20rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.bell-qho {
  margin-left: 100rem;
  margin-right: 5rem;
  width: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-circle-Ak5 {
  width: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ezapi-i9K {
  position: absolute;
  left: 14rem;
  top: 2.4rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #15ab30;
  font-family: jsMath-cmbx10, 'Source Sans Pro';
  white-space: nowrap;
}
.card-login-sign-up-ckV {
  box-sizing: border-box;
  width: 60rem;
  height: 40rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.9rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 5.3rem;
  flex-shrink: 0;
}
.auto-group-dlum-XsT {
  margin-bottom: 7.8rem;
  width: 100%;
  height: 9.9rem;
  position: relative;
  flex-shrink: 0;
}
.rectangle-44-tCD {
  width: 53.1rem;
  height: 9.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #4f33fa;
  border-radius: 5.3rem 0 0 0;
}
.rectangle-45-RT3 {
  width: 60rem;
  height: 6rem;
  position: absolute;
  background-color: #4f33fa;
  border-radius: 5.3rem 5.3rem 0 0;
}
.log-in-uND {
  position: absolute;
  left: 25rem;
  top: 1.6rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.name-field-js3 {
  width: 10rem;
  margin-right: 45rem;
  margin-top: -7rem;
  margin-bottom: 9rem;
  display: flex;
  align-items: flex-start;
}
.name-H7s {
  margin-right: 2.4rem;
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.rectangle-45-pdb {
  width: 34rem;
  height: 3rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.mobile-number-MNd {
  margin: 0rem 25.7rem 5.8rem 0rem;
  width: calc(100% - 25.7rem);
  display: flex;
  align-items: flex-end;
}
.mobile-number-MNd .mobile-no-RNV {
  margin-right: 1.5rem;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-number-MNd .rectangle-46-mBT {
  width: 34rem;
  height: 4.9rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.age-em3 {
  margin: 0rem 37.5rem 16.2rem 0.9rem;
  width: calc(100% - 38.4rem);
  display: flex;
  align-items: center;
}
.age-em3 .pin-AzH {
  margin-right: 2.8rem;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.age-em3 .rectangle-45-XK3 {
  width: 31.9rem;
  height: 4.9rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.auto-group-qdo3-TCh {
  margin-right: 4rem;
  width: 18rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 2rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4f33fa;
}
