
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.scholarshipform-Qnq {
  box-sizing: border-box;
  padding-top: 0.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.scholarshipform-Qnq .header-Kuo {
  box-sizing: border-box;
  padding-right: 84rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4399999976);
  background-color: #ffffff;
  flex-shrink: 0;
}
.scholarshipform-Qnq .header-Kuo .bcd3b4b5d471dae27a60bd4b5f07-1-pLm {
  margin-right: 2.9rem;
  width: 9.1rem;
  height: 9.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.scholarshipform-Qnq .header-Kuo .national-scholarship-portal-LK7 {
  margin-top: 0.4rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #15ab30;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B {
  box-sizing: border-box;
  padding: 1.4rem 6.8rem 1.4rem 10.3rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .auto-group-enkd-D1X {
  margin: 0rem 32.9rem 3.6rem 31.6rem;
  width: calc(100% - 64.5rem);
  height: 8.1rem;
  position: relative;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .auto-group-enkd-D1X .following-certificate-must-be-uploaded-in-image-form-8eH {
  width: 62.4rem;
  height: 4.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.01;
  color: #1915f1;
  font-family: Kadwa, 'Source Sans Pro';
  white-space: nowrap;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .auto-group-enkd-D1X .required-fields-RtH {
  width: 16.2rem;
  height: 4.1rem;
  position: absolute;
  left: 20.7rem;
  top: 4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #ff0000;
  font-family: Kadwa, 'Source Sans Pro';
  white-space: nowrap;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms {
  margin: 0rem 1.3rem 2.3rem 0rem;
  box-sizing: border-box;
  padding-top: 13.1rem;
  width: 125.6rem;
  height: 68.1rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .caste-certificate-number-9ho {
  margin: 0rem 23.7rem 3.3rem 0rem;
  width: calc(100% - 23.7rem);
  display: flex;
  align-items: flex-start;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .caste-certificate-number-9ho .caste-certificate-no-H3K {
  margin: 0.5rem 20.1rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0850000381;
  color: #000000;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .caste-certificate-number-9ho .caste-certificate-no-H3K .caste-certificate-no-H3K-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #ff0000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .caste-certificate-number-9ho .caste-certificate-no-H3K .caste-certificate-no-H3K-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #000000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .caste-certificate-number-9ho .rectangle-55-Y7f {
  width: 61.3rem;
  height: 3.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0.4399999976);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .caste-certificate-Q9s {
  margin-bottom: 3.4rem;
  width: 100%;
  height: 5.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .caste-certificate-Q9s .group-21-K1w {
  margin: 0.4rem 6rem 0.3rem 0rem;
  height: calc(100% - 0.7rem);
  display: flex;
  align-items: flex-start;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .caste-certificate-Q9s .group-21-K1w .caste-certificate-oxh {
  margin: 0.4rem 23.4rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0850000381;
  color: #000000;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .caste-certificate-Q9s .group-21-K1w .caste-certificate-oxh .caste-certificate-oxh-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #ff0000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .caste-certificate-Q9s .group-21-K1w .caste-certificate-oxh .caste-certificate-oxh-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #000000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .caste-certificate-Q9s .group-21-K1w .rectangle-55-Fy7 {
  width: 61.3rem;
  height: 3.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0.4399999976);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .caste-certificate-Q9s .group-23-ibo {
  width: 17.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .domicile-certificate-R8q {
  margin: 0rem 23.7rem 3.3rem 0rem;
  width: calc(100% - 23.7rem);
  display: flex;
  align-items: flex-start;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .domicile-certificate-R8q .domicile-certificate-no-YjF {
  margin: 0.3rem 16.8rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0850000381;
  color: #ff0000;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .domicile-certificate-R8q .domicile-certificate-no-YjF .domicile-certificate-no-YjF-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #ff0000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .domicile-certificate-R8q .domicile-certificate-no-YjF .domicile-certificate-no-YjF-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #000000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .domicile-certificate-R8q .rectangle-56-qrm {
  width: 61.3rem;
  height: 3.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0.4399999976);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .domicile-certificate-jSM {
  margin: 0rem 0.1rem 3.3rem 0rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .domicile-certificate-jSM .group-22-3hw {
  margin-right: 6rem;
  display: flex;
  align-items: flex-start;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .domicile-certificate-jSM .group-22-3hw .domicile-certificate-CKw {
  margin: 0.2rem 20rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0850000381;
  color: #ff0000;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .domicile-certificate-jSM .group-22-3hw .domicile-certificate-CKw .domicile-certificate-CKw-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #ff0000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .domicile-certificate-jSM .group-22-3hw .domicile-certificate-CKw .domicile-certificate-CKw-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #000000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .domicile-certificate-jSM .group-22-3hw .rectangle-56-JXP {
  width: 61.3rem;
  height: 3.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0.4399999976);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .domicile-certificate-jSM .group-24-d3s {
  margin-bottom: 0.3rem;
  width: 17.6rem;
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .voter-id-number-WG5 {
  margin: 0rem 23.7rem 3.3rem 0rem;
  width: calc(100% - 23.7rem);
  display: flex;
  align-items: flex-start;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .voter-id-number-WG5 .voter-id-no-ESy {
  margin-right: 28.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #000000;
  font-family: Kadwa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .voter-id-number-WG5 .rectangle-57-aFw {
  width: 61.3rem;
  height: 3.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0.4399999976);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .pan-card-number-5yP {
  margin: 0rem 23.7rem 3.3rem 0rem;
  width: calc(100% - 23.7rem);
  display: flex;
  align-items: flex-start;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .pan-card-number-5yP .pan-card-no-o8h {
  margin: 1.1rem 27.6rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #000000;
  font-family: Kadwa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .pan-card-number-5yP .rectangle-58-XKb {
  width: 61.3rem;
  height: 3.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0.4399999976);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .sssmid-number-bqF {
  margin: 0rem 23.7rem 3.3rem 0rem;
  width: calc(100% - 23.7rem);
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .sssmid-number-bqF .ssmid-no-weD {
  margin-right: 29.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0850000381;
  color: #ff0000;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .sssmid-number-bqF .ssmid-no-weD .ssmid-no-weD-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #ff0000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .sssmid-number-bqF .ssmid-no-weD .ssmid-no-weD-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #000000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .sssmid-number-bqF .rectangle-60-3qf {
  margin-bottom: 0.2rem;
  width: 61.3rem;
  height: 3.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0.4399999976);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .income-certificate-number-Z3K {
  margin: 0rem 23.7rem 3.3rem 0rem;
  width: calc(100% - 23.7rem);
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .income-certificate-number-Z3K .income-certificate-no-tbP {
  margin-right: 18.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0850000381;
  color: #ff0000;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .income-certificate-number-Z3K .income-certificate-no-tbP .income-certificate-no-tbP-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #ff0000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .income-certificate-number-Z3K .income-certificate-no-tbP .income-certificate-no-tbP-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #000000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .income-certificate-number-Z3K .rectangle-59-PwT {
  width: 61.3rem;
  height: 3.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0.4399999976);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .income-certificate-vAh {
  margin-right: 0.4rem;
  width: calc(100% - 0.4rem);
  height: 4.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .income-certificate-vAh .group-20-okH {
  margin: 0rem 5.6rem 0.5rem 0rem;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .income-certificate-vAh .group-20-okH .income-certificate-XRP {
  margin-right: 21.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0850000381;
  color: #ff0000;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .income-certificate-vAh .group-20-okH .income-certificate-XRP .income-certificate-XRP-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #ff0000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .income-certificate-vAh .group-20-okH .income-certificate-XRP .income-certificate-XRP-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #000000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .income-certificate-vAh .group-20-okH .income-certificate-XRP .income-certificate-XRP-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.01;
  color: #000000;
  font-family: Kadwa, 'Source Sans Pro';
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .income-certificate-vAh .group-20-okH .rectangle-61-Nyj {
  margin-top: 0.2rem;
  width: 61.3rem;
  height: 3.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0.4399999976);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .frame-25-tms .auto-group-2xbj-R17 .income-certificate-vAh .group-25-gjX {
  width: 17.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .button-ys3 {
  width: 25rem;
  height: 7.3rem;
  position: relative;
  flex-shrink: 0;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .button-ys3 .rectangle-68-LSh {
  width: 25rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: #25a83a;
}
.scholarshipform-Qnq .auto-group-1vbw-h3B .button-ys3 .next-Uoo {
  width: 8.3rem;
  height: 7.3rem;
  position: absolute;
  left: 8.3rem;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 2.01;
  color: #000000;
  font-family: Kadwa, 'Source Sans Pro';
  white-space: nowrap;
}
