{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>FAQ</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jomolhari%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=jsMath-cmbx10%3A700"/>
  <link rel="stylesheet" href="{% static '/styles/faq-18H.css' %}"/>
</head>
<body>
<div class="faq-PbT">
  <div class="frame-22-Yz9">
    <div class="personal-documement-eXP" id="faqItem">
      <div class="auto-group-egyu-BGR">
        <p class="how-to-create-pan-card-jYq">How To create PAN Card?</p>
        <img class="arrow-down-drop-circle-dPK" src="{% static '/assets/arrow-down-drop-circle.png' %}" onclick="toggleAnswer()" />
        <p class="discription" id="answer">
          sdfghjodfghdfgjkldfghjkl;'fghjkl;'
        </p>
      </div>
    </div>
    
    
    
  </div>
  <div class="menu-Qp5">
    <div class="frame-2-7iV">
      <div class="group-7-rg5">
        <a href="{% url 'dashboard' %}">
        <div class="rectangle-21-bdf"></div>
        <div class="documents-ueM">Documents</div>
        <img class="file-document-ERj" src="{% static '/assets/file-document-gwf.png' %}"/>
      </a>
      </div>
      <div class="group-7-rg5">
        <a href="{% url 'opportunities' %}">
        <div class="rectangle-21-bdf">
        </div>
        <div class="documents-ueM">Oppurtunities</div>
        <img class="file-document-ERj" src="{% static '/assets/lightbulb-on-10-6v1.png' %}"/>
      </a>
      </div>
      <div class="group-7-rg5">
        <a href="{% url 'issuedDocs' %}">
        <div class="rectangle-21-bdf">
        </div>
        <div class="documents-ueM">Issued</div>
        <img class="file-document-ERj" src="{% static '/assets/file-document-check-17j.png' %}"/>
      </a>
      </div>
      <div class="group-7-rg5">
        <a href="{% url 'scolar' %}">
        <div class="rectangle-21-bdf">
        </div>
        <div class="documents-ueM">Scholarships</div>
        <img class="file-document-ERj" src="{% static '/assets/cash-multiple-pDT.png' %}"/>
      </a>
      </div>
      <div class="group-7-rg5">
        <a href="{% url 'faq' %}">
        <div class="rectangle-21-bdf">
        </div>
        <div class="documents-ueM">FAQ’s</div>
        <img class="file-document-ERj" src="{% static '/assets/progress-question-fQ9.png' %}"/>
      </a>
      </div>

    </div>
  </div>
  <div class="header-7LR">
    <div class="rectangle-2-4Ff">
    </div>
    <img class="bcd3b4b5d471dae27a60bd4b5f07-1-9nu" src="{% static '/assets/bcd3b4b5d471dae27a60bd4b5f07-1-kMs.png' %}"/>
    <img class="account-circle-tEh" src="{% static '/assets/account-circle-HeV.png' %}"/>
    <div class="yourparagraphtext1-removebg-preview-1-BUh">
    </div>
    <p class="ezfill-GW9">Ezfill</p>
    <img class="bell-ArR" src="{% static '/assets/bell-PhP.png' %}"/>
  </div>
</div>
<script src="JS/DropdownJS"></script>
</body>