{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>IssuedDocuments</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jomolhari%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=jsMath-cmbx10%3A700"/>
  <link rel="stylesheet" href="{% static '/styles/issueddocuments.css' %}"/>
  <link rel="stylesheet" href="{% static '/styles/frame-21.css' %}"/>
</head>
<body>
<form action="{% url 'downPDF' %}" method="get">
  <div class="issueddocuments-Ebf">
    <div class="body-xXf">
      <button class="create-pdf-4Ko" type="submit">Create Pdf</button>
      <div class="issueddocuments-t3w">
        <div class="personal-documement-bDF" id="personalDocumentToggle">
          
          <div class="auto-group-8ieh-tTF">
            <input class="rectangle-34-Bx9" type="checkbox" name="all_personal"/>
            <p class="personal-document-uNM">Personal Document</p>
            <img  class="arrow-down-drop-circle-PoK" src="{% static '/assets/arrow-down-drop-circle-uvV.png' %}" />
          </div>
          
          <div class="line-1-JfP"></div>
          <div class="auto-group-acaz-rB7" id="documentContainer">
            
            {% for item in personal_doc %}
            <div class="aadhar-mos">
              <div class="rectangle-38-7cq">
              </div>
              <p class="aadhar-card-qoj">{{item}}</p>
              <input class="rectangle-35-mBb" type="checkbox" name="{{item}}"/>
              
            </div>
            
            {% endfor %}
          </div>
        </div>
        

        <!-- Educational Document -->

        <div class="personal-documement-bDF" id="educationalDocumentToggle" >
          <div class="auto-group-8ieh-tTF">
            <input class="rectangle-34-Bx9" type="checkbox" name="all_edu"/>
            <p class="personal-document-uNM">Educational Document</p>
            <img  class="arrow-down-drop-circle-PoK" src="{% static '/assets/arrow-down-drop-circle-uvV.png' %}" />
          </div>
          <div class="line-1-JfP"></div>
          <div class="auto-group-acaz-rB7" id="educationalDocument">
            
            {% for item in edu_doc %}
            <div class="aadhar-mos">
              <div class="rectangle-38-7cq">
              </div>
              <p class="aadhar-card-qoj">{{item}}</p>
              <input class="rectangle-35-mBb" type="checkbox" name="{{item}}"/>
              
            </div>
            {% endfor %}
          </div>
        </div> 
        <!-- end Educational -->

        <!-- Scholarship Document -->

        <div class="personal-documement-bDF" id="familyDocumentToggle" >
          <div class="auto-group-8ieh-tTF">
            <input class="rectangle-34-Bx9" type="checkbox" name="all_scholar"/>
            <p class="personal-document-uNM">Scholarship Document</p>
            <img  class="arrow-down-drop-circle-PoK" src="{% static '/assets/arrow-down-drop-circle-uvV.png' %}" />
          </div>
          <div class="line-1-JfP"></div>
          <div class="auto-group-acaz-rB7"  id="scholarshipDocument">
            
            {% for item in scholar_doc %}
            <div class="aadhar-mos">
              <div class="rectangle-38-7cq">
              </div>
              <p class="aadhar-card-qoj">{{item}}</p>
              <input class="rectangle-35-mBb" type="checkbox" name="{{item}}"/>
              
            </div>

            {% endfor %}
            
          </div>
        </div> 

        <!-- Other Scholaeship Document -->
        
        <div class="personal-documement-bDF" id="OtherDocumentToggle">
          <div class="auto-group-8ieh-tTF">
            <input class="rectangle-34-Bx9" type="checkbox" name="allother"/>
            <p class="personal-document-uNM">Other Document</p>
            <img  class="arrow-down-drop-circle-PoK" src="{% static '/assets/arrow-down-drop-circle-uvV.png' %}" />
          </div>
          <div class="line-1-JfP"></div>
          <div class="auto-group-acaz-rB7" id="otherDocument">
            
            {% for item in other_doc %}
            <div class="aadhar-mos">
              <div class="rectangle-38-7cq">
              </div>
              <p class="aadhar-card-qoj">{{item}}</p>
              <input class="rectangle-35-mBb" type="checkbox" name="{{item}}"/>
              
            </div>
            {% endfor %}
            
          </div>
        </div>
        
      </div>
    </div>
    <div class="menu-Qp5">
      <div class="frame-2-7iV">
        <div class="group-7-rg5">
          <a href="{% url 'dashboard' %}">
          <div class="rectangle-21-bdf"></div>
          <div class="documents-ueM">Documents</div>
          <img class="file-document-ERj" src="{% static '/assets/file-document-gwf.png' %}"/>
        </a>
        </div>
        <div class="group-7-rg5">
          <a href="{% url 'opportunities' %}">
          <div class="rectangle-21-bdf">
          </div>
          <div class="documents-ueM">Oppurtunities</div>
          <img class="file-document-ERj" src="{% static '/assets/lightbulb-on-10-6v1.png' %}"/>
        </a>
        </div>
        <div class="group-7-rg5">
          <a href="{% url 'issuedDocs' %}">
          <div class="rectangle-21-bdf">
          </div>
          <div class="documents-ueM">Issued</div>
          <img class="file-document-ERj" src="{% static '/assets/file-document-check-17j.png' %}"/>
        </a>
        </div>
        <div class="group-7-rg5">
          <a href="{% url 'scolar' %}">
          <div class="rectangle-21-bdf">
          </div>
          <div class="documents-ueM">Scholarships</div>
          <img class="file-document-ERj" src="{% static '/assets/cash-multiple-pDT.png' %}"/>
        </a>
        </div>
        <div class="group-7-rg5">
          <a href="{% url 'faq' %}">
          <div class="rectangle-21-bdf">
          </div>
          <div class="documents-ueM">FAQ’s</div>
          <img class="file-document-ERj" src="{% static '/assets/progress-question-fQ9.png' %}"/>
        </a>
        </div>

      </div>
    </div>
    <div class="header-7LR">
      <div class="rectangle-2-4Ff">
      </div>
      <img class="bcd3b4b5d471dae27a60bd4b5f07-1-9nu" src="{% static '/assets/bcd3b4b5d471dae27a60bd4b5f07-1-kMs.png' %}"/>
      <img id="myBtn" class="account-circle-tEh" src="{% static '/assets/account-circle-HeV.png' %}"/>
      <div class="yourparagraphtext1-removebg-preview-1-BUh"></div>
      <p class="ezfill-GW9">Ezfill</p>
      <img class="bell-ArR" src="{% static '/assets/bell-PhP.png' %}"/>
      <!-- PopUpBox -->
      <div id="myModal" class=" modal">
        <div class=" modal-content">
          <span class="close">&times;</span>
          <div class="frame-21-6ZB">
          <div class="auto-group-gydb-QJy">
          <div class="ellipse-46-To3">
          </div>
          <div class="auto-group-msgm-ymP">
            <p class="raman-yadav-76u">{{aadhar.holder_name}}</p>
            <p class="ramanya-CPF">{{aadhar.aadhar_no}}</p>
          </div>
          <a class="auto-group-xbzf-6zR"  href="{% url 'profile' %}">Manage Your Account
            .
          </a>
        </div>
        <a class="yourfrofile-kp5", href="{% url 'logout' %}">
          <img class="account-fg9" src="{% static '/assets/account.png' %}"/>
          <p class="your-profile-mjB">Logout</p>
        </a>
        <div class="activities-SqK">
          <img class="bell-badge-PEm" src="{% static '/assets/bell-badge.png' %}"/>
          <p class="activities-w1P">Activities</p>
        </div>
        </div>
      </div>
    </div>
    </div>
  </div>

</form>
<script src="{% static '/JS/AccountPopUP.js' %}"></script>
<script src="{% static 'JS/DropdownJS' %}"></script>
</body>