{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>ScholarShipForm</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kadwa%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=JejuGothic%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=K2D%3A400"/>
  <link rel="stylesheet" href="{% static 'styles/scholarshipform.css' %}"/>
</head>
<body>
<div class="scholarshipform-Qnq">
  <div class="header-Kuo">
    <img class="bcd3b4b5d471dae27a60bd4b5f07-1-pLm" src="{% static 'assets/bcd3b4b5d471dae27a60bd4b5f07-1.png' %}"/>
    <p class="national-scholarship-portal-LK7">National Scholarship Portal</p>
  </div>
  <div class="auto-group-1vbw-h3B">
    <div class="auto-group-enkd-D1X">
      <p class="following-certificate-must-be-uploaded-in-image-form-8eH">Following Certificate must be uploaded in image form</p>
      <p class="required-fields-RtH">* Required Fields</p>
    </div>

    <form action="{% url 'scholar' %}" method="post">
      {% csrf_token %}
      <div class="frame-25-tms">
        <div class="auto-group-2xbj-R17">
          <div class="caste-certificate-number-9ho">
            <p class="caste-certificate-no-H3K">
              <span class="caste-certificate-no-H3K-sub-0">*</span>
              <span class="caste-certificate-no-H3K-sub-1">Caste Certificate No.</span>
            </p>
  
            {{form.caste}}
            <!-- <input class="rectangle-55-Y7f" type="text"/> -->
          </div>
          <div class="caste-certificate-Q9s">
            <div class="group-21-K1w">
              <p class="caste-certificate-oxh">
                <span class="caste-certificate-oxh-sub-0">*</span>
                <span class="caste-certificate-oxh-sub-1">Caste Certificate </span>
              </p>
              <div class="rectangle-55-Fy7">
              </div>
            </div>
            <input class="group-23-ibo" type="file"/>
          </div>
          <div class="domicile-certificate-R8q">
            <p class="domicile-certificate-no-YjF">
              <span class="domicile-certificate-no-YjF-sub-0">*</span>
              <span class="domicile-certificate-no-YjF-sub-1">Domicile Certificate No.</span>
            </p>
            <input class="rectangle-56-qrm" type="text"/>
          </div>
          <div class="domicile-certificate-jSM">
            <div class="group-22-3hw">
              <p class="domicile-certificate-CKw">
                <span class="domicile-certificate-CKw-sub-0">*</span>
                <span class="domicile-certificate-CKw-sub-1">Domicile Certificate </span>
              </p>
              <div class="rectangle-56-JXP">
              </div>
            </div>
            <input class="group-24-d3s" type="file"/>
          </div>
          <div class="voter-id-number-WG5">
            <p class="voter-id-no-ESy">Voter ID No.</p>
            <input class="rectangle-57-aFw" type="text"/>
          </div>
          <div class="pan-card-number-5yP">
            <p class="pan-card-no-o8h">PAN Card No.</p>
            <input class="rectangle-58-XKb" type="text"/>
          </div>
          <div class="sssmid-number-bqF">
            <p class="ssmid-no-weD">
              <span class="ssmid-no-weD-sub-0">*</span>
              <span class="ssmid-no-weD-sub-1">SSMID No.</span>
            </p>
            <input class="rectangle-60-3qf" type="text"/>
          </div>
          <div class="income-certificate-number-Z3K">
            <p class="income-certificate-no-tbP">
              <span class="income-certificate-no-tbP-sub-0">*</span>
              <span class="income-certificate-no-tbP-sub-1">Income Certificate No.</span>
            </p>
            <input class="rectangle-59-PwT" type="text"/>
          </div>
          <div class="income-certificate-vAh">
            <div class="group-20-okH">
              <p class="income-certificate-XRP">
                <span class="income-certificate-XRP-sub-0">*</span>
                <span class="income-certificate-XRP-sub-1">Income</span>
                <span class="income-certificate-XRP-sub-2"> Certificate </span>
              </p>
              <input class="rectangle-61-Nyj" type="file"/>
            </div>
            <input class="group-25-gjX" type="file"/>
          </div>
        </div>
      </div>
      <div class="button-ys3">
        <div class="rectangle-68-LSh">
        </div>
        <p class="next-Uoo">Next</p>
      </div>


    </form>


    
  </div>
</div>
</body>