{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>ScholarShips</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orelega+One%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=jsMath-cmbx10%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jomolhari%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="{% static '/styles/scholarships-AwP.css' %}"/>
  <link rel="stylesheet" href="{% static '/styles/frame-21.css' %}"/>
</head>
<body>
<div class="scholarships-3pq">
  <div class="body-Pdo">
    <div class="status-of-scholarships-5mX">
      <p class="applied-scholarship-status-2gm">Applied Scholarship Status</p>
      <div class="auto-group-nppy-Yv1">
        <p class="sc-st-scholarship-fUq">SC/ST Scholarship</p>
        <div class="eligiblity-status-yVX">
          <img class="circle-slice-1-Duf" src="{% static '/assets/circle-slice-1.png' %}"/>
          <div class="ellipse-1-8mj">
          </div>
          <div class="ellipse-1-8mj">
          </div>
          <div class="ellipse-1-8mj">
          </div>
          <div class="ellipse-1-8mj">
          </div>
          <div class="ellipse-1-8mj">
          </div>
          <div class="ellipse-1-8mj">
          </div>
          <div class="ellipse-1-8mj">
          </div>
          <div class="ellipse-1-8mj">
          </div>
          <div class="ellipse-1-8mj">
          </div>
          <div class="ellipse-1-8mj">
          </div>
          <div class="ellipse-1-8mj">
          </div>
          
          <img class="circle-slice-2-PND" src="{% static '/assets/circle-slice-2.png' %}"/>
          <div class="ellipse-12-hNu">
          </div>
          <div class="ellipse-12-hNu">
          </div>
          <div class="ellipse-12-hNu">
          </div>
          <div class="ellipse-12-hNu">
          </div>
          <div class="ellipse-12-hNu">
          </div>
          <div class="ellipse-12-hNu">
          </div>
          <div class="ellipse-12-hNu">
          </div>
          <div class="ellipse-12-hNu">
          </div>

          <div class="ellipse-12-hNu">
          </div>
          <div class="ellipse-12-hNu">
          </div>
          <div class="ellipse-12-hNu">
          </div>
          <div class="ellipse-12-hNu">
          </div>

          
          <img class="circle-slice-4-149" src="{% static '/assets/circle-slice-4.png' %}"/>
          <div class="ellipse-23-B73">
          </div>
          <div class="ellipse-23-B73">
          </div>
          <div class="ellipse-23-B73">
          </div>
          <div class="ellipse-23-B73">
          </div>

          <div class="ellipse-23-B73">
          </div><div class="ellipse-23-B73">
          </div>
          <div class="ellipse-23-B73">
          </div>
          <div class="ellipse-23-B73">
          </div>
          <div class="ellipse-23-B73">
          </div>
          <div class="ellipse-23-B73">
          </div>
          
          <img class="circle-slice-6-XMF" src="{% static '/assets/circle-slice-6.png' %}"/>
          <div class="ellipse-34-F2M">
          </div>
          <div class="ellipse-34-F2M">
          </div>
          <div class="ellipse-34-F2M">
          </div>
          <div class="ellipse-34-F2M">
          </div>
          <div class="ellipse-34-F2M">
          </div>
          <div class="ellipse-34-F2M">
          </div>
          <div class="ellipse-34-F2M">
          </div>
          <div class="ellipse-34-F2M">
          </div>
          <div class="ellipse-34-F2M">
          </div>
          <div class="ellipse-34-F2M">
          </div>
          <div class="ellipse-34-F2M">
          </div>          
          <img class="circle-slice-8-uHF" src="{% static '/assets/circle-slice-8.png' %}"/>
        </div>
        <div class="frame-18-2Ms">
          <p class="form-fill-XJd">Form fill</p>
          <p class="institution-verification-G1K">Institution Verification</p>
          <p class="government-verification-anh">Government Verification</p>
          <p class="money-scentioned-L1B">Money Scentioned</p>
          <p class="money-deposited-HBK">Money Deposited</p>
        </div>
      </div>
    </div>
    <p class="scholarships-eligiblity-cUV">Scholarships &amp; Eligiblity</p>
    <div class="frame-24-kKo">
      <div class="auto-group-buar-FGZ">
        <div class="scholarshipcard-CBo">
          <div class="auto-group-ubs5-85T">
            <div class="tag-E8V">Fresh</div>
            <div class="auto-group-xjwm-tiq">
              <img class="mptaaslogo-1-CjX" src="{% static '/assets/mptaaslogo-1-Asf.png' %}"/>
              <div class="auto-group-c54r-98y">
                <p class="apply-date-T9f">Apply Date</p>
                <p class="item-01-01-2023-8mb">01/01/2023</p>
              </div>
            </div>
            <p class="post-metric-scholarship-sc-st-obc-G77">Post Metric Scholarship (SC/ST/OBC)</p>
            <p class="last-updated-20-01-2023-ynD">Last Updated :- 20/01/2023</p>
            <div class="auto-group-wbdf-W1T">
              <p class="granted-scholarship-e7f">Granted Scholarship</p>
              <p class="eligiblity-mTB">Eligiblity</p>
            </div>
            <div class="auto-group-q7mo-Rnd">
              <p class="item-101000--YsF">₹1,01,000 /-</p>
              <p class="eligible-s8q">100% Eligible</p>
            </div>
          </div>
          <div class="auto-group-m4h3-zUM">View Scholarship</div>
        </div>   
      </div> 
      <div class="auto-group-buar-FGZ">
        <div class="scholarshipcard-CBo">
          <div class="auto-group-ubs5-85T">
            <div class="tag-E8V">Fresh</div>
            <div class="auto-group-xjwm-tiq">
              <img class="mptaaslogo-1-CjX" src="{% static '/assets/mptaaslogo-1-Asf.png' %}"/>
              <div class="auto-group-c54r-98y">
                <p class="apply-date-T9f">Apply Date</p>
                <p class="item-01-01-2023-8mb">01/01/2023</p>
              </div>
            </div>
            <p class="post-metric-scholarship-sc-st-obc-G77">Post Metric Scholarship (SC/ST/OBC)</p>
            <p class="last-updated-20-01-2023-ynD">Last Updated :- 20/01/2023</p>
            <div class="auto-group-wbdf-W1T">
              <p class="granted-scholarship-e7f">Granted Scholarship</p>
              <p class="eligiblity-mTB">Eligiblity</p>
            </div>
            <div class="auto-group-q7mo-Rnd">
              <p class="item-101000--YsF">₹1,01,000 /-</p>
              <p class="eligible-s8q">100% Eligible</p>
            </div>
          </div>
          <div class="auto-group-m4h3-zUM">View Scholarship</div>
        </div>   
      </div> 
      <div class="auto-group-buar-FGZ">
        <div class="scholarshipcard-CBo">
          <div class="auto-group-ubs5-85T">
            <div class="tag-E8V">Fresh</div>
            <div class="auto-group-xjwm-tiq">
              <img class="mptaaslogo-1-CjX" src="{% static '/assets/mptaaslogo-1-Asf.png' %}"/>
              <div class="auto-group-c54r-98y">
                <p class="apply-date-T9f">Apply Date</p>
                <p class="item-01-01-2023-8mb">01/01/2023</p>
              </div>
            </div>
            <p class="post-metric-scholarship-sc-st-obc-G77">Post Metric Scholarship (SC/ST/OBC)</p>
            <p class="last-updated-20-01-2023-ynD">Last Updated :- 20/01/2023</p>
            <div class="auto-group-wbdf-W1T">
              <p class="granted-scholarship-e7f">Granted Scholarship</p>
              <p class="eligiblity-mTB">Eligiblity</p>
            </div>
            <div class="auto-group-q7mo-Rnd">
              <p class="item-101000--YsF">₹1,01,000 /-</p>
              <p class="eligible-s8q">100% Eligible</p>
            </div>
          </div>
          <div class="auto-group-m4h3-zUM">View Scholarship</div>
        </div>   
      </div> 
      <div class="auto-group-buar-FGZ">
        <div class="scholarshipcard-CBo">
          <div class="auto-group-ubs5-85T">
            <div class="tag-E8V">Fresh</div>
            <div class="auto-group-xjwm-tiq">
              <img class="mptaaslogo-1-CjX" src="{% static '/assets/mptaaslogo-1-Asf.png' %}"/>
              <div class="auto-group-c54r-98y">
                <p class="apply-date-T9f">Apply Date</p>
                <p class="item-01-01-2023-8mb">01/01/2023</p>
              </div>
            </div>
            <p class="post-metric-scholarship-sc-st-obc-G77">Post Metric Scholarship (SC/ST/OBC)</p>
            <p class="last-updated-20-01-2023-ynD">Last Updated :- 20/01/2023</p>
            <div class="auto-group-wbdf-W1T">
              <p class="granted-scholarship-e7f">Granted Scholarship</p>
              <p class="eligiblity-mTB">Eligiblity</p>
            </div>
            <div class="auto-group-q7mo-Rnd">
              <p class="item-101000--YsF">₹1,01,000 /-</p>
              <p class="eligible-s8q">100% Eligible</p>
            </div>
          </div>
          <div class="auto-group-m4h3-zUM">View Scholarship</div>
        </div>   
      </div> 
    </div>
  </div>
  <div class="menu-Qp5">
    <div class="frame-2-7iV">
      <div class="group-7-rg5">
        <a href="{% url 'dashboard' %}">
        <div class="rectangle-21-bdf"></div>
        <div class="documents-ueM">Documents</div>
        <img class="file-document-ERj" src="{% static '/assets/file-document-gwf.png' %}"/>
      </a>
      </div>
      <div class="group-7-rg5">
        <a href="{% url 'opportunities' %}">
        <div class="rectangle-21-bdf">
        </div>
        <div class="documents-ueM">Oppurtunities</div>
        <img class="file-document-ERj" src="{% static '/assets/lightbulb-on-10-6v1.png' %}"/>
      </a>
      </div>
      <div class="group-7-rg5">
        <a href="{% url 'issuedDocs' %}">
        <div class="rectangle-21-bdf">
        </div>
        <div class="documents-ueM">Issued</div>
        <img class="file-document-ERj" src="{% static '/assets/file-document-check-17j.png' %}"/>
      </a>
      </div>
      <div class="group-7-rg5">
        <a href="{% url 'scolar' %}">
        <div class="rectangle-21-bdf">
        </div>
        <div class="documents-ueM">Scholarships</div>
        <img class="file-document-ERj" src="{% static '/assets/cash-multiple-pDT.png' %}"/>
      </a>
      </div>
      <div class="group-7-rg5">
        <a href="{% url 'faq' %}">
        <div class="rectangle-21-bdf">
        </div>
        <div class="documents-ueM">FAQ’s</div>
        <img class="file-document-ERj" src="{% static '/assets/progress-question-fQ9.png' %}"/>
      </a>
      </div>

    </div>
  </div>
  <div class="header-7LR">
    <div class="rectangle-2-4Ff">
    </div>
    <img class="bcd3b4b5d471dae27a60bd4b5f07-1-9nu" src="{% static '/assets/bcd3b4b5d471dae27a60bd4b5f07-1-kMs.png' %}"/>
    <img id="myBtn" class="account-circle-tEh" src="{% static '/assets/account-circle-HeV.png' %}"/>
    <div class="yourparagraphtext1-removebg-preview-1-BUh"></div>
    <p class="ezfill-GW9">Ezfill</p>
    <img class="bell-ArR" src="{% static '/assets/bell-PhP.png' %}"/>
    <!-- PopUpBox -->
    <div id="myModal" class=" modal">
      <div class=" modal-content">
        <span class="close">&times;</span>
        <div class="frame-21-6ZB">
         <div class="auto-group-gydb-QJy">
        <div class="ellipse-46-To3">
        </div>
        <div class="auto-group-msgm-ymP">
          <p class="raman-yadav-76u">Raman Yadav</p>
          <p class="ramanya-CPF">@ramanya</p>
        </div>
        <div class="auto-group-xbzf-6zR">Manage Your Account
          .
        </div>
      </div>
      <div class="yourfrofile-kp5">
        <img class="account-fg9" src="{% static '/assets/account.png' %}"/>
        <p class="your-profile-mjB">Your Profile</p>
      </div>
      <div class="activities-SqK">
        <img class="bell-badge-PEm" src="{% static '/assets/bell-badge.png' %}"/>
        <p class="activities-w1P">Activities</p>
      </div>
      </div>
    </div>
   </div>
  </div>
</div>
<script src="{% static '/JS/AccountPopUP.js' %}"></script>
</body>