{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Sign Up/Log In</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=jsMath-cmbx10%3A700"/>
  <link rel="stylesheet" href="{% static './styles/sign-up-log-in.css' %}"/>

<script>

  function sendotp(){
    let data = document.getElementById('id_aadhar_number').value;

    console.log(data)

    let url = "send_mail/" + data  
    fetch(url)
  }


</script>


</head>



<body>
<div class="sign-up-log-in-rNZ">
  <div class="header-Q9B">
    <div class="header-kiq">
      <img class="bcd3b4b5d471dae27a60bd4b5f07-1-t4M" src="{% static '/assets/bcd3b4b5d471dae27a60bd4b5f07-1-9Cq.png' %}"/>
      <img class="bell-bDf" src="{% static '/assets/bell.png' %}"/>
      <img class="account-circle-uEM" src="{% static '/assets/account-circle-9Ts.png' %}"/>
    </div>
    <div class="yourparagraphtext1-removebg-preview-1-Qgu">
    </div>
    <p class="ezfill-Gj7">Ezfill</p>
  </div>
    <div class="card-login-sign-up-Nn9">
      <div class="auto-group-zwst-u1P">
        <div class="auto-group-dga9-RkR">Sign UP</div>
        <a class="auto-group-zewy-s6d" href="{% url 'login' %}">
        <button class="auto-group-zewy-s6d">
          <div class="rectangle-45-pGm">
          </div>
          <p class="log-in-x85">Log In</p>
        </button></a>
      </div>


      <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}



      <div class="sign-up-eFo">
        <div class="auto-group-mppm-Zdf">
          <div class="name-field-Gny">
            <p class="name-dNd">Name</p>
  
  
            {{form.Name}}
            <!-- <input class="rectangle-45-KmF" type="text"/> -->
          
          </div>
          <div class="mobile-number-qUh">
            <p class="mobile-no-QGu">Mobile No.</p>

            {{form.phone_number}}

            <!-- <input class="rectangle-46-LwF" type="number"/> -->
          </div>
        </div>
        <div class="auto-group-1iv9-eBF">
          <div class="name-field-ww3">
            <p class="aadhar-no-VxZ">Aadhar No.</p>

            {{form.aadhar_number}}
            <!-- <input class="auto-group-r3sd-Ev9" type="number"placeholder="451223562"/> -->
            
            
            <button class="aadharOTP" onclick="sendotp()">Send OTP </button>
          </div>
          <div class="mobile-number-3ch">

            
  
            <p class="otp-D1P">OTP</p>
            {{form.OTP}}
            <!-- <input class="rectangle-46-vwP" type="number"/> -->
          
          </div>
        </div>
        <div class="auto-group-emdx-Fyf">
          <div class="age-zRT">
            <p class="dob-9p9">DOB</p>


            {{form.dob}}
            <!-- <input class="rectangle-45-GNy" type="number"/> -->
          </div>
          <div class="age-CnR">
            <p class="gender-8g5">Gender</p>

            {{form.gender}}
            <!-- <input class="rectangle-45-5bK" type="text"/> -->
          </div>
        </div>
        <div class="auto-group-f58r-DSd">
          <div class="age-Yjo">
            <p class="institute-tHs">State</p>
  
            {{form.state}}
  
            <!-- <select class="rectangle-45-2ey"></select> -->
          </div>
          <div class="age-msT">
            <p class="pin-8CD">PIN</p>
            
            {{form.password1}}
            
            <!-- <input class="rectangle-45-5NM" type="password"/> -->
          </div>
        </div>
        <div class="age-zkD">
          <p class="caste-Lp5">Institute</p>

          {{form.institute}}
          <!-- <select class="rectangle-45-5Fs">
          </select> -->
        </div>
        <button class="auto-group-sntd-zNq" type="submit">Sign UP</button>
      </div>
    </div>

  </form>

  {{form.errors}}
</div>



</body>