
html {
	font-size:59.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.faq-uzD {
  width: 100%;
  height: 103rem;
  position: relative;
  background-color: #efefef;
}
.faq-uzD .frame-22-GZs {
  width: 107.8rem;
  height: 69.1rem;
  position: absolute;
  left: 33.3rem;
  top: 15.3rem;
  overflow: hidden;
}
.faq-uzD .frame-22-GZs .personal-documement-o41 {
  margin-bottom: 3.1rem;
  box-sizing: border-box;
  padding: 0.38rem 1.792rem 3.434rem 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(0, 0, 0, 0.3400000036);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2.4rem;
}
.faq-uzD .frame-22-GZs .personal-documement-o41 .auto-group-jz73-Hzm {
  margin-bottom: 0.2658rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.faq-uzD .frame-22-GZs .personal-documement-o41 .auto-group-jz73-Hzm .problem-in-fetching-data-from-api-qmP {
  margin: 0.02rem 39.692rem 0rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.6025;
  color: #000000;
  font-family: Jomolhari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faq-uzD .frame-22-GZs .personal-documement-o41 .auto-group-jz73-Hzm .arrow-down-drop-circle-KgZ {
  width: 4.9167rem;
  height: 3.1816rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.faq-uzD .frame-22-GZs .personal-documement-o41 .wehdofhiwefjd-jefhdowiuaedjola-fkjhw4uerhjklds-yufhedjk-4e9 {
  margin-left: 1rem;
  max-width: 17.4rem;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.6025;
  color: #000000;
  font-family: Jomolhari, 'Source Sans Pro';
  flex-shrink: 0;
}
.faq-uzD .frame-22-GZs .personal-documement-Uxm {
  margin-bottom: 8.5rem;
  box-sizing: border-box;
  padding: 0.617rem 1.792rem 4.3rem 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(0, 0, 0, 0.3400000036);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2.4rem;
}
.faq-uzD .frame-22-GZs .personal-documement-Uxm .auto-group-4fa5-Cds {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.faq-uzD .frame-22-GZs .personal-documement-Uxm .auto-group-4fa5-Cds .problem-in-fetching-data-from-api-vpm {
  margin: 0.083rem 39.692rem 0rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.6025;
  color: #000000;
  font-family: Jomolhari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faq-uzD .frame-22-GZs .personal-documement-Uxm .auto-group-4fa5-Cds .arrow-down-drop-circle-3eV {
  width: 4.9167rem;
  height: 5.1667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.faq-uzD .frame-22-GZs .personal-documement-Uxm .wehdofhiwefjd-jefhdowiuaedjola-fkjhw4uerhjklds-yufhedjk-NAy {
  margin-left: 1rem;
  max-width: 17.4rem;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.6025;
  color: #000000;
  font-family: Jomolhari, 'Source Sans Pro';
  flex-shrink: 0;
}
.faq-uzD .frame-22-GZs .talk-to-our-experts-for-further-inquiry-call-bpR {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.6025;
  color: #000000;
  font-family: Jomolhari, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.faq-uzD .frame-22-GZs .talk-to-our-experts-for-further-inquiry-call-bpR .talk-to-our-experts-for-further-inquiry-call-bpR-sub-0 {
}
.faq-uzD .frame-22-GZs .talk-to-our-experts-for-further-inquiry-call-bpR .talk-to-our-experts-for-further-inquiry-call-bpR-sub-1 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.6025;
  color: #0019ff;
  font-family: Jomolhari, 'Source Sans Pro';
}
.faq-uzD .menu-22Z {
  box-sizing: border-box;
  padding: 6.3rem 0.37rem 6.3rem 2.23rem;
  width: 32.5rem;
  height: 94.1rem;
  position: absolute;
  left: 0;
  top: 8.5rem;
  border: solid 0 rgba(0, 0, 0, 0.0900000036);
  box-shadow: 0.1rem -0.1rem 0.78rem rgba(0, 0, 0, 0.349999994);
  background-color: rgba(255, 255, 255, 0.6600000262);
}
.faq-uzD .menu-22Z .frame-2-LJ9 {
  width: 100%;
  height: 46.6rem;
  display: flex;
  flex-direction: column;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .auto-group-u7gy-tKf {
  box-sizing: border-box;
  padding-bottom: 4.4rem;
  width: 100%;
  row-gap: 4.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .auto-group-u7gy-tKf .group-16-pz1 {
  width: 29.5696rem;
  height: 5.8rem;
  position: relative;
  flex-shrink: 0;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .auto-group-u7gy-tKf .group-16-pz1 .rectangle-21-BZf {
  width: 29.5696rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: rgba(255, 255, 255, 0.4600000083);
  border-radius: 1.1rem;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .auto-group-u7gy-tKf .group-16-pz1 .get-api-Wbw {
  width: 13.3rem;
  height: 5.8rem;
  position: absolute;
  left: 6.3589rem;
  top: 0;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.6025;
  color: #000000;
  font-family: Jomolhari, 'Source Sans Pro';
  white-space: nowrap;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .auto-group-u7gy-tKf .group-16-pz1 .book-reading-Bxy {
  width: 4.1rem;
  height: 4rem;
  position: absolute;
  left: 1.2696rem;
  top: 1.1rem;
  object-fit: contain;
  vertical-align: top;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .auto-group-u7gy-tKf .group-16-TvV {
  width: 29.7rem;
  height: 5.8rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .auto-group-u7gy-tKf .group-16-TvV .rectangle-21-DPs {
  width: 29.5696rem;
  height: 5.4rem;
  position: absolute;
  left: 0.1304rem;
  top: 0.4rem;
  background-color: #ffffff;
  border-radius: 2.2rem;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .auto-group-u7gy-tKf .group-16-TvV .hackathons-Kho {
  width: 19rem;
  height: 5.8rem;
  position: absolute;
  left: 5.5968rem;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.6025;
  color: #000000;
  font-family: Jomolhari, 'Source Sans Pro';
  white-space: nowrap;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .auto-group-u7gy-tKf .group-16-TvV .ebook-2cD {
  width: 6.3rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .auto-group-u7gy-tKf .group-16-BED {
  width: 29.5696rem;
  height: 5.8rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .auto-group-u7gy-tKf .group-16-BED .rectangle-20-vxV {
  width: 29.5696rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: #ffffff;
  border-radius: 2.2rem;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .auto-group-u7gy-tKf .group-16-BED .scholarships-EyB {
  width: 20.6rem;
  height: 5.8rem;
  position: absolute;
  left: 5.4304rem;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.6025;
  color: #000000;
  font-family: Jomolhari, 'Source Sans Pro';
  white-space: nowrap;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .auto-group-u7gy-tKf .group-16-BED .scholarship-mCR {
  width: 4.1rem;
  height: 4.7rem;
  position: absolute;
  left: 0.7696rem;
  top: 0.5rem;
  object-fit: contain;
  vertical-align: top;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .group-15-VPK {
  margin-bottom: 4.4rem;
  width: 100%;
  height: 5.8rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .group-15-VPK .rectangle-20-Erh {
  width: 29.5696rem;
  height: 5.4rem;
  position: absolute;
  left: 0.3304rem;
  top: 0.2rem;
  background-color: #fafafa;
  border-radius: 2.2rem;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .group-15-VPK .intern-jobs-BG9 {
  width: 17.9rem;
  height: 5.8rem;
  position: absolute;
  left: 3rem;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.6025;
  color: #000000;
  font-family: Jomolhari, 'Source Sans Pro';
  white-space: nowrap;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .group-15-VPK .internship-79o {
  width: 6.1rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 1rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/internship-bg-wjb.png');
}
.faq-uzD .menu-22Z .frame-2-LJ9 .group-11-Ads {
  width: 29.5696rem;
  height: 5.8rem;
  position: relative;
  flex-shrink: 0;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .group-11-Ads .rectangle-22-WSq {
  width: 29.5696rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: #92d79e;
  border-radius: 2.2rem;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .group-11-Ads .faqs-FfK {
  width: 10.4rem;
  height: 5.8rem;
  position: absolute;
  left: 9.1rem;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.6025;
  color: #000000;
  font-family: Jomolhari, 'Source Sans Pro';
  white-space: nowrap;
}
.faq-uzD .menu-22Z .frame-2-LJ9 .group-11-Ads .progress-question-Nzq {
  width: 3.2419rem;
  height: 3.3167rem;
  position: absolute;
  left: 3.1331rem;
  top: 1.2416rem;
  object-fit: contain;
  vertical-align: top;
}
.faq-uzD .header-7LR {
  width: 100%;
  height: 10.7rem;
  position: absolute;
  left: 0;
  top: 0
}
.faq-uzD .header-7LR .rectangle-2-4Ff {
  width: 100%;
  height: 9.6rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4399999976);
  background-color: #ffffff;
}
.faq-uzD .header-7LR .bcd3b4b5d471dae27a60bd4b5f07-1-9nu {
  width: 9.1rem;
  height: 9.6rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  object-fit: cover;
  vertical-align: top;
}
.faq-uzD .header-7LR .account-circle-tEh {
  width: 4.9167rem;
  height: 5rem;
  position: absolute;
  right: 5rem;
  top: 2.9rem;
  object-fit: contain;
  vertical-align: top;
}
.faq-uzD .header-7LR .yourparagraphtext1-removebg-preview-1-BUh {
  width: 11.6rem;
  height: 10.7rem;
  position: relative;
  left: 8.4rem;
  top: 0;
  background-size: 257.143% 284.211%;
  background-position: -8.8381rem -9.8553rem;
  background-image: url('../assets/yourparagraphtext1-removebg-preview-1-afF.png');
}
.faq-uzD .header-7LR .ezfill-GW9 {
  width: 7.7rem;
  height: 4.5rem;
  position: absolute;
  left: 18.9rem;
  top: 4.5rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #15ab30;
  font-family: jsMath-cmbx10, 'Source Sans Pro';
  white-space: nowrap;
}
.faq-uzD .header-7LR .bell-ArR {
  width: 4.2rem;
  height: 4.9rem;
  position: absolute;
  right: 15rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.rectangle-2-fty {
  width: 100vw;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4399999976);
  background-color: #ffffff;
  margin-bottom: 5rem;
}
.bcd3b4b5d471dae27a60bd4b5f07-1-x7P {
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  object-fit: cover;
  vertical-align: top;
}
.account-circle-5ho {
  width: 3.7rem;
  position: absolute;
  left: 134.3917rem;
  top: 1.7rem;
  object-fit: contain;
  vertical-align: top;
}
.madhvas {
  width: 8rem;
  height: 6rem;
  position: relative;
  left: 6rem;
  top: 0;
  background-size: 257.143% 284.211%;
  background-position: -6rem -5rem;
  background-image: url('../assets/yourparagraphtext1-removebg-preview-1-W2y.png');
}
.ezapi {
  width: 7.7rem;
  height: 4.5rem;
  position: absolute;
  left: 14rem;
  top: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #15ab30;
  font-family: jsMath-cmbx10, 'Source Sans Pro';
  white-space: nowrap;
}
.bell {
  width: 3rem;
  position: absolute;
  left: 126.3rem;
  top: 1.8rem;
  /* object-fit: contain; */
  /* vertical-align: top; */
}
.menu-FJD {
  box-sizing: border-box;
  padding: 2rem;
  padding-top: 4rem;
  width: 27rem;
  height: 100%;
  position: absolute;
  top: 6rem;
  border: solid 0 rgba(0, 0, 0, 0.0900000036);
  box-shadow: 0.1rem -0.1rem 0.78rem rgba(0, 0, 0, 0.349999994);
  background-color: rgba(255, 255, 255, 0.6600000262);
}
.auto-group-in4m-Wzq {
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 100%;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-7-Tv5 {
  width: 23rem;
  height: 4rem;
  position: relative;
  flex-shrink: 0;
}
.group-7-Tv5:hover{
  background-color: rgba(23, 173, 50, 0.4600000083);
  border-radius: 2rem;
  padding: 0.5rem;
}
/* .group-7-Tv5 .rectangle-21-2CV {
  width: 20rem;
  height: 4rem;
  position: absolute;
  background-color: rgba(23, 173, 50, 0.4600000083);
  border-radius: 1.1rem;
} */
.get-api-X9F {
  width: 5rem;
  margin-left: 4rem;
  margin-top: 0.5rem;
  position: absolute;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6025;
  color: #000000;
  font-family: Jomolhari, 'Source Sans Pro';
  white-space: nowrap;
}
.bookmark-CWH {
  width: 3rem;
  margin: 0.6rem;
  position: absolute;
  object-fit: contain;
  /* vertical-align: top; */
}