
html {
	font-size:62.5%;
  width: 100%;
  height: 100vh;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  height: 100vh;

}.hackathons-2Cm {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #efefef;
}
.form-NXX {
  position: absolute;
  left: 27rem;
  top: 10rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.hackathons--hZo {
  margin-bottom: 2rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-9xkx-1cR {
  margin-bottom: 2.65rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.organization-name--wky {
  margin: 0.7rem 2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.rectangle-72-GHT {
  width: 63rem;
  height: 4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.auto-group-iey3-ySm {
  margin-bottom: 3.45rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.date-for-the-competition--KmX {
  margin: 1rem 3.8rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.to--2R3 {
  margin: 0.6rem 1.1rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-n997-ZQy {
  box-sizing: border-box;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: black;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #fffefe;
  flex-shrink: 0;
}
.from--N7X {
  margin: 0.6rem 0.7rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-bjgu-4m3 {
  margin-top: 0.2rem;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: black;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #fffefe;
  flex-shrink: 0;
}
.auto-group-4fwm-SoX {
  margin-bottom: 3rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.auto-group-nbk1-n6h {
  width: 3.9rem;
  height: 3.7rem;
  position: relative;
  flex-shrink: 0;
}
.rectangle-76-tvR {
  width: 3.9rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fffefe;
}
.done-ePo {
  width: 3.4rem;
  height: 3.4rem;
  position: absolute;
  left: 0.3rem;
  top: 0.3rem;
  object-fit: contain;
  vertical-align: top;
}
.online-mode-B8q {
  margin-right: 6rem;
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.rectangle-77-gbP {
  width: 3.9rem;
  height: 3.4rem;
  background-color: #fffefe;
  flex-shrink: 0;
}
.hackathons-2Cm .form-NXX .form-details-Yiq .auto-group-bdru-VPB .auto-group-4fwm-SoX .offilne-mode-cE9 {
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-auvu-YtV {
  width: 85rem;
  height: 16rem;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1;
  color: #989898;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.button-dQ9 {
  margin-top: 2rem;
  margin-left: 60rem;
  width: 10rem;
  height: 4rem;
  position: relative;
  border-radius: 2rem;
  flex-shrink: 0;
}
.rectangle-66-aKP {
  width: 18rem;
  height: 5rem;
  position: absolute;
  background-color: #4f33fa;
  border-radius: 2rem;
}
.submit-KXs {
  padding-top: 0.4rem;
  padding-left: 3.2rem;
  position: absolute;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-QJR {
  box-sizing: border-box;
  padding: 6.3rem 0.37rem 6.3rem 2.23rem;
  width: 24rem;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 4rem;
  border: solid 0 rgba(0, 0, 0, 0.0900000036);
  box-shadow: 0.1rem -0.1rem 0.78rem rgba(0, 0, 0, 0.349999994);
  background-color: rgba(255, 255, 255, 0.6600000262);
}
.auto-group-qifp-24u {
  box-sizing: border-box;
  padding-bottom: 1rem;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-7-xz9 {
  width: 29.6rem;
  height: 5.8rem;
  position: relative;
  flex-shrink: 0;
}
.get-api-FCZ {
  position: absolute;
  left: 6rem;
  top: 0;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6025;
  color: #000000;
  font-family: Jomolhari, 'Source Sans Pro';
  white-space: nowrap;
}
.bookmark-AKX {
  width: 4rem;
  position: absolute;
  object-fit: contain;
  vertical-align: top;
}
.rectangle-2-DH7 {
  width: 100%;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4399999976);
  background-color: #ffffff;
}
.bcd3b4b5d471dae27a60bd4b5f07-1-WX7 {
  width: 5.5rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  object-fit: cover;
  vertical-align: top;
}
.bcd3b4b5d471dae27a60bd4b5f07-1-WX71 {
  width: 20rem;
  margin-top: -6.4rem;
  position: absolute;
  object-fit: cover;
  vertical-align: top;
}
.account-circle-Re5 {
  width: 4rem;
  position: absolute;
  left: 130rem;
  top: 1.7rem;
  object-fit: contain;
  vertical-align: top;
}
.ezapi-QF7 {
  width: 8.7rem;
  height: 4.5rem;
  position: absolute;
  left: 14rem;
  top: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #15ab30;
  font-family: jsMath-cmbx10, 'Source Sans Pro';
  white-space: nowrap;
}
.bell-fwj {
  width: 3rem;
  position: absolute;
  left: 125rem;
  top: 2rem;
  object-fit: contain;
  vertical-align: top;
}
