
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.log-in-bid {
  box-sizing: border-box;
  padding-bottom: 11.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}
.log-in-bid .header-9VF {
  margin-bottom: 10.2rem;
  width: 100%;
  height: 10.7rem;
  position: relative;
  flex-shrink: 0;
}
.log-in-bid .header-9VF .header-uDX {
  box-sizing: border-box;
  padding-right: 4.6917rem;
  width: 144rem;
  height: 9.6rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4399999976);
  background-color: #ffffff;
}
.log-in-bid .header-9VF .header-uDX .bcd3b4b5d471dae27a60bd4b5f07-1-9df {
  margin-right: 117.2rem;
  width: 9.1rem;
  height: 9.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.log-in-bid .header-9VF .header-uDX .bell-g7o {
  margin: 0rem 3.892rem 0.5rem 0rem;
  width: 4.2rem;
  height: 4.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.log-in-bid .header-9VF .header-uDX .account-circle-ysb {
  width: 4.9167rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.log-in-bid .header-9VF .yourparagraphtext1-removebg-preview-1-UJZ {
  width: 11.6rem;
  height: 10.7rem;
  position: relative;
  left: 8.4rem;
  top: 0;
  background-size: 257.143% 284.211%;
  background-position: -8.8381rem -9.8553rem;
  background-image: url('../assets/yourparagraphtext1-removebg-preview-1-GCu.png');
}
.log-in-bid .header-9VF .ezfill-wC9 {
  width: 7.7rem;
  height: 4.5rem;
  position: absolute;
  left: 18.9rem;
  top: 4.5rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #15ab30;
  font-family: jsMath-cmbx10, 'Source Sans Pro';
  white-space: nowrap;
}
.log-in-bid .card-login-sign-up-DfT {
  margin: 0rem 18.5rem 0rem 19.2rem;
  box-sizing: border-box;
  padding-bottom: 1.2rem;
  width: calc(100% - 37.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.9rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 5.3rem;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .auto-group-nwyf-vpm {
  margin-bottom: 5.2837rem;
  width: 100%;
  height: 9.9163rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .auto-group-nwyf-vpm .auto-group-1gfw-4AH {
  margin: 0rem 0.9rem 0.016rem 0rem;
  width: 51.5rem;
  height: calc(100% - 0.0163rem);
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4f33fa;
  border-radius: 5.3rem 0 0 0;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .auto-group-nwyf-vpm .auto-group-v3mp-JKX {
  width: 53.9rem;
  height: 100%;
  position: relative;
  border-left: solid 0.9rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .auto-group-nwyf-vpm .auto-group-v3mp-JKX .rectangle-45-FkZ {
  width: 53.9rem;
  height: 9.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #99d1a3;
  border-radius: 0 5.3rem 0 0;
}
.log-in-bid .card-login-sign-up-DfT .auto-group-nwyf-vpm .auto-group-v3mp-JKX .log-in-zTF {
  width: 10.8rem;
  height: 5rem;
  position: absolute;
  left: 20rem;
  top: 3rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H {
  margin: 0rem 25.8rem 0rem 25.6rem;
  width: calc(100% - 51.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .mobile-number-BGq {
  margin-bottom: 6.1rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .mobile-number-BGq .mobile-no-iXf {
  margin-right: 3.1rem;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .mobile-number-BGq .rectangle-46-Rws {
  margin-bottom: 1rem;
  width: 34rem;
  height: 4.9rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .name-field-xB7 {
  margin-bottom: 6.1rem;
  width: 100%;
  height: 4.9rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .name-field-xB7 .aadhar-no-sJ5 {
  margin-right: 2.3rem;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .name-field-xB7 .auto-group-qstq-DMw {
  box-sizing: border-box;
  padding: 1.4rem 1.9rem 1.5rem 10.5rem;
  height: 100%;
  width: 36rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3625;
  color: black;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #000000;
  background-color: #ffffff;
  flex-shrink: 0;
}.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .name-field-xB7 .sendOTP {
  padding: 0 0rem 0rem 4rem;
  right: 15rem;
  height: 5rem;
  width: 5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3625;
  color: black;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  position: relative;
  flex-shrink: 0;
  box-sizing: content-box;
  background: #00000000;
  border-width: 0;
}.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .name-field-xB7 .auto-group-qstq-DMw::placeholder {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.3625;
    color: #23a2ff;
    font-family: Open Sans, 'Source Sans Pro';
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .mobile-number-Ne9 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .mobile-number-Ne9 .otp-Lay {
  margin-right: 14.2rem;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .mobile-number-Ne9 .rectangle-46-tMb {
  margin-bottom: 1rem;
  width: 34rem;
  height: 4.9rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .auto-group-mqez-d4H {
  box-sizing: border-box;
  padding-top: 6.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .auto-group-mqez-d4H .age-BLh {
  margin: 0rem 2.1rem 6.1rem 0rem;
  width: calc(100% - 2.1rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .auto-group-mqez-d4H .age-BLh .pin-gHT {
  margin-right: 15.6rem;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .auto-group-mqez-d4H .age-BLh .rectangle-45-cgu {
  margin-bottom: 0.1rem;
  width: 31.9rem;
  height: 4.9rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.log-in-bid .card-login-sign-up-DfT .sign-up-F8H .auto-group-mqez-d4H .auto-group-ftq7-wjB {
  margin-right: 18.6rem;
  box-sizing: border-box;
  padding: 0.6rem 15.4rem 0.6rem 8.6rem;
  height: 7.7rem;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #4f33fa;
  flex-shrink: 0;
}
