{%load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Internships/Jobs</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jomolhari%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=jsMath-cmbx10%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=JejuGothic%3A400"/>
  <link rel="stylesheet" href="{% static 'styles/internships-jobs.css'%}"/>
</head>
<body>
<div class="internships-jobs-4sf">
  
  <div class="body-pM3">
    <p class="internships-jobs--J1K">Internships/ Jobs:</p>
    <form action="{% url 'institinternForm' %}" method="post">
      {% csrf_token %}
     <div class="document-form-oTs">
      <div class="auto-group-lpju-xLm">
        <p class="organization-name--rww">Organization Name:</p>
        <!-- <div class="rectangle-72-Mdo"> -->
          {{form.organiser}}
        <!-- </div> -->
      </div>
      
      <div class="auto-group-lpju-xLm">
        <p class="organization-name--rww">Title:</p>
        <!-- <div class="rectangle-72-Mdo">
        </div> -->
        {{form.title}}
      </div>

      <div class="auto-group-lpju-xLm">
        <label for="logoInput" class="organization-name--rww">Upload Logo:</label>
        <!-- <input type="file" id="logoInput" class="logo-input" accept="image/*" /> -->
        {{form.logo}}
      </div>



      <div class="auto-group-khkb-JZ3">
        <p class="duration--EBo">Duration:</p>
        <p class="to--Xgh">To:</p>
        {{form.Start_date}}
        <!-- <input class="auto-group-y15p-GPP" type="text"placeholder="DD|MM|YYYY"/> -->
        <p class="from--8Rb">From:</p>
        <!-- <input class="auto-group-yzch-fgR" type="text"placeholder="DD|MM|YYYY"/> -->
        {{form.End_date}}
      </div>
      <div class="auto-group-cegm-VfT">
        <div class="auto-group-puzz-Sah">
          <p class="skills-required--BYH">Skills Required:</p>
          <!-- <div class="rectangle-75-hWd"> -->
         {{form.skillsrequired}}
          <!-- </div> -->
        </div>
        <div class="auto-group-bcqs-3qP">
          <p class="no-of-openings--BRo">No. Of Openings:</p>
          <!-- <div class="rectangle-81-XEm"> -->
        {{form.openings}}
          <!-- </div> -->
        </div>
        <div class="auto-group-nkhb-GTF">
          <p class="max-pay--1fj">Max. Pay:</p>
          <!-- <div class="rectangle-78-WMb"> -->
        {{form.maxpay}}
          <!-- </div> -->
          <p class="min-pay--Dmo">Min. Pay:</p>
          <!-- <div class="rectangle-80-wC1"> -->
        {{form.minpay}}
          <!-- </div> -->
        </div>

        <div class="auto-group-lpju-xLm">
          <p class="organization-name--rww">Apply(URL):</p>
          <!-- <div class="rectangle-72-Mdo">
          </div> -->
          {{form.apply}}
        </div>
        
        <!-- <div class="shortdiscription-dKj">Short Description</div> -->
        {{form.description}}
      </div>
      <div class="submit-button-Jgm">
      <button class="rectangle-66-3uF">Submit
      </button>
      </div>
     </div>
    </form>
  </div>


  
  <div class="menu-FJD">
    <div class="frame-2-ZZo">
      <div class="auto-group-in4m-Wzq">
        <div class="group-7-Tv5">
          <div class="rectangle-21-2CV">
          </div>
          <div class="get-api-X9F">Get API</div>
          <img class="bookmark-CWH" src="{% static 'assets/bookmark-pRj.png'%}"/>      
        </div>
        <div class="group-7-Tv5">
          <a href="hackathons.html">
          <div class="rectangle-21-2CV">
          </div>
          <p class="get-api-X9F">Hackathons</p>
          <img class="bookmark-CWH" src="{% static '/assets/book-reading-XBT.png'%}"/>
          </a>
        </div>
        <div class="group-7-Tv5">
          <a href="scholarships.html">
          <div class="rectangle-21-2CV">
          </div>
          <p class="get-api-X9F">Scholarships</p>
          <img class="bookmark-CWH" src="{% static '/assets/ebook-GRT.png'%}"/>
          </a>
        </div>
      </div>
      <div class="group-7-Tv5">
        <a href="internships-jobs.html">
        <div class="rectangle-21-2CV"> 
        </div>
        <p class="get-api-X9F">Intern/Jobs</p>
        <img class="bookmark-CWH" src="{% static '/assets/internship-bg-QCM.png'%}"/>
        </a>
      </div>
      <div class="group-7-Tv5">
        <a href="faq.html">
        <div class="rectangle-21-2CV">
        </div>
        <p class="get-api-X9F">FAQ’s</p>
        <img class="bookmark-CWH" src="{% static '/assets/progress-question-2sf.png'%}"/>
        </a>
      </div>
    </div>
  </div>
  <div class="header-XXs">
    <div class="rectangle-2-fty">
    </div>
    <img class="bcd3b4b5d471dae27a60bd4b5f07-1-x7P" src="{% static '/assets/bcd3b4b5d471dae27a60bd4b5f07-1-Skm.png'%}"/>
    <img class="account-circle-5ho" src="{% static '/assets/account-circle-PED.png'%}"/>
    <div class="madhvas">
    </div>
    <p class="ezapi">EzAPI</p>
    <img class="bell" src="{% static '/assets/bell-8j7.png'%}"/>
  </div>
</div>
</body>