
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.faq-uzD {
  width: 100%;
  height: 103rem;
  position: relative;
  background-color: #efefef;

  .frame-22-GZs {
    left: 33.3rem;
    top: 15.3rem;
    overflow: hidden;
    width: 107.8rem;
    height: 69.1rem;
    position: absolute;

    .personal-documement-o41 {
      box-sizing: border-box;
      padding: 0.38rem 1.792rem 3.434rem 3.5rem;
      display: flex;
      border: solid 0.1rem rgba(0, 0, 0, 0.3400000036);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      margin-bottom: 3.1rem;
      width: 100%;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 2.4rem;

      .auto-group-jz73-Hzm {
        margin-bottom: 0.2658rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .problem-in-fetching-data-from-api-qmP {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.02rem 39.692rem 0rem 0rem;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.6025;
          color: #000000;
          font-family: Jomolhari, 'Source Sans Pro';
        }
        .arrow-down-drop-circle-KgZ {
          width: 4.9167rem;
          height: 3.1816rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .wehdofhiwefjd-jefhdowiuaedjola-fkjhw4uerhjklds-yufhedjk-4e9 {
        flex-shrink: 0;
        margin-left: 1rem;
        max-width: 17.4rem;
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.6025;
        color: #000000;
        font-family: Jomolhari, 'Source Sans Pro';
      }
    }
    .personal-documement-Uxm {
      margin-bottom: 8.5rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2.4rem;
      flex-direction: column;
      border: solid 0.1rem rgba(0, 0, 0, 0.3400000036);
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 0.617rem 1.792rem 4.3rem 3.5rem;
      width: 100%;
      display: flex;

      .auto-group-4fa5-Cds {
        margin-bottom: 4rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .problem-in-fetching-data-from-api-vpm {
          margin: 0.083rem 39.692rem 0rem 0rem;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.6025;
          color: #000000;
          font-family: Jomolhari, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .arrow-down-drop-circle-3eV {
          flex-shrink: 0;
          width: 4.9167rem;
          height: 5.1667rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .wehdofhiwefjd-jefhdowiuaedjola-fkjhw4uerhjklds-yufhedjk-NAy {
        font-weight: 400;
        line-height: 1.6025;
        color: #000000;
        font-family: Jomolhari, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 1rem;
        max-width: 17.4rem;
        font-size: 2.1rem;
      }
    }
    .talk-to-our-experts-for-further-inquiry-call-bpR {
      font-family: Jomolhari, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.6025;
      color: #000000;

      .talk-to-our-experts-for-further-inquiry-call-bpR-sub-0 {
      }
      .talk-to-our-experts-for-further-inquiry-call-bpR-sub-1 {
        font-family: Jomolhari, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.6025;
        color: #0019ff;
      }
    }
  }
  .menu-22Z {
    padding: 6.3rem 0.37rem 6.3rem 2.23rem;
    width: 32.5rem;
    height: 94.1rem;
    position: absolute;
    left: 0;
    top: 8.5rem;
    border: solid 0 rgba(0, 0, 0, 0.0900000036);
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6600000262);
    box-shadow: 0.1rem -0.1rem 0.78rem rgba(0, 0, 0, 0.349999994);

    .frame-2-LJ9 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 46.6rem;

      .auto-group-u7gy-tKf {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 4.4rem;
        width: 100%;
        row-gap: 4.4rem;
        display: flex;

        .group-16-pz1 {
          width: 29.5696rem;
          height: 5.8rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-21-BZf {
            height: 5.4rem;
            position: absolute;
            left: 0;
            top: 0.4rem;
            background-color: rgba(255, 255, 255, 0.4600000083);
            border-radius: 1.1rem;
            width: 29.5696rem;
          }
          .get-api-Wbw {
            left: 6.3589rem;
            font-weight: 400;
            line-height: 1.6025;
            white-space: nowrap;
            position: absolute;
            height: 5.8rem;
            top: 0;
            display: flex;
            font-size: 3.6rem;
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
            width: 13.3rem;
          }
          .book-reading-Bxy {
            width: 4.1rem;
            height: 4rem;
            position: absolute;
            left: 1.2696rem;
            top: 1.1rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .group-16-TvV {
          flex-shrink: 0;
          width: 29.7rem;
          height: 5.8rem;
          cursor: pointer;
          position: relative;

          .rectangle-21-DPs {
            width: 29.5696rem;
            height: 5.4rem;
            position: absolute;
            left: 0.1304rem;
            top: 0.4rem;
            background-color: #ffffff;
            border-radius: 2.2rem;
          }
          .hackathons-Kho {
            left: 5.5968rem;
            font-size: 3.6rem;
            line-height: 1.6025;
            width: 19rem;
            position: absolute;
            top: 0;
            font-weight: 400;
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
            height: 5.8rem;
          }
          .ebook-2cD {
            height: 4.3rem;
            position: absolute;
            left: 0;
            top: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            width: 6.3rem;
          }
        }
        .group-16-BED {
          width: 29.5696rem;
          height: 5.8rem;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;

          .rectangle-20-vxV {
            width: 29.5696rem;
            height: 5.4rem;
            position: absolute;
            left: 0;
            top: 0.4rem;
            background-color: #ffffff;
            border-radius: 2.2rem;
          }
          .scholarships-EyB {
            line-height: 1.6025;
            white-space: nowrap;
            width: 20.6rem;
            height: 5.8rem;
            position: absolute;
            top: 0;
            font-weight: 400;
            left: 5.4304rem;
            font-size: 3.6rem;
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
          }
          .scholarship-mCR {
            position: absolute;
            left: 0.7696rem;
            top: 0.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 4.1rem;
            height: 4.7rem;
          }
        }
      }
      .group-15-VPK {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 4.4rem;
        width: 100%;
        height: 5.8rem;
        cursor: pointer;

        .rectangle-20-Erh {
          height: 5.4rem;
          position: absolute;
          left: 0.3304rem;
          top: 0.2rem;
          background-color: #fafafa;
          border-radius: 2.2rem;
          width: 29.5696rem;
        }
        .intern-jobs-BG9 {
          top: 0;
          line-height: 1.6025;
          white-space: nowrap;
          height: 5.8rem;
          position: absolute;
          font-size: 3.6rem;
          font-weight: 400;
          color: #000000;
          font-family: Jomolhari, 'Source Sans Pro';
          width: 17.9rem;
          left: 3rem;
        }
        .internship-79o {
          top: 1rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          width: 6.1rem;
          height: 4.8rem;
          position: absolute;
          left: 0;
          background-position: center;
          background-image: url('REPLACE_IMAGE:c05e8d9772c3a444731a149f142f1360a44fa156');
        }
      }
      .group-11-Ads {
        width: 29.5696rem;
        height: 5.8rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-22-WSq {
          width: 29.5696rem;
          height: 5.4rem;
          position: absolute;
          left: 0;
          top: 0.4rem;
          background-color: #92d79e;
          border-radius: 2.2rem;
        }
        .faqs-FfK {
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          width: 10.4rem;
          position: absolute;
          left: 9.1rem;
          top: 0;
          font-size: 3.6rem;
          height: 5.8rem;
          line-height: 1.6025;
          font-family: Jomolhari, 'Source Sans Pro';
        }
        .progress-question-Nzq {
          object-fit: contain;
          vertical-align: top;
          width: 3.2419rem;
          height: 3.3167rem;
          position: absolute;
          left: 3.1331rem;
          top: 1.2416rem;
        }
      }
    }
  }
  .header-rf7 {
    top: 0;
    width: 144rem;
    height: 10.7rem;
    position: absolute;
    left: 0;

    .rectangle-2-Ciy {
      height: 9.6rem;
      position: absolute;
      left: 0;
      top: 0.6rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4399999976);
      background-color: #ffffff;
      width: 144rem;
    }
    .bcd3b4b5d471dae27a60bd4b5f07-1-HVX {
      position: absolute;
      left: 0;
      top: 0.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 9.1rem;
      height: 9.6rem;
    }
    .account-circle-1RX {
      vertical-align: top;
      width: 4.9167rem;
      height: 5rem;
      position: absolute;
      left: 134.3917rem;
      top: 2.9rem;
      object-fit: contain;
    }
    .yourparagraphtext1-removebg-preview-1-x5s {
      width: 11.6rem;
      height: 10.7rem;
      position: relative;
      left: 8.4rem;
      top: 0;
      background-size: 257.143% 284.211%;
      background-position: -8.8381rem -9.8553rem;
      background-image: url('REPLACE_IMAGE:3ebe9113078386c7076ec8718af0fdd9049eac5c');
    }
    .ezfill-DnV {
      color: #15ab30;
      font-family: jsMath-cmbx10, 'Source Sans Pro';
      left: 18.9rem;
      top: 4.5rem;
      position: absolute;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.2575;
      white-space: nowrap;
      width: 7.7rem;
      height: 4.5rem;
    }
    .bell-VV7 {
      height: 4.9rem;
      position: absolute;
      left: 125.2rem;
      top: 2.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.2rem;
    }
  }
}
