
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 106.3rem;
}.fetch-document-ANH {
  width: 100%;
  height: 70.2rem;

  .card-login-sign-up-KW5 {
    flex-direction: column;
    background-color: #ffffff;
    padding-bottom: 3.3rem;
    width: 100%;
    height: 100%;
    box-shadow: 0 0.9rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 5.3rem;
    box-sizing: border-box;
    align-items: center;
    display: flex;

    .auto-group-ptc9-s1o {
      margin-bottom: 5.3rem;
      height: 9.9rem;
      font-size: 3.6rem;
      white-space: nowrap;
      align-items: center;
      border-radius: 5.3rem 0 0 0;
      width: 100%;
      color: #ffffff;
      justify-content: center;
      line-height: 1.3625;
      font-family: Open Sans, 'Source Sans Pro';
      background-color: #4f33fa;
      flex-shrink: 0;
      font-weight: 700;
      display: flex;
    }
    .sign-up-7gq {
      margin: 0rem 16.9rem 0rem 25.6rem;
      width: calc(100% - 42.5rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-nudf-2J1 {
        box-sizing: border-box;
        padding-bottom: 6.1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .mobile-number-yj3 {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 0.4rem 6.1rem 0rem;
          width: calc(100% - 0.4rem);

          .document-type-iRj {
            line-height: 1.3625;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.5rem;
            font-size: 3.3rem;
            font-weight: 700;
          }
          .rectangle-46-CLu {
            width: 34rem;
            height: 4.9rem;
            border: solid 0.3rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
          }
        }
        .name-field-jLq {
          width: calc(100% - 0.4rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-right: 0.4rem;

          .document-no-fEV {
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.7rem;
            font-size: 3.3rem;
            font-weight: 700;
            line-height: 1.3625;
            color: #000000;
          }
          .rectangle-45-acM {
            width: 34rem;
            height: 4.9rem;
            border: solid 0.3rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
          }
        }
      }
      .state-7sB {
        flex-shrink: 0;
        margin-bottom: 6.1rem;
        width: 100%;
        display: flex;
        align-items: flex-start;

        .state-t7F {
          line-height: 1.3625;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.7rem;
          font-size: 3.3rem;
          font-weight: 700;
        }
        .rectangle-45-pFo {
          width: 34.4rem;
          height: 4.9rem;
          border: solid 0.3rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          flex-shrink: 0;
        }
      }
      .state-ic5 {
        align-items: flex-start;
        flex-shrink: 0;
        margin-bottom: 6.1rem;
        width: 100%;
        display: flex;

        .district-sE5 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.9rem;
          font-size: 3.3rem;
          font-weight: 700;
          line-height: 1.3625;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .rectangle-45-1bB {
          width: 34.7rem;
          height: 4.9rem;
          border: solid 0.3rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          flex-shrink: 0;
        }
      }
      .auto-group-jz9p-MQ9 {
        line-height: 1.3625;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        background-color: #4f33fa;
        height: 7.7rem;
        font-size: 3.3rem;
        font-weight: 700;
        justify-content: center;
        flex-shrink: 0;
        width: 36.3rem;
        font-family: Open Sans, 'Source Sans Pro';
        align-items: center;
      }
    }
  }
}
