
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.internships-jobs-4sf {
  width: 100%;
  height: 103.1rem;
  position: relative;
  background-color: #efefef;

  .body-pM3 {
    left: 40.2rem;
    top: 12.6rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: 100.8rem;
    height: 87rem;
    position: absolute;

    .internships-jobs--J1K {
      font-family: JejuGothic, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 46.7rem 4.9rem 0rem;
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
    }
    .document-form-oTs {
      flex-shrink: 0;
      margin-bottom: 2.8rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .auto-group-lpju-xLm {
        margin: 0rem 1.2rem 2.35rem 0rem;
        width: calc(100% - 1.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .organization-name--rww {
          margin: 0.1rem 9.5rem 0rem 0rem;
          font-size: 2.8rem;
          font-weight: 500;
          line-height: 1;
          color: #000000;
          font-family: Josefin Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .rectangle-72-Mdo {
          height: 4.3rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
          width: 63.9rem;
        }
      }
      .auto-group-khkb-JZ3 {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .duration--EBo {
          font-size: 2.8rem;
          font-weight: 500;
          line-height: 1;
          color: #000000;
          font-family: Josefin Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 24rem 0.25rem 0rem;
        }
        .to--Xgh {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.9rem 0.25rem 0rem;
          font-size: 2.8rem;
          font-weight: 500;
          line-height: 1;
          color: #000000;
          font-family: Josefin Sans, 'Source Sans Pro';
        }
        .auto-group-y15p-GPP {
          font-weight: 500;
          font-family: Josefin Sans, 'Source Sans Pro';
          box-sizing: border-box;
          font-size: 2.8rem;
          line-height: 1;
          color: #989898;
          white-space: nowrap;
          background-color: #fffefe;
          flex-shrink: 0;
          margin: 0rem 2rem 0.2rem 0rem;
          padding: 1.05rem 2.8rem 0.25rem 2.7rem;
        }
        .from--8Rb {
          font-size: 2.8rem;
          font-weight: 500;
          line-height: 1;
          color: #000000;
          font-family: Josefin Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.9rem 0.45rem 0rem;
        }
        .auto-group-yzch-fgR {
          font-weight: 500;
          line-height: 1;
          color: #989898;
          font-family: Josefin Sans, 'Source Sans Pro';
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.05rem 3rem 0.25rem 2.5rem;
          font-size: 2.8rem;
          white-space: nowrap;
          background-color: #fffefe;
        }
      }
      .auto-group-cegm-VfT {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 4.05rem;

        .auto-group-puzz-Sah {
          margin: 0rem 1.2rem 4rem 0rem;
          width: calc(100% - 1.2rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .skills-required--BYH {
            flex-shrink: 0;
            margin: 0rem 16.4rem 0.1rem 0rem;
            font-size: 2.8rem;
            font-weight: 500;
            line-height: 1;
            color: #000000;
            font-family: Josefin Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-75-hWd {
            width: 63.9rem;
            height: 4.3rem;
            background-color: #d9d9d9;
            flex-shrink: 0;
          }
        }
        .auto-group-bcqs-3qP {
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 1.2rem 3.6rem 0.1rem;
          width: calc(100% - 1.3rem);

          .no-of-openings--BRo {
            font-family: Josefin Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 13.1rem;
            font-size: 2.8rem;
            font-weight: 500;
            line-height: 1;
            color: #000000;
          }
          .rectangle-81-XEm {
            height: 4.3rem;
            background-color: #d9d9d9;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            width: 63.9rem;
          }
        }
        .auto-group-nkhb-GTF {
          margin: 0rem 0rem 7.7rem 0.9rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .max-pay--1fj {
            line-height: 1;
            color: #000000;
            font-family: Josefin Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.2rem 4.4rem 0rem 0rem;
            font-size: 2.8rem;
            font-weight: 500;
          }
          .rectangle-78-WMb {
            margin: 0rem 7.8rem 0.1rem 0rem;
            width: 18.4rem;
            height: 4.3rem;
            background-color: #d9d9d9;
            flex-shrink: 0;
          }
          .min-pay--Dmo {
            font-weight: 500;
            line-height: 1;
            color: #000000;
            font-family: Josefin Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 4.1rem 0.6rem 0rem;
            font-size: 2.8rem;
          }
          .rectangle-80-wC1 {
            flex-shrink: 0;
            margin-top: 0.1rem;
            width: 18.4rem;
            height: 4.3rem;
            background-color: #d9d9d9;
          }
        }
        .shortdiscription-dKj {
          margin-left: 0.1rem;
          white-space: nowrap;
          flex-shrink: 0;
          width: 99.6rem;
          font-size: 2.8rem;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 21.6rem;
          line-height: 1;
          color: #989898;
          font-family: Josefin Sans, 'Source Sans Pro';
          background-color: #ffffff;
        }
      }
    }
    .submit-button-Jgm {
      position: relative;
      border-radius: 2rem;
      flex-shrink: 0;
      margin-right: 1.1rem;
      width: 25.1rem;
      height: 7.9rem;

      .rectangle-66-3uF {
        width: 25rem;
        height: 7.9rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #4f33fa;
        border-radius: 2rem;
      }
      .submit-o7j {
        width: 11.8rem;
        position: absolute;
        top: 1.6rem;
        font-weight: 700;
        height: 4.5rem;
        left: 6.2rem;
        font-size: 3.3rem;
        line-height: 1.3625;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .menu-J4V {
    padding: 6.3rem 0.439rem 6.3rem 2.23rem;
    height: 94.1rem;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 9rem;
    border: solid 0 rgba(0, 0, 0, 0.0900000036);
    box-shadow: 0.1rem -0.1rem 0.78rem rgba(0, 0, 0, 0.349999994);
    background-color: rgba(255, 255, 255, 0.6600000262);
    width: 32.5rem;

    .frame-2-PLq {
      width: 100%;
      height: 46.6rem;
      display: flex;
      flex-direction: column;

      .group-7-Lms {
        margin-bottom: 4.4rem;
        width: 29.5696rem;
        height: 5.8rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-21-VPs {
          position: absolute;
          left: 0;
          top: 0.4rem;
          background-color: rgba(255, 255, 255, 0.4600000083);
          border-radius: 1.1rem;
          width: 29.5696rem;
          height: 5.4rem;
        }
        .get-api-dFB {
          left: 6.3589rem;
          display: flex;
          font-size: 3.6rem;
          font-weight: 400;
          color: #000000;
          font-family: Jomolhari, 'Source Sans Pro';
          white-space: nowrap;
          width: 13.3rem;
          height: 5.8rem;
          position: absolute;
          top: 0;
          line-height: 1.6025;
        }
        .book-reading-vk5 {
          vertical-align: top;
          width: 4.1rem;
          height: 4rem;
          position: absolute;
          left: 0.8696rem;
          top: 0.6rem;
          object-fit: contain;
        }
      }
      .group-8-paZ {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 5.8rem;
        cursor: pointer;

        .rectangle-21-wfB {
          position: absolute;
          left: 0.2609rem;
          top: 0.4rem;
          background-color: #ffffff;
          border-radius: 2.2rem;
          width: 29.5696rem;
          height: 5.4rem;
        }
        .hackathons-GBf {
          width: 19rem;
          height: 5.8rem;
          position: absolute;
          top: 0;
          font-size: 3.6rem;
          font-family: Jomolhari, 'Source Sans Pro';
          white-space: nowrap;
          left: 5.7273rem;
          font-weight: 400;
          line-height: 1.6025;
          color: #000000;
        }
        .ebook-nfo {
          top: 0.9rem;
          object-fit: contain;
          vertical-align: top;
          width: 6.3rem;
          height: 4.3rem;
          position: absolute;
          left: 0;
        }
      }
      .auto-group-5m8r-8Um {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 4.4rem;
        width: 100%;
        row-gap: 4.4rem;

        .group-9-fzV {
          flex-shrink: 0;
          width: 29.5696rem;
          height: 5.8rem;
          cursor: pointer;
          position: relative;

          .rectangle-20-RTs {
            height: 5.4rem;
            position: absolute;
            left: 0;
            top: 0.4rem;
            background-color: #ffffff;
            border-radius: 2.2rem;
            width: 29.5696rem;
          }
          .scholarships-xyb {
            top: 0;
            font-size: 3.6rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            height: 5.8rem;
            position: absolute;
            line-height: 1.6025;
            font-family: Jomolhari, 'Source Sans Pro';
            width: 20.6rem;
            left: 5.4304rem;
          }
          .scholarship-5HX {
            height: 4.7rem;
            position: absolute;
            left: 0.7696rem;
            top: 0.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 4.1rem;
          }
        }
        .group-14-nSq {
          cursor: pointer;
          position: relative;
          flex-shrink: 0;
          width: 29.5696rem;
          height: 5.8rem;

          .rectangle-20-YB7 {
            left: 0;
            top: 0.2rem;
            background-color: #92d79e;
            border-radius: 2.2rem;
            width: 29.5696rem;
            height: 5.4rem;
            position: absolute;
          }
          .intern-jobs-HPb {
            top: 0;
            font-size: 3.6rem;
            line-height: 1.6025;
            white-space: nowrap;
            width: 17.9rem;
            height: 5.8rem;
            position: absolute;
            left: 2.6696rem;
            font-weight: 400;
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
          }
          .internship-nr9 {
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:c05e8d9772c3a444731a149f142f1360a44fa156');
            width: 4.4rem;
            left: 1.0087rem;
            top: 1rem;
            background-size: 100% 100%;
            height: 3.4rem;
            position: absolute;
          }
        }
        .group-11-J3o {
          width: 29.5696rem;
          height: 5.8rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-22-p29 {
            position: absolute;
            left: 0;
            top: 0.2rem;
            background-color: #fafafa;
            border-radius: 2.2rem;
            width: 29.5696rem;
            height: 5.4rem;
          }
          .faqs-kgV {
            font-weight: 400;
            top: 0;
            font-size: 3.6rem;
            line-height: 1.6025;
            color: #000000;
            width: 10.4rem;
            height: 5.8rem;
            position: absolute;
            left: 7.0696rem;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
          }
          .progress-question-5Cy {
            width: 3.2419rem;
            height: 3.3167rem;
            position: absolute;
            left: 1.1027rem;
            top: 1.2416rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
  }
  .header-tRK {
    left: 0;
    top: 0;
    width: 144rem;
    height: 10.7rem;
    position: absolute;

    .rectangle-2-Rw3 {
      left: 0;
      top: 0.6rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4399999976);
      background-color: #ffffff;
      width: 144rem;
      height: 9.6rem;
      position: absolute;
    }
    .bcd3b4b5d471dae27a60bd4b5f07-1-jRw {
      position: absolute;
      left: 0;
      top: 0.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 9.1rem;
      height: 9.6rem;
    }
    .account-circle-3hX {
      height: 5rem;
      position: absolute;
      left: 134.3917rem;
      top: 2.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.9167rem;
    }
    .yourparagraphtext1-removebg-preview-1-yr5 {
      top: 0;
      background-size: 257.143% 284.211%;
      background-position: -8.8381rem -9.8553rem;
      background-image: url('REPLACE_IMAGE:3ebe9113078386c7076ec8718af0fdd9049eac5c');
      width: 11.6rem;
      height: 10.7rem;
      position: relative;
      left: 8.4rem;
    }
    .ezapi-Bx9 {
      width: 8.7rem;
      height: 4.5rem;
      left: 18.9rem;
      white-space: nowrap;
      color: #15ab30;
      font-family: jsMath-cmbx10, 'Source Sans Pro';
      position: absolute;
      top: 4.5rem;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.2575;
    }
    .bell-fsK {
      vertical-align: top;
      width: 4.2rem;
      height: 4.9rem;
      position: absolute;
      left: 126.3rem;
      top: 2.7rem;
      object-fit: contain;
    }
  }
}
