
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.scholarships-3pq {
  width: 100%;
  height: 103.1rem;
  position: relative;
  background-color: #efefef;

  .body-Pdo {
    width: 106.3rem;
    height: 84.1rem;
    position: absolute;
    left: 35.1rem;
    top: 13.1rem;

    .status-of-scholarships-5mX {
      margin-bottom: 2.3rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .applied-scholarship-status-2gm {
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.6025;
        color: #000000;
        font-family: Jomolhari, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-nppy-Yv1 {
        box-sizing: border-box;
        padding: 0.4rem 1.4rem 2.7rem 1.4rem;
        width: 104.5rem;
        background-color: #f3ffee;
        flex-shrink: 0;
        margin-left: 1.8rem;

        .sc-st-scholarship-fUq {
          font-weight: 700;
          line-height: 1.3625;
          color: #3e68fe;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.2rem;
          font-size: 2.4rem;
        }
        .eligiblity-status-yVX {
          box-sizing: border-box;
          padding: 0.2rem;
          width: calc(100% - 10.5rem);
          display: flex;
          align-items: center;
          margin: 0rem 6.2rem 0.5rem 4.3rem;

          .circle-slice-1-Duf {
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.3rem;
            width: 2rem;
          }
          .ellipse-1-8mj {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-2-qw3 {
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
          }
          .ellipse-3-nbP {
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
          }
          .ellipse-4-jFj {
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
          }
          .ellipse-5-Fjs {
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
          }
          .ellipse-6-AM3 {
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
          }
          .ellipse-7-hrm {
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
          }
          .ellipse-8-3vd {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-9-PzV {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-10-k4M {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-11-4aq {
            margin-right: 1.3rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .circle-slice-2-PND {
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.3rem;
            width: 2rem;
          }
          .ellipse-12-hNu {
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
          }
          .ellipse-13-2vy {
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
          }
          .ellipse-14-ahb {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-15-w2M {
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
          }
          .ellipse-16-46y {
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
          }
          .ellipse-17-nYm {
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
          }
          .ellipse-18-Wjf {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-19-1wK {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-20-A3X {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-21-6xm {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-22-THX {
            flex-shrink: 0;
            margin-right: 1.3rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
          }
          .circle-slice-4-149 {
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.3rem;
            width: 2rem;
          }
          .ellipse-23-B73 {
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
          }
          .ellipse-24-isf {
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
          }
          .ellipse-25-GeH {
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
          }
          .ellipse-26-cy3 {
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
          }
          .ellipse-27-yHo {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-28-8Ah {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-29-Fm7 {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-30-1EV {
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
          }
          .ellipse-31-vcM {
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
          }
          .ellipse-32-3ws {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-33-CJy {
            margin-right: 1.3rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .circle-slice-6-XMF {
            margin-right: 1.3rem;
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-34-F2M {
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
          }
          .ellipse-35-zEq {
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
          }
          .ellipse-36-jTK {
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
          }
          .ellipse-37-sJd {
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
          }
          .ellipse-38-cn1 {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-39-8VT {
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
          }
          .ellipse-40-gG5 {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-41-obb {
            border-radius: 0.3rem;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
          }
          .ellipse-42-XXb {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-43-es7 {
            margin-right: 1.1rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .ellipse-44-bGZ {
            margin-right: 1.3rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: #1e1919;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .circle-slice-8-uHF {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .frame-18-2Ms {
          align-items: center;
          margin: 0rem 3.2rem 0rem 3.4rem;
          width: calc(100% - 6.6rem);
          display: flex;
          column-gap: 13.6rem;

          .form-fill-XJd {
            font-weight: 400;
            line-height: 1.09;
            color: rgba(0, 0, 0, 0.4600000083);
            font-family: Orelega One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
          }
          .institution-verification-G1K {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.09;
            color: rgba(0, 0, 0, 0.4600000083);
            font-family: Orelega One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .government-verification-anh {
            font-family: Orelega One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.09;
            color: rgba(0, 0, 0, 0.4600000083);
          }
          .money-scentioned-L1B {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.09;
            color: rgba(0, 0, 0, 0.4600000083);
            font-family: Orelega One, 'Source Sans Pro';
          }
          .money-deposited-HBK {
            font-weight: 400;
            line-height: 1.09;
            color: rgba(0, 0, 0, 0.4600000083);
            font-family: Orelega One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
          }
        }
      }
    }
    .scholarships-eligiblity-cUV {
      margin-bottom: 3.4rem;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.6025;
      color: #000000;
      font-family: Jomolhari, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-24-kKo {
      width: calc(100% - 2.2rem);
      height: 52.4rem;
      overflow: hidden;
      position: relative;
      display: flex;
      column-gap: 3.9rem;
      align-items: flex-start;
      margin: 0rem 0.8rem 0rem 1.4rem;

      .auto-group-buar-FGZ {
        width: 32.1rem;
        height: 72.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .scholarshipcard-CBo {
          background-color: #f3ffef;
          flex-shrink: 0;
          margin-bottom: 2.6rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-ubs5-85T {
            box-sizing: border-box;
            padding: 0.3rem 0rem 3.3rem 0rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .tag-E8V {
              white-space: nowrap;
              margin-bottom: 0.7rem;
              width: 11.2rem;
              font-weight: 400;
              align-items: center;
              justify-content: center;
              background-color: #3e68fe;
              font-size: 1rem;
              line-height: 1.6025;
              color: #ffffff;
              flex-shrink: 0;
              height: 2.2rem;
              font-family: Jomolhari, 'Source Sans Pro';
              display: flex;
            }
            .auto-group-xjwm-tiq {
              width: calc(100% - 3.3rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 2.7rem 1.6rem 0.6rem;

              .mptaaslogo-1-CjX {
                margin-right: 2.6rem;
                width: 10.4rem;
                height: 9.1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .auto-group-c54r-98y {
                flex-direction: column;
                flex-shrink: 0;
                align-items: center;
                display: flex;

                .apply-date-T9f {
                  font-weight: 400;
                  line-height: 1.3625;
                  color: #3e68fe;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 1.3rem;
                  font-size: 3.1rem;
                }
                .item-01-01-2023-8mb {
                  color: #f61933;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.1rem;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.3625;
                }
              }
            }
            .post-metric-scholarship-sc-st-obc-G77 {
              line-height: 1.6025;
              color: #3e68fe;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.9rem;
              font-size: 1.3rem;
              font-weight: 400;
            }
            .last-updated-20-01-2023-ynD {
              color: rgba(0, 0, 0, 0.5500000119);
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 2.6rem 2rem;
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.6025;
            }
            .auto-group-wbdf-W1T {
              width: calc(100% - 1.8rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0.9rem 0.9rem 0.9rem;

              .granted-scholarship-e7f {
                font-weight: 400;
                line-height: 1.6025;
                color: #3e68fe;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 12.9rem 0.1rem 0rem;
                font-size: 1.3rem;
              }
              .eligiblity-mTB {
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                font-weight: 400;
                line-height: 1.6025;
                color: #3e68fe;
                flex-shrink: 0;
                margin-top: 0.1rem;
                text-align: right;
                font-size: 1.3rem;
              }
            }
            .auto-group-q7mo-Rnd {
              margin: 0rem 1.6rem 0rem 3.2rem;
              width: calc(100% - 4.8rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-101000--YsF {
                font-weight: 400;
                line-height: 1.6025;
                color: #00ff28;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.7rem 0.2rem 0rem;
                font-size: 1.3rem;
              }
              .eligible-s8q {
                color: #00ff28;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.2rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
              }
            }
          }
          .auto-group-m4h3-zUM {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            height: 4.8rem;
            color: #ffffff;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #3e68fe;
            width: 100%;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.6025;
          }
        }
        .scholarshipcard-hNm {
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #f3ffef;

          .auto-group-y3dx-SbF {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.3rem 0rem 3.3rem 0rem;
            width: 100%;

            .tag-9kZ {
              white-space: nowrap;
              flex-shrink: 0;
              height: 2.2rem;
              display: flex;
              background-color: #3e68fe;
              font-size: 1rem;
              align-items: center;
              justify-content: center;
              margin-bottom: 0.7rem;
              width: 11.2rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #ffffff;
              font-family: Jomolhari, 'Source Sans Pro';
            }
            .auto-group-tx3f-c8M {
              margin: 0rem 2.7rem 1.6rem 0.6rem;
              width: calc(100% - 3.3rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .mptaaslogo-1-jTs {
                height: 9.1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2.6rem;
                width: 10.4rem;
              }
              .auto-group-svjv-URT {
                flex-direction: column;
                flex-shrink: 0;
                align-items: center;
                display: flex;

                .apply-date-EfX {
                  margin-bottom: 1.3rem;
                  font-size: 3.1rem;
                  font-weight: 400;
                  line-height: 1.3625;
                  color: #3e68fe;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .item-01-01-2023-AJH {
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.3625;
                  color: #f61933;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.1rem;
                }
              }
            }
            .post-metric-scholarship-sc-st-obc-tk5 {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.9rem;
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #3e68fe;
              font-family: Jomolhari, 'Source Sans Pro';
            }
            .last-updated-20-01-2023-CVs {
              margin: 0rem 0rem 2.6rem 2rem;
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.6025;
              color: rgba(0, 0, 0, 0.5500000119);
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-n1nd-KqP {
              margin: 0rem 0.9rem 0.9rem 0.9rem;
              width: calc(100% - 1.8rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .granted-scholarship-UCV {
                font-weight: 400;
                line-height: 1.6025;
                color: #3e68fe;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 12.9rem 0.1rem 0rem;
                font-size: 1.3rem;
              }
              .eligiblity-QM3 {
                margin-top: 0.1rem;
                font-weight: 400;
                color: #3e68fe;
                white-space: nowrap;
                flex-shrink: 0;
                text-align: right;
                font-size: 1.3rem;
                line-height: 1.6025;
                font-family: Jomolhari, 'Source Sans Pro';
              }
            }
            .auto-group-sxhs-wLy {
              margin: 0rem 1.6rem 0rem 3.2rem;
              width: calc(100% - 4.8rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-101000--H9w {
                margin: 0rem 11.7rem 0.2rem 0rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #00ff28;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .eligible-mqo {
                font-weight: 400;
                line-height: 1.6025;
                color: #00ff28;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.2rem;
                font-size: 1.3rem;
              }
            }
          }
          .auto-group-574y-TyX {
            font-size: 2.5rem;
            align-items: center;
            background-color: #3e68fe;
            display: flex;
            width: 100%;
            height: 4.8rem;
            font-weight: 400;
            line-height: 1.6025;
            color: #ffffff;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-vtdt-XTb {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 32.1rem;
        height: 72.4rem;

        .scholarshipcard-Gvy {
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #f3ffef;
          flex-shrink: 0;
          margin-bottom: 2.6rem;
          width: 100%;

          .auto-group-jeum-og1 {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.3rem 0rem 3.3rem 0rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .tag-uyw {
              line-height: 1.6025;
              display: flex;
              background-color: #3e68fe;
              align-items: center;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              justify-content: center;
              flex-shrink: 0;
              margin-bottom: 0.7rem;
              font-size: 1rem;
              font-weight: 400;
              color: #ffffff;
              width: 11.2rem;
              height: 2.2rem;
            }
            .auto-group-xmx3-c7f {
              margin: 0rem 2.7rem 1.6rem 0.6rem;
              width: calc(100% - 3.3rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .mptaaslogo-1-gtD {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2.6rem;
                width: 10.4rem;
                height: 9.1rem;
                object-fit: contain;
              }
              .auto-group-etg5-Dt9 {
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .apply-date-nAZ {
                  color: #3e68fe;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 1.3rem;
                  font-size: 3.1rem;
                  font-weight: 400;
                  line-height: 1.3625;
                }
                .item-01-01-2023-iK7 {
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.1rem;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.3625;
                  color: #f61933;
                }
              }
            }
            .post-metric-scholarship-sc-st-obc-q8q {
              margin: 0rem 0rem 0.7rem 1.9rem;
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #3e68fe;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .last-updated-20-01-2023-whf {
              color: rgba(0, 0, 0, 0.5500000119);
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 2.6rem 2rem;
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.6025;
            }
            .auto-group-nr17-coo {
              margin: 0rem 0.9rem 0.9rem 0.9rem;
              width: calc(100% - 1.8rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .granted-scholarship-jdX {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 12.9rem 0.1rem 0rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #3e68fe;
                font-family: Jomolhari, 'Source Sans Pro';
              }
              .eligiblity-qAm {
                flex-shrink: 0;
                color: #3e68fe;
                font-family: Jomolhari, 'Source Sans Pro';
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
                white-space: nowrap;
                margin-top: 0.1rem;
                text-align: right;
              }
            }
            .auto-group-rm4y-Y5B {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 1.6rem 0rem 3.2rem;
              width: calc(100% - 4.8rem);
              display: flex;

              .item-101000--FVP {
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #00ff28;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.7rem 0.2rem 0rem;
              }
              .eligible-yAV {
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #00ff28;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.2rem;
              }
            }
          }
          .auto-group-qubb-hcH {
            line-height: 1.6025;
            color: #ffffff;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            height: 4.8rem;
            font-size: 2.5rem;
            font-weight: 400;
            align-items: center;
            background-color: #3e68fe;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
          }
        }
        .scholarshipcard-ndj {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #f3ffef;
          flex-shrink: 0;

          .auto-group-jfdx-vV3 {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.3rem 0rem 3.3rem 0rem;

            .tag-fBj {
              justify-content: center;
              margin-bottom: 0.7rem;
              width: 11.2rem;
              color: #ffffff;
              font-family: Jomolhari, 'Source Sans Pro';
              font-weight: 400;
              line-height: 1.6025;
              font-size: 1rem;
              white-space: nowrap;
              align-items: center;
              height: 2.2rem;
              display: flex;
              background-color: #3e68fe;
              flex-shrink: 0;
            }
            .auto-group-fpty-xgd {
              flex-shrink: 0;
              margin: 0rem 2.7rem 1.6rem 0.6rem;
              width: calc(100% - 3.3rem);
              display: flex;
              align-items: flex-start;

              .mptaaslogo-1-6nq {
                margin-right: 2.6rem;
                width: 10.4rem;
                height: 9.1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .auto-group-7jhw-eJZ {
                flex-shrink: 0;
                align-items: center;
                display: flex;
                flex-direction: column;

                .apply-date-ai1 {
                  font-weight: 400;
                  line-height: 1.3625;
                  color: #3e68fe;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 1.3rem;
                  font-size: 3.1rem;
                }
                .item-01-01-2023-6AZ {
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.3625;
                  color: #f61933;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.1rem;
                }
              }
            }
            .post-metric-scholarship-sc-st-obc-BC1 {
              margin: 0rem 0rem 0.7rem 1.9rem;
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #3e68fe;
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .last-updated-20-01-2023-VyP {
              font-weight: 400;
              line-height: 1.6025;
              color: rgba(0, 0, 0, 0.5500000119);
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 2.6rem 2rem;
              font-size: 1.3rem;
            }
            .auto-group-nfk1-DuP {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0.9rem 0.9rem 0.9rem;
              width: calc(100% - 1.8rem);
              display: flex;

              .granted-scholarship-AZj {
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #3e68fe;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 12.9rem 0.1rem 0rem;
              }
              .eligiblity-W7o {
                margin-top: 0.1rem;
                text-align: right;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #3e68fe;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .auto-group-icjw-RVf {
              width: calc(100% - 4.8rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 1.6rem 0rem 3.2rem;

              .item-101000--NA1 {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.7rem 0.2rem 0rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #00ff28;
                font-family: Jomolhari, 'Source Sans Pro';
              }
              .eligible-HXs {
                margin-top: 0.2rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #00ff28;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-fjzm-RPB {
            white-space: nowrap;
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            width: 100%;
            height: 4.8rem;
            font-size: 2.5rem;
            line-height: 1.6025;
            background-color: #3e68fe;
            font-weight: 400;
            color: #ffffff;
            font-family: Jomolhari, 'Source Sans Pro';
            align-items: center;
          }
        }
      }
      .auto-group-mja1-w6d {
        width: 32.1rem;
        height: 72.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .scholarshipcard-3vM {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #f3ffef;
          flex-shrink: 0;
          margin-bottom: 2.6rem;

          .auto-group-ucmj-C2Z {
            box-sizing: border-box;
            padding: 0.3rem 0rem 3.3rem 0rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .tag-gyK {
              line-height: 1.6025;
              color: #ffffff;
              flex-shrink: 0;
              height: 2.2rem;
              white-space: nowrap;
              display: flex;
              justify-content: center;
              width: 11.2rem;
              font-family: Jomolhari, 'Source Sans Pro';
              margin-bottom: 0.7rem;
              font-size: 1rem;
              font-weight: 400;
              align-items: center;
              background-color: #3e68fe;
            }
            .auto-group-cmyh-Bv5 {
              margin: 0rem 2.7rem 1.6rem 0.6rem;
              width: calc(100% - 3.3rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .mptaaslogo-1-jAu {
                margin-right: 2.6rem;
                width: 10.4rem;
                height: 9.1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .auto-group-d5z5-TMo {
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .apply-date-d1P {
                  margin-bottom: 1.3rem;
                  font-size: 3.1rem;
                  font-weight: 400;
                  line-height: 1.3625;
                  color: #3e68fe;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .item-01-01-2023-9VX {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.1rem;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.3625;
                  color: #f61933;
                  font-family: Open Sans, 'Source Sans Pro';
                }
              }
            }
            .post-metric-scholarship-sc-st-obc-eBP {
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.9rem;
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #3e68fe;
            }
            .last-updated-20-01-2023-N7P {
              margin: 0rem 0rem 2.6rem 2rem;
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.6025;
              color: rgba(0, 0, 0, 0.5500000119);
              font-family: Jomolhari, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-h173-tbX {
              flex-shrink: 0;
              margin: 0rem 0.9rem 0.9rem 0.9rem;
              width: calc(100% - 1.8rem);
              display: flex;
              align-items: center;

              .granted-scholarship-2xd {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 12.9rem 0.1rem 0rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #3e68fe;
                font-family: Jomolhari, 'Source Sans Pro';
              }
              .eligiblity-wph {
                text-align: right;
                font-size: 1.3rem;
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #3e68fe;
                font-family: Jomolhari, 'Source Sans Pro';
              }
            }
            .auto-group-mlf7-5vu {
              flex-shrink: 0;
              margin: 0rem 1.6rem 0rem 3.2rem;
              width: calc(100% - 4.8rem);
              display: flex;
              align-items: center;

              .item-101000--Rzm {
                color: #00ff28;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.7rem 0.2rem 0rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
              }
              .eligible-wTK {
                margin-top: 0.2rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #00ff28;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-lumk-5pR {
            font-size: 2.5rem;
            font-weight: 400;
            white-space: nowrap;
            display: flex;
            align-items: center;
            background-color: #3e68fe;
            flex-shrink: 0;
            width: 100%;
            height: 4.8rem;
            line-height: 1.6025;
            color: #ffffff;
            font-family: Jomolhari, 'Source Sans Pro';
            justify-content: center;
          }
        }
        .scholarshipcard-y97 {
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #f3ffef;
          flex-shrink: 0;
          width: 100%;

          .auto-group-mbuo-vq3 {
            box-sizing: border-box;
            padding: 0.3rem 0rem 3.3rem 0rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .tag-Eaq {
              font-size: 1rem;
              line-height: 1.6025;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              background-color: #3e68fe;
              height: 2.2rem;
              color: #ffffff;
              font-family: Jomolhari, 'Source Sans Pro';
              margin-bottom: 0.7rem;
              font-weight: 400;
              display: flex;
              width: 11.2rem;
              flex-shrink: 0;
            }
            .auto-group-umc9-KcH {
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 2.7rem 1.6rem 0.6rem;
              width: calc(100% - 3.3rem);
              display: flex;

              .mptaaslogo-1-rs7 {
                flex-shrink: 0;
                margin-right: 2.6rem;
                width: 10.4rem;
                height: 9.1rem;
                object-fit: contain;
                vertical-align: top;
              }
              .auto-group-8had-ZmX {
                flex-shrink: 0;
                align-items: center;
                display: flex;
                flex-direction: column;

                .apply-date-v6H {
                  line-height: 1.3625;
                  color: #3e68fe;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 1.3rem;
                  font-size: 3.1rem;
                  font-weight: 400;
                }
                .item-01-01-2023-fJm {
                  color: #f61933;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.1rem;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.3625;
                }
              }
            }
            .post-metric-scholarship-sc-st-obc-zrq {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.9rem;
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.6025;
              color: #3e68fe;
              font-family: Jomolhari, 'Source Sans Pro';
            }
            .last-updated-20-01-2023-j3j {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 2.6rem 2rem;
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.6025;
              color: rgba(0, 0, 0, 0.5500000119);
              font-family: Jomolhari, 'Source Sans Pro';
            }
            .auto-group-cchb-Syj {
              width: calc(100% - 1.8rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0.9rem 0.9rem 0.9rem;

              .granted-scholarship-Aeq {
                flex-shrink: 0;
                margin: 0rem 12.9rem 0.1rem 0rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
                color: #3e68fe;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
              }
              .eligiblity-uMX {
                line-height: 1.6025;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1rem;
                font-size: 1.3rem;
                color: #3e68fe;
                text-align: right;
                font-weight: 400;
              }
            }
            .auto-group-jygd-Eeh {
              margin: 0rem 1.6rem 0rem 3.2rem;
              width: calc(100% - 4.8rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-101000--P1o {
                color: #00ff28;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.7rem 0.2rem 0rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
              }
              .eligible-6wo {
                color: #00ff28;
                font-family: Jomolhari, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.2rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6025;
              }
            }
          }
          .auto-group-e5gz-E2R {
            flex-shrink: 0;
            width: 100%;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            color: #ffffff;
            display: flex;
            justify-content: center;
            background-color: #3e68fe;
            height: 4.8rem;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.6025;
          }
        }
      }
    }
  }
  .menu-ueM {
    box-sizing: border-box;
    padding: 6.3rem 0.27rem 6.3rem 2.23rem;
    height: 94.1rem;
    left: 0;
    box-shadow: 0.1rem -0.1rem 0.78rem rgba(0, 0, 0, 0.349999994);
    background-color: rgba(255, 255, 255, 0.6600000262);
    width: 32.5rem;
    position: absolute;
    top: 9rem;
    border: solid 0 rgba(0, 0, 0, 0.0900000036);

    .frame-2-Nnq {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 46.9rem;

      .group-7-Wu3 {
        width: 29.5696rem;
        height: 6.1rem;
        cursor: pointer;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 4.4rem;

        .rectangle-21-TZP {
          width: 29.5696rem;
          height: 5.4rem;
          position: absolute;
          left: 0;
          top: 0.7rem;
          background-color: #fafafa;
          border-radius: 2.2rem;
        }
        .documents-BkH {
          color: #000000;
          height: 5.8rem;
          top: 0;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.6025;
          width: 18.3rem;
          position: absolute;
          left: 6.3589rem;
          font-family: Jomolhari, 'Source Sans Pro';
          white-space: nowrap;
        }
        .file-document-hyX {
          top: 1.7333rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.7071rem;
          height: 3.3333rem;
          position: absolute;
          left: 1.5174rem;
        }
      }
      .group-8-qpq {
        display: flex;
        background-color: #fafafa;
        border-radius: 2.2rem;
        box-sizing: border-box;
        padding: 0rem 2.373rem 0rem 0.803rem;
        width: 100%;
        cursor: pointer;
        align-items: center;
        flex-shrink: 0;

        .lightbulb-on-10-94q {
          height: 3.6667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 1.002rem 0rem 0rem;
          width: 3.7222rem;
        }
        .oppurtunities-sWd {
          color: #000000;
          font-family: Jomolhari, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.6025;
        }
      }
      .auto-group-x5fb-ntV {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 4.4rem;
        width: 100%;
        row-gap: 4.4rem;
        display: flex;

        .group-9-wFb {
          position: relative;
          flex-shrink: 0;
          width: 29.5696rem;
          height: 5.8rem;
          cursor: pointer;

          .rectangle-20-VH7 {
            top: 0.4rem;
            background-color: #fafafa;
            border-radius: 2.2rem;
            width: 29.5696rem;
            height: 5.4rem;
            position: absolute;
            left: 0;
          }
          .issued-bb3 {
            top: 0;
            font-weight: 400;
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
            width: 10.3rem;
            height: 5.8rem;
            position: absolute;
            left: 5.4304rem;
            font-size: 3.6rem;
            line-height: 1.6025;
          }
          .file-document-check-gMb {
            position: absolute;
            left: 1.2804rem;
            top: 1.3333rem;
            object-fit: contain;
            vertical-align: top;
            width: 3.1688rem;
            height: 3.3333rem;
          }
        }
        .group-10-bzM {
          width: 29.5696rem;
          height: 5.8rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-21-xa1 {
            position: absolute;
            left: 0;
            top: 0.4rem;
            background-color: #92d79e;
            border-radius: 2.2rem;
            width: 29.5696rem;
            height: 5.4rem;
          }
          .scholarships-uEM {
            font-family: Jomolhari, 'Source Sans Pro';
            width: 20.6rem;
            height: 5.8rem;
            position: absolute;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.6025;
            color: #000000;
            white-space: nowrap;
            left: 5.4696rem;
            top: 0;
          }
          .cash-multiple-QS1 {
            height: 2.6667rem;
            position: absolute;
            left: 0.7929rem;
            top: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 3.575rem;
          }
        }
        .group-11-v9T {
          width: 29.5696rem;
          height: 5.8rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-22-52M {
            height: 5.4rem;
            position: absolute;
            left: 0;
            top: 0.2rem;
            background-color: #fafafa;
            border-radius: 2.2rem;
            width: 29.5696rem;
          }
          .faqs-QqK {
            width: 10.4rem;
            position: absolute;
            top: 0;
            font-weight: 400;
            line-height: 1.6025;
            height: 5.8rem;
            left: 7.0696rem;
            font-size: 3.6rem;
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
            white-space: nowrap;
          }
          .progress-question-LU5 {
            height: 3.3167rem;
            position: absolute;
            left: 1.1027rem;
            top: 1.2417rem;
            object-fit: contain;
            vertical-align: top;
            width: 3.2419rem;
          }
        }
      }
    }
  }
  .header-cAh {
    width: 144rem;
    height: 10.7rem;
    position: absolute;
    left: 0;
    top: 0;

    .rectangle-2-J3X {
      background-color: #ffffff;
      width: 144rem;
      height: 9.6rem;
      position: absolute;
      left: 0;
      top: 0.6rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4399999976);
    }
    .bcd3b4b5d471dae27a60bd4b5f07-1-YCm {
      width: 9.1rem;
      height: 9.6rem;
      position: absolute;
      left: 0;
      top: 0.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .account-circle-F7B {
      width: 4.9167rem;
      height: 5rem;
      position: absolute;
      left: 134.3917rem;
      top: 2.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .yourparagraphtext1-removebg-preview-1-ZNm {
      background-size: 257.143% 284.211%;
      background-position: -8.8381rem -9.8553rem;
      background-image: url('REPLACE_IMAGE:3ebe9113078386c7076ec8718af0fdd9049eac5c');
      width: 11.6rem;
      height: 10.7rem;
      position: relative;
      left: 8.4rem;
      top: 0;
    }
    .ezfill-PMo {
      width: 7.7rem;
      height: 4.5rem;
      left: 18.9rem;
      font-weight: 700;
      font-family: jsMath-cmbx10, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 4.5rem;
      font-size: 3.5rem;
      line-height: 1.2575;
      color: #15ab30;
    }
    .bell-i9B {
      width: 4.2rem;
      height: 4.9rem;
      position: absolute;
      left: 125.2rem;
      top: 2.9rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
