
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sign-up-log-in-rNZ {
  flex-direction: column;
  background-color: #efefef;
  box-sizing: border-box;
  padding-bottom: 11.9rem;
  width: 100%;
  align-items: center;
  display: flex;

  .header-Q9B {
    position: relative;
    flex-shrink: 0;
    margin-bottom: 10.2rem;
    width: 100%;
    height: 10.7rem;

    .header-kiq {
      align-items: center;
      background-color: #ffffff;
      box-sizing: border-box;
      width: 144rem;
      height: 9.6rem;
      left: 0;
      top: 0.6rem;
      padding-right: 4.6917rem;
      position: absolute;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4399999976);

      .bcd3b4b5d471dae27a60bd4b5f07-1-t4M {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 117.2rem;
        width: 9.1rem;
        height: 9.6rem;
        object-fit: cover;
      }
      .bell-bDf {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.892rem 0.5rem 0rem;
        width: 4.2rem;
        height: 4.9rem;
        object-fit: contain;
      }
      .account-circle-uEM {
        width: 4.9167rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .yourparagraphtext1-removebg-preview-1-Qgu {
      width: 11.6rem;
      height: 10.7rem;
      position: relative;
      left: 8.4rem;
      top: 0;
      background-size: 257.143% 284.211%;
      background-position: -8.8381rem -9.8553rem;
      background-image: url('REPLACE_IMAGE:3ebe9113078386c7076ec8718af0fdd9049eac5c');
    }
    .ezfill-Gj7 {
      white-space: nowrap;
      width: 7.7rem;
      height: 4.5rem;
      position: absolute;
      left: 18.9rem;
      top: 4.5rem;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #15ab30;
      font-family: jsMath-cmbx10, 'Source Sans Pro';
    }
  }
  .card-login-sign-up-Nn9 {
    box-shadow: 0 0.9rem 0.4rem rgba(0, 0, 0, 0.25);
    margin: 0rem 18.5rem 0rem 19.2rem;
    box-sizing: border-box;
    padding-bottom: 2.3rem;
    width: calc(100% - 37.7rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5.3rem;
    flex-shrink: 0;

    .auto-group-zwst-u1P {
      margin-bottom: 6.9837rem;
      width: 100%;
      height: 9.9163rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-dga9-RkR {
        white-space: nowrap;
        align-items: center;
        margin: 0rem 0.9rem 0.016rem 0rem;
        width: 51.5rem;
        height: calc(100% - 0.0163rem);
        font-weight: 700;
        display: flex;
        background-color: #99d1a3;
        font-size: 3.6rem;
        font-family: Open Sans, 'Source Sans Pro';
        justify-content: center;
        line-height: 1.3625;
        color: #ffffff;
        border-radius: 5.3rem 0 0 0;
        flex-shrink: 0;
      }
      .auto-group-zewy-s6d {
        border-left: solid 0.9rem #000000;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 53.9rem;
        height: 100%;
        position: relative;

        .rectangle-45-pGm {
          background-color: #4f33fa;
          border-radius: 0 5.3rem 0 0;
          width: 53.9rem;
          height: 9.9rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .log-in-x85 {
          height: 5rem;
          top: 3rem;
          white-space: nowrap;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.3625;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          width: 10.8rem;
          position: absolute;
          left: 20rem;
        }
      }
    }
    .sign-up-eFo {
      margin: 0rem 1.7rem 0rem 1.6rem;
      width: calc(100% - 3.3rem);
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-mppm-Zdf {
        width: calc(100% - 0.1rem);
        height: 4.9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.1rem 4.2rem 0rem;

        .name-field-Gny {
          margin-right: 3.3rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .name-dNd {
            margin-right: 2.4rem;
            font-size: 3.3rem;
            font-weight: 700;
            line-height: 1.3625;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .rectangle-45-KmF {
            height: 4.9rem;
            border: solid 0.3rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 34rem;
          }
        }
        .mobile-number-qUh {
          height: 100%;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .mobile-no-QGu {
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.5rem;
            font-size: 3.3rem;
            font-weight: 700;
            line-height: 1.3625;
            color: #000000;
          }
          .rectangle-46-LwF {
            background-color: #ffffff;
            flex-shrink: 0;
            width: 34rem;
            height: 4.9rem;
            border: solid 0.3rem #000000;
            box-sizing: border-box;
          }
        }
      }
      .auto-group-1iv9-eBF {
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 0rem 3.2rem 0.1rem;
        width: calc(100% - 0.1rem);
        height: 5.9rem;
        display: flex;

        .name-field-ww3 {
          align-items: flex-start;
          flex-shrink: 0;
          margin-right: 5.8rem;
          height: 4.9rem;
          display: flex;

          .aadhar-no-VxZ {
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2.3rem;
            font-size: 3.3rem;
            font-weight: 700;
            line-height: 1.3625;
          }
          .auto-group-r3sd-Ev9 {
            white-space: nowrap;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.4rem 1.9rem 1.5rem 25.5rem;
            font-size: 1.4rem;
            font-weight: 700;
            color: black;
            height: 100%;
            line-height: 1.3625;
            font-family: Open Sans, 'Source Sans Pro';
            border: solid 0.3rem #000000;
            background-color: #ffffff;

            &::placeholder {
              line-height: 1.3625;
              color: #23a2ff;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 700;

            }
          }
        }
        .mobile-number-3ch {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          align-items: flex-end;

          .otp-D1P {
            flex-shrink: 0;
            margin-right: 1.5rem;
            font-size: 3.3rem;
            font-weight: 700;
            line-height: 1.3625;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-46-vwP {
            border: solid 0.3rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-bottom: 1rem;
            width: 34rem;
            height: 4.9rem;
          }
        }
      }
      .auto-group-emdx-Fyf {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 5rem 6.2rem 0.2rem;
        width: calc(100% - 5.2rem);
        height: 4.9rem;

        .age-zRT {
          margin-right: 4rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .dob-9p9 {
            flex-shrink: 0;
            margin-right: 5rem;
            font-size: 3.3rem;
            font-weight: 700;
            line-height: 1.3625;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-45-GNy {
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 34rem;
            height: 4.9rem;
            border: solid 0.3rem #000000;
          }
        }
        .age-CnR {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .gender-8g5 {
            line-height: 1.3625;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.4rem;
            font-size: 3.3rem;
            font-weight: 700;
          }
          .rectangle-45-5bK {
            width: 34rem;
            height: 4.9rem;
            border: solid 0.3rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-f58r-DSd {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.6rem 3.1rem 0rem;
        width: calc(100% - 1.6rem);
        height: 4.9rem;

        .age-Yjo {
          margin-right: 4.2rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .institute-tHs {
            font-size: 3.3rem;
            font-weight: 700;
            line-height: 1.3625;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 10.3rem;
          }
          .rectangle-45-2ey {
            width: 31.9rem;
            height: 4.9rem;
            border: solid 0.3rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
          }
        }
        .age-msT {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          height: 100%;

          .pin-8CD {
            flex-shrink: 0;
            margin-right: 2.8rem;
            font-size: 3.3rem;
            font-weight: 700;
            line-height: 1.3625;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-45-5NM {
            flex-shrink: 0;
            width: 31.9rem;
            height: 4.9rem;
            border: solid 0.3rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
          }
        }
      }
      .age-zkD {
        margin: 0rem 46.2rem 1.1rem 0.2rem;
        width: calc(100% - 46.4rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .caste-Lp5 {
          font-weight: 700;
          line-height: 1.3625;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 15.5rem;
          font-size: 3.3rem;
        }
        .rectangle-45-5Fs {
          flex-shrink: 0;
          width: 31.9rem;
          height: 4.9rem;
          border: solid 0.3rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
        }
      }
      .auto-group-sntd-zNq {
        font-weight: 700;
        line-height: 1.3625;
        display: flex;
        align-items: center;
        color: #ffffff;
        justify-content: center;
        height: 7.7rem;
        font-size: 3.3rem;
        white-space: nowrap;
        margin-right: 1.6rem;
        width: 36.3rem;
        font-family: Open Sans, 'Source Sans Pro';
        background-color: #4f33fa;
        flex-shrink: 0;
      }
    }
  }
}
