version: '3'

services:
  # Django web application service
  web:
    image: mydjangoapp
    build: .
    command: python project/manage.py runserver 0.0.0.0:8000
    volumes:
      - /back_end:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  # PostgreSQL database service
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: sih_db
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 1234
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data:
