{%load static%}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Scholarship Form2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kadwa%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=K2D%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=JejuGothic%3A400"/>
  <link rel="stylesheet" href="{% static 'styles/scholarship-form2.css'%}"/>
</head>
<body>
<div class="scholarship-form2-BsB">
  <div class="header-81j">
    <img class="bcd3b4b5d471dae27a60bd4b5f07-1-FMF" src="{% static '/assets/bcd3b4b5d471dae27a60bd4b5f07-1-Z9F.png'%}"/>
    <p class="national-scholarship-portal-9hX">National Scholarship Portal</p>
  </div>
  <div class="auto-group-noq9-Cfo">
    <div class="auto-group-qg9k-j9w">
      <p class="academic-details-phB">Academic  Details</p>
      <p class="required-fields-iGm">* Required Fields</p>
    </div>
    <form action="" method="post">
      {% csrf_token %}

    <div class="academic-detail-form-nGd">
      <div class="auto-group-95mf-v7w">
      </div>
      <div class="highersecondary-e3w">
        <p class="higher-secondary-percentage-aiH">
          <span class="higher-secondary-percentage-aiH-sub-0">*</span>
          <span class="higher-secondary-percentage-aiH-sub-1">Higher Secondary Percentage</span>
        </p>
        {{form.highersecondarypercentage}}
        <!-- <input class="rectangle-55-gPw" type="number"/> -->
        <div class="group-24-tW1">
          <div class="rectangle-55-S1j">
          </div>
          <p class="choose-file-mJu">Choose file</p>
          <img class="sort-down-GmT" src="{% static '/assets/sort-down.png'%}"/>
        </div>
      </div>
      <div class="transfer-certificate-zBf">
        <p class="transfer-certificate-Kjj">
          <span class="transfer-certificate-Kjj-sub-0">*</span>
          <span class="transfer-certificate-Kjj-sub-1">Transfer Certificate</span>
        </p>
        <div class="rectangle-56-DTj">
        </div>
        {{form.transfercertificate}}
        <!-- <input class="group-25-hdo" type="number"/> -->
      </div>
      <div class="domicile-certificate-8sX">
        <div class="group-22-3zV">
          <p class="gap-certificate-1Ad">
            <span class="gap-certificate-1Ad-sub-0">*</span>
            <span class="gap-certificate-1Ad-sub-1">Gap</span>
            <span class="gap-certificate-1Ad-sub-2"> Certificate </span>
          </p>
          <div class="rectangle-56-LEq">
          </div>
        </div>
        {{form.gapcertificate}}
        <!-- <input class="group-24-emK" type="number"/> -->
      </div>
      <div class="secondary-class-percentage-khs">
        <p class="secondary-class-percentage-Hho">
          <span class="secondary-class-percentage-Hho-sub-0">*</span>
          <span class="secondary-class-percentage-Hho-sub-1">Secondary Class Percentage</span>
          <span class="secondary-class-percentage-Hho-sub-2"> </span>
        </p>
        {{form.secondaryclasspercentage}}
        <!-- <input class="rectangle-55-iAq" type="number"/> -->
        <div class="group-23-cX7">
          <div class="rectangle-55-8kM">
          </div>
          <p class="choose-file-FKB">Choose file</p>
          <img class="sort-down-99f" src="{% static '/assets/sort-down-waD.png'%}"/>
        </div>
      </div>
      <div class="last-year-marksheet-qYH">
        <div class="group-20-B6M">
          <p class="last-year-marksheet-U5T">
            <span class="last-year-marksheet-U5T-sub-0">*</span>
            <span class="last-year-marksheet-U5T-sub-1">Last Year Marksheet</span>
            <span class="last-year-marksheet-U5T-sub-2"> </span>
          </p>
          <div class="rectangle-61-Rwj">
          </div>
        </div>
        {{form.lastyearmarksheet}}
        <!-- <input class="group-25-jxR" type="numbeer"/> -->
      </div>
    </div>
    </form>
    <div class="next-button-T1F">
      <div class="rectangle-68-m1w">
      </div>
      <p class="next-7Lh">Next</p>
    </div>
  </div>
</div>

</body>